<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card :loading="loading">
                    <v-card-title>
                        <span class="headline">Paciente nuevo</span>
                    </v-card-title>
                    <v-card-text>
                        <paciente-form @save="save"></paciente-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'pacientes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../../../mixins/toast'

    const PacienteForm = () => import('../../../../components/sanitaria/forms/PacienteForm')

    export default {
        components: {
            PacienteForm
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                loading: false,
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true
                    let result = await this['catalogos/storePaciente'](draft)
                    this.toastSuccess('El paciente se guardó correctamente')
                    await this.$router.push({name: 'pacientes-edit', params: {id: result.data.item.id}})
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos, algo ha salido mal intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'catalogos/storePaciente',
                'ui/setSnackBar'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
