<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card :loading="loading">
                    <v-card-title>
                        <span class="headline">Editar nuevo</span>
                    </v-card-title>
                    <v-card-text v-if="ready">
                        <paciente-form :populate-with="paciente" @save="save"></paciente-form>
                    </v-card-text>
                    <v-card-text v-else>
                        <p>Cargando datos... espere un momento</p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'pacientes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    import {Toast} from '../../../../mixins/toast'

    const PacienteForm = () => import('../../../../components/sanitaria/forms/PacienteForm')

    export default {
        components: {
            PacienteForm
        },
        mixins: [Toast],
        props: {
            id: {
                type: [Number, String]
            }
        },
        data() {
            return {
                loading: false,
                cloneId: null,
                ready: false,
            }
        },
        async created() {
            this.cloneId = parseInt(this.id)

            if (this.countPacientes <= 0) {
                await this['catalogos/getPacientes']()
            }

            this.ready = true
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true
                    await this['catalogos/updateStore'](draft)
                    this.toastSuccess('El paciente se actulizó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos, algo ha salido mal intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/getPacientes',
                'catalogos/updateStore',
            ]),
            ...mapGetters([
                'catalogos/getPacienteById',
                'catalogos/countPacientes',
            ])
        },
        computed: {
            paciente() {
                let getPaciente = this['catalogos/getPacienteById']()

                return getPaciente(this.cloneId)
            },
            countPacientes() {
                return this['catalogos/countPacientes']()
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
