<template>
    <v-container class="pb-10" fluid>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <v-toolbar flat>
                            <v-toolbar-title>Pacientes</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-text-field append-icon="mdi-magnify"
                                          hide-details
                                          label="Buscar"
                                          single-line
                                          type="text"
                                          v-model="search"
                            ></v-text-field>
                        </v-toolbar>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="pacientes"
                                      :loading="loading"
                                      :search="search"
                                      class="elevation-0"
                        >
                            <template v-slot:item.actions="{item}">
                                <v-icon @click="editPaciente(item)"
                                        class="mr-2"
                                        small
                                >
                                    mdi-pencil
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'pacientes-create'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {mapActions, mapGetters, mapState} from 'vuex'
    import {Toast} from '../../../../mixins/toast'

    export default {
        components: {},
        mixins: [Toast],
        props: {},
        data() {
            return {
                loading: false,
                search: '',
                headers: [
                    {text: 'Acciones', value: 'actions', sortable: false},
                    {text: 'Paciente', value: 'apellidos_nombre'},
                    {text: 'Teléfono', value: 'telefono'},
                    {text: 'Email', value: 'email'},
                ]
            }
        },
        async created() {
            if (this.countPacientes <= 0) {
                try {
                    this.loading = true
                    await this['catalogos/getPacientes']()
                } catch (e) {
                    console.log(e)
                    this.toastError('Error al cargar los datos')
                } finally {
                    this.loading = false
                }
            }
        },
        methods: {
            editPaciente(item) {
                this.$router.push({name: 'pacientes-edit', params: {id: item.id}})
            },
            ...mapActions([
                'catalogos/getPacientes'
            ]),
            ...mapGetters([
                'catalogos/countPacientes'
            ])
        },
        computed: {
            countPacientes() {
                return this['catalogos/countPacientes']()
            },
            ...mapState({
                pacientes: state => state.catalogos.pacientes,
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
