<template>

    <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
        :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Articulos</v-toolbar-title>
                <v-divider
                    class="mx-2"
                    inset
                    vertical>
                </v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Filtrar"
                    single-line
                    hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog"  max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" color="info" dark class="mb-2">Cargar articulo</v-btn>
                    </template>
                    <v-card>
                        <v-form v-model="valid" ref="form" @submit.prevent>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md pa-0>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
                                            <v-autocomplete
                                                v-model="cat_articulo"
                                                :items="cat_articulos"
                                                required
                                                autocomplete="off"
                                                :rules="[v => !!v.id || 'Campo obligatorio']"
                                                label="Articulo"
                                                item-text="text"
                                                item-value="id"
                                                return-object
                                            ></v-autocomplete>
                                            <p v-if="cat_articulo.id">
                                                {{ cat_articulo.presentacion }}
                                                | Uni. Medida:{{ cat_articulo.unidad_medida }}
                                                | Marca:{{ cat_articulo.marca }}
                                                | Modelo:{{ cat_articulo.modelo }}
                                            </p>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.descripcion_adicional"
                                                          label="Descripción adicional">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4 v-if="cat_articulo.serie_obligatorio">
                                            <v-text-field v-model="item.serie"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          label="Serie">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4 v-if="cat_articulo.lote_obligatorio">
                                            <v-text-field v-model="item.lote"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          label="Lote">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.color"
                                                          label="Color">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4 v-if="cat_articulo.caducidad_obligatoria">
                                            <v-menu
                                                v-model="menu_fecha"
                                                :close-on-content-click="false"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="item.fecha_caducidad"
                                                        label="Fecha de caducidad"
                                                        prepend-icon="mdi-calendar-range"
                                                        readonly
                                                        v-on="on"
                                                        required
                                                        autocomplete="off"
                                                        :rules="[v => !!v || 'Campo obligatorio']"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="item.fecha_caducidad"

                                                               @input="menu_fecha = false"></v-date-picker>
                                            </v-menu>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad"
                                                          type="number"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          label="Cantidad">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.precio"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          type="number"
                                                          label="Precio unitario">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.iva"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          type="number"
                                                          label="Iva unitario">
                                            </v-text-field>
                                        </v-flex>

                                        <v-snackbar
                                            v-model="show"
                                            :color="color"
                                            :timeout="3000"
                                            :bottom="true"
                                            :right="true"
                                        >
                                            {{ message }}
                                            <v-icon
                                                dark
                                                text
                                                @click="show = false"
                                            >
                                                mdi-close
                                            </v-icon>
                                        </v-snackbar>
                                        <v-dialog v-model="dialogDelete" persistent max-width="290">
                                            <v-card>
                                                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                                                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                                                <v-card-actions>
                                                    <div class="flex-grow-1"></div>
                                                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                                                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>

                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                <v-btn color="success"
                                       :disabled="!valid"
                                       @click="validate"
                                       type="submit"
                                       :loading="loading"
                                >Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <v-spacer></v-spacer>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
                mdi-pencil-outline
            </v-icon>
            <v-icon
                small
                @click="openDeleteItem(item)"
            >
                mdi-delete
            </v-icon>
        </template>

        <template v-slot:no-data>
            <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        </template>
    </v-data-table>
</template>

<script>
    import ApiEntradas from '@/router/api/inventarios/entradas.js'
    import store from '@/store';
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'EntradaArticulos',
        data: () => ({
            headers: [
                {text: '#', value: 'cat_articulo.id'},
                //{text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Presentación', value: 'cat_articulo.presentacion'},
                {text: 'Uni Medida', value: 'cat_articulo.unidad_medida'},
                {text: 'Lote', value: 'lote'},
                {text: 'Fecha caducidad', value: 'fecha_caducidad'},
                {text: 'Cantidad', value: 'cantidad'},
                {text: 'Precio', value: 'precio'},
                {text: 'Iva', value: 'iva'},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
            items: [],
            item: {

            },
            cat_articulo: {
                presentacion:'',
                serie_obligatorio:0,
                lote_obligatorio:0,
                caducidad_obligatoria:0,
            },
            cat_articulos: [],

            ca_defaults: {
                presentacion:'',
                serie_obligatorio:0,
                lote_obligatorio:0,
                caducidad_obligatoria:0,
            },
            search: '',
            defaults: {},
            menu_fecha: false,
            dialog: false,
            dialogDelete: false,
            valid: false,
            loading: false,
            validating: false,
            editedIndex: -1,
            editedId: -1,
            /* Notification Settings */
            show: false,
            message: '',
            color: ''

        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Cargar articulo' : 'Editar articulo'
            },
            entradaArticulos() {
                return this['inventarios/getEntradaArticulos']()
            },

        },
        created() {

            this.items = this.entradaArticulos;

            ApiEntradas.getCatArticulos()
                .then(({data}) => {
                    this.cat_articulos = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [cat_articulos]', 'error')
                })
        },
        methods: {
            close() {
                this.dialog = false
                console.log(this.ca_defaults)
                this.cat_articulo = Object.assign({}, this.ca_defaults)
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)

                    this.editedIndex = -1
                    this.editedId = -1
                    this.$refs.form.resetValidation()
                    //this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            deleteItem() {
                let index = this.editedIndex;
                this.items.splice(index, 1)
                this.dialogDelete = false;

                this.notify('El elemento fue eliminado correctamente', 'success')

                this.editedIndex = -1
                this.editedId = -1
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this.cat_articulo = Object.assign({}, item.cat_articulo)
                this.dialog = true
            },

            submit() {
                if (this.editedIndex > -1) {

                    this.loading = false
                    this.item.cat_articulo = this.cat_articulo
                    Object.assign(this.items[this.editedIndex], this.item);

                    this.notify('El elemento fue modificado correctamente','succes')

                } else {
                    this.loading = false
                    this.item.cat_articulo = this.cat_articulo
                    this.items.push(this.item)
                    this.notify('El elemento fue registrado correctamente','succes')
                }
                this.close()
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },
            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'inventarios/fetchEntradaArticulos'
            ]),
            ...mapGetters([
                'inventarios/getEntradaArticulos',
            ])

        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            items(val){
                this['inventarios/fetchEntradaArticulos'](val);
                console.log(val)
            },
            entradaArticulos(val){
                console.log('seteando items con entradaArticulos')
                this.items = val;
            }
        },
    }
</script>

<style scoped>

</style>
