<template>

    <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Articulos</v-toolbar-title>
                <v-divider
                        class="mx-2"
                        inset
                        vertical>
                </v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Filtrar"
                        single-line
                        hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="740px">
                    <template v-slot:activator="{ on }">
                        <!--                        <v-btn v-on="on" color="info" :disabled="!articulos.length" light class="mb-2">Agregar articulo</v-btn>-->
                    </template>
                    <v-card>
                        <v-form v-model="valid" ref="form" @submit.prevent>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md pa-0>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
                                            <v-autocomplete
                                                    v-model="articulo"
                                                    :items="articulos"
                                                    required
                                                    readonly
                                                    autocomplete="off"
                                                    :rules="[v => !!v.id || 'Campo obligatorio']"
                                                    label="Articulo"
                                                    item-text="cat_articulo.text_tag"
                                                    item-value="id"
                                                    return-object
                                            ></v-autocomplete>
                                            <v-simple-table
                                                    dense
                                                    v-if="articulo.id"
                                            >
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th>Clave</th>
                                                            <th>Descripción</th>
                                                            <th>Presentación</th>
                                                            <th>Unidad medida</th>
                                                            <th>Autorizada</th>
                                                            <th>Entregada</th>
                                                            <th>Por entregar</th>
                                                            <th>Pendiente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ articulo.cat_articulo.clave }}</td>
                                                            <td>{{ articulo.cat_articulo.descripcion }}</td>
                                                            <td>{{ articulo.cat_articulo.presentacion }}</td>
                                                            <td>{{ articulo.cat_articulo.unidad_medida }}</td>
                                                            <td>{{ articulo.cantidad_autorizada }}</td>
                                                            <td>{{ articulo.cantidad_entregada }}</td>
                                                            <td>{{ articulo.cantidad_entregar + por_entregar }}</td>
                                                            <td>{{
                                                                articulo.cantidad_autorizada - articulo.cantidad_entregada
                                                                - articulo.cantidad_entregar
                                                                - por_entregar
                                                                }}
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </template>

                                            </v-simple-table>
                                        </v-flex>
                                        <v-spacer></v-spacer>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.descripcion_adicional"
                                                          readonly
                                                          label="Descripción adicional">
                                            </v-text-field>
                                        </v-flex>
                                        <template v-if="articulo.cat_articulo">
                                            <v-flex xs12 sm4 md4 v-if="articulo.cat_articulo.serie_obligatorio">
                                                <v-text-field v-model="item.serie"
                                                              required
                                                              readonly
                                                              autocomplete="off"
                                                              :rules="[v => !!v || 'Campo obligatorio']"
                                                              label="Serie">
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4 md4 v-if="articulo.cat_articulo.lote_obligatorio">
                                                <v-text-field v-model="item.lote"
                                                              required
                                                              readonly
                                                              autocomplete="off"
                                                              :rules="[v => !!v || 'Campo obligatorio']"
                                                              label="Lote">
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4 md4>
                                                <v-text-field v-model="item.color"
                                                              readonly
                                                              label="Color">
                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm4 md4 v-if="articulo.cat_articulo.caducidad_obligatoria">


                                                <v-text-field
                                                        v-model="item.fecha_caducidad"
                                                        label="Fecha de caducidad"
                                                        prepend-icon="mdi-calendar-range"
                                                        readonly
                                                        required
                                                        autocomplete="off"
                                                        :rules="[v => !!v || 'Campo obligatorio']"
                                                ></v-text-field>


                                            </v-flex>
                                        </template>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad"
                                                          type="number"
                                                          required
                                                          readonly
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio'
                                                          ,v => parseInt(articulo.cantidad_autorizada) >=
                                                          parseInt(por_entregar) + articulo.cantidad_entregar

                                                          || 'Cantidad máxima: '
                                                          +`${parseInt(articulo.cantidad_autorizada) -
                                                          parseInt(articulo.cantidad_entregada) }`+''
                                                          ,v => v > 0 || 'Ingrese cantidad mayor a 0'
                                                          ]"
                                                          label="Cantidad">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad_entregada"
                                                          type="number"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio'
                                                          ,v => v <= item.cantidad
                                                          || 'Cantidad máxima: '
                                                          +`${parseInt(item.cantidad) }`+''
                                                          ,v => v > 0 || 'Ingrese cantidad mayor a 0'
                                                          ]"
                                                          label="Cantidad">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.precio"
                                                          readonly
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          type="number"
                                                          label="Precio unitario">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.iva"
                                                          readonly
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          type="number"
                                                          label="Iva unitario">
                                            </v-text-field>
                                        </v-flex>

                                        <v-snackbar
                                                v-model="show"
                                                :color="color"
                                                :timeout="3000"
                                                :bottom="true"
                                                :right="true"
                                        >
                                            {{ message }}
                                            <v-icon
                                                    dark
                                                    text
                                                    @click="show = false"
                                            >
                                                mdi-close
                                            </v-icon>
                                        </v-snackbar>
                                        <v-dialog v-model="dialogDelete" persistent max-width="290">
                                            <v-card>
                                                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                                                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                                                <v-card-actions>
                                                    <div class="flex-grow-1"></div>
                                                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                                                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>

                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                <v-btn color="success"
                                       :disabled="!valid"
                                       @click="validate"
                                       type="submit"
                                       :loading="loading"
                                >Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <v-spacer></v-spacer>
        <template v-slot:item.action="{ item }">
            <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
            >
                mdi-pencil-outline
            </v-icon>
            <v-icon
                    small
                    @click="openDeleteItem(item)"
            >
                mdi-delete
            </v-icon>
        </template>

        <template v-slot:no-data>
            <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        </template>
    </v-data-table>
</template>

<script>
    import ApiRemision from '@/router/api/inventarios/remisiones.js'
    import store from '@/store';
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'RemisionArticulos',
        data: () => ({
            headers: [
                {text: '#', value: 'cat_articulo.id'},
                //{text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Presentación', value: 'cat_articulo.presentacion'},
                {text: 'Uni Medida', value: 'cat_articulo.unidad_medida'},
                {text: 'Lote', value: 'lote'},
                {text: 'Fecha caducidad', value: 'fecha_caducidad'},
                {text: 'Cantidad', value: 'cantidad'},
                {text: 'Cantidad entregada', value: 'cantidad_entregada'},
                {text: 'Precio', value: 'precio'},
                {text: 'Iva', value: 'iva'},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
            items: [],
            item: {},
            cat_articulo: {
                presentacion: '',
                serie_obligatorio: 0,
                lote_obligatorio: 0,
                caducidad_obligatoria: 0,
            },
            articulo: {},
            cat_articulos: [],

            ca_defaults: {
                cantidad_autorizada: 0,
                cantidad_entregada: 0,
                cantidad_solicitada: 0,
                cat_articulo: {}
            },
            search: '',
            defaults: {},
            menu_fecha: false,
            dialog: false,
            dialogDelete: false,
            valid: false,
            loading: false,
            validating: false,
            editedIndex: -1,
            editedId: -1,
            /* Notification Settings */
            show: false,
            message: '',
            color: ''

        }),
        computed: {
            por_entregar() {
                let cantidad = 0;
                let resta = 0;
                // Buscar cantidades del mismo articulo en la misma remision
                let solicitud_articulo_id = this.articulo.id;

                //this.editedIndex;
                let itemsE = clone(this.entradaArticulos);
                if (this.editedIndex !== -1) {
                    resta = itemsE[this.editedIndex].cantidad;
                    itemsE.splice(this.editedIndex, 1);
                }
                console.log(resta);
                let itemsOk = itemsE.filter(function (array_el) {
                    if (array_el.solicitud_articulo_id === solicitud_articulo_id) {
                        cantidad += parseInt(array_el.cantidad);
                    }
                });

                cantidad += parseInt(this.item.cantidad || 0);
                return cantidad - resta;
            },
            formTitle() {
                return this.editedIndex === -1 ? 'Cargar articulo' : 'Editar articulo'
            },
            entradaArticulos() {
                return this['inventarios/getEntradaArticulos']() || []
            },
            articulos() {
                let itemsOk = [];
                if (this.editedIndex !== -1) {
                    itemsOk = this['inventarios/getArticulos']() || [];
                } else {
                    itemsOk = this['inventarios/getArticulos']() || [];
                    /*
                    let articulosOriginales = this['inventarios/getArticulos']() || [];
                    let articulosEntrada = this.entradaArticulos;

                    itemsOk = articulosOriginales.filter(function (array_el) {
                        return articulosEntrada.filter(function (anotherOne_el) {
                            return anotherOne_el.cat_articulo_id === array_el.cat_articulo_id;
                        }).length === 0;
                    });
                    */

                }
                return itemsOk;
            },

        },
        created() {

            this.items = this.entradaArticulos;
            /*
            ApiRemision.getSolicitudArticulos()
                .then(({data}) => {
                    this.solicitud_articulos = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [solicitud_articulos]', 'error')
                })*/
        },
        methods: {
            close() {
                this.dialog = false
                console.log(this.ca_defaults)
                this.articulo = Object.assign({}, this.ca_defaults)
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)

                    this.editedIndex = -1
                    this.editedId = -1
                    this.$refs.form.resetValidation()
                    //this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            deleteItem() {
                let index = this.editedIndex;
                this.items.splice(index, 1)
                this.dialogDelete = false;

                this.notify('El elemento fue eliminado correctamente', 'success')

                this.editedIndex = -1
                this.editedId = -1
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)

                //this.articulo = Object.assign(item, this.articulo)
                this.item = Object.assign({}, item)
                //this.articulo = Object.assign({}, item)

                this.cat_articulo = Object.assign({}, item.cat_articulo)
                this.articulo = Object.assign({}, item.solicitud_articulo)
                this.dialog = true
            },

            submit() {
                if (this.editedIndex > -1) {

                    this.loading = false
                    this.item.cat_articulo = this.articulo.cat_articulo
                    Object.assign(this.items[this.editedIndex], this.item);

                    this.notify('El elemento fue modificado correctamente', 'succes')

                } else {
                    this.loading = false
                    this.item.solicitud_articulo_id = this.articulo.id
                    this.item.cat_articulo = this.articulo.cat_articulo
                    this.items.push(this.item)
                    this.notify('El elemento fue registrado correctamente', 'succes')
                }
                this.close()
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },
            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'inventarios/fetchEntradaArticulos'
            ]),
            ...mapGetters([
                'inventarios/getEntradaArticulos',
                'inventarios/getArticulos',
            ])

        },
        watch: {

            dialog(val) {
                val || this.close()
            },
            items(val) {
                this['inventarios/fetchEntradaArticulos'](val);
                console.log(val)
            },
            entradaArticulos(val) {
                console.log('seteando items con entradaArticulos')
                this.items = val;
            }
        },
    }
</script>

<style scoped>

</style>
