<template>

    <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Articulos</v-toolbar-title>
                <v-divider
                        class="mx-2"
                        inset
                        vertical>
                </v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Filtrar"
                        single-line
                        hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                        <v-form v-model="valid" ref="form" @submit.prevent>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md pa-0>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
                                            <v-autocomplete
                                                    v-model="cat_articulo"
                                                    :items="cat_articulos"
                                                    readonly
                                                    required
                                                    autocomplete="off"
                                                    :rules="[v => !!v.id || 'Campo obligatorio']"
                                                    label="Articulo"
                                                    item-text="text"
                                                    item-value="id"
                                                    return-object
                                            ></v-autocomplete>
                                            <p v-if="cat_articulo.id">
                                                {{ cat_articulo.presentacion }}
                                                | Uni. Medida:{{ cat_articulo.unidad_medida }}
                                                | Marca:{{ cat_articulo.marca }}
                                                | Modelo:{{ cat_articulo.modelo }}
                                            </p>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.descripcion_adicional"
                                                          label="Descripción adicional">
                                            </v-text-field>
                                        </v-flex>


                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad_solicitada"
                                                          type="number"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio']"
                                                          label="Cantidad solicitada">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad_autorizada"
                                                          type="number"
                                                          required
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio'
                                                          ,v => v <= item.cantidad_solicitada || 'Cantidad máxima: '+`${item.cantidad_solicitada}`+''
                                                          ,v => v > 0 || 'Ingrese cantidad mayor a 0']"
                                                          label="Cantidad autorizada">
                                            </v-text-field>
                                        </v-flex>

                                        <v-snackbar
                                                v-model="show"
                                                :color="color"
                                                :timeout="3000"
                                                :bottom="true"
                                                :right="true"
                                        >
                                            {{ message }}
                                            <v-icon
                                                    dark
                                                    text
                                                    @click="show = false"
                                            >
                                                mdi-close
                                            </v-icon>
                                        </v-snackbar>
                                        <v-dialog v-model="dialogDelete" persistent max-width="290">
                                            <v-card>
                                                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                                                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                                                <v-card-actions>
                                                    <div class="flex-grow-1"></div>
                                                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                                                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>

                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                <v-btn color="success"
                                       :disabled="!valid"
                                       @click="validate"
                                       type="submit"
                                       :loading="loading"
                                >Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <v-spacer></v-spacer>
        <template v-slot:item.action="{ item }">
            <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
            >
                mdi-pencil-outline
            </v-icon>
            <v-icon
                    small
                    @click="openDeleteItem(item)"
            >
                mdi-delete
            </v-icon>
        </template>

        <template v-slot:no-data>
            <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        </template>
    </v-data-table>
</template>

<script>
    import ApiSolicitudes from '@/router/api/inventarios/solicitudes.js'
    import store from '@/store';
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'SolicitudArticulos',
        data: () => ({
            headers: [
                {text: '#', value: 'cat_articulo.id'},
                //{text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Clave', value: 'cat_articulo.clave'},
                {text: 'Presentación', value: 'cat_articulo.presentacion'},
                {text: 'Uni Medida', value: 'cat_articulo.unidad_medida'},
                {text: 'Cantidad solicitada', value: 'cantidad_solicitada'},
                {text: 'Cantidad autorizada', value: 'cantidad_autorizada'},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
            items: [],
            item: {},
            cat_articulo: {
                presentacion: '',
                serie_obligatorio: 0,
                lote_obligatorio: 0,
                caducidad_obligatoria: 0,
            },
            cat_articulos: [],

            ca_defaults: {
                presentacion: '',
                serie_obligatorio: 0,
                lote_obligatorio: 0,
                caducidad_obligatoria: 0,
            },
            search: '',
            defaults: {},
            menu_fecha: false,
            dialog: false,
            dialogDelete: false,
            valid: false,
            loading: false,
            validating: false,
            editedIndex: -1,
            editedId: -1,
            /* Notification Settings */
            show: false,
            message: '',
            color: ''

        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Cargar articulo' : 'Editar articulo'
            },
            solicitudArticulos() {
                return this['inventarios/getSolicitudArticulos']()
            },

        },
        created() {

            this.items = this.solicitudArticulos;

            ApiSolicitudes.getCatArticulos()
                .then(({data}) => {
                    this.cat_articulos = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [cat_articulos]', 'error')
                })
        },
        methods: {
            close() {
                this.dialog = false
                console.log(this.ca_defaults)
                this.cat_articulo = Object.assign({}, this.ca_defaults)
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)

                    this.editedIndex = -1
                    this.editedId = -1
                    this.$refs.form.resetValidation()
                    //this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            deleteItem() {
                let index = this.editedIndex;
                this.items.splice(index, 1)
                this.dialogDelete = false;

                this.notify('El elemento fue eliminado correctamente', 'success')

                this.editedIndex = -1
                this.editedId = -1
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this.cat_articulo = Object.assign({}, item.cat_articulo)
                this.dialog = true
            },

            submit() {
                if (this.editedIndex > -1) {

                    this.loading = false
                    this.item.cat_articulo = this.cat_articulo
                    Object.assign(this.items[this.editedIndex], this.item);

                    this.notify('El elemento fue modificado correctamente', 'succes')

                } else {
                    this.loading = false
                    this.item.cat_articulo = this.cat_articulo
                    this.items.push(this.item)
                    this.notify('El elemento fue registrado correctamente', 'succes')
                }
                this.close()
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },
            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'inventarios/fetchSolicitudArticulos'
            ]),
            ...mapGetters([
                'inventarios/getSolicitudArticulos',
            ])

        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            items(val) {
                this['inventarios/fetchSolicitudArticulos'](val);
                console.log(val)
            },
            entradaArticulos(val) {
                console.log('seteando items con solicitudArticulos')
                this.items = val;
            }
        },
    }
</script>

<style scoped>

</style>
