<template>
    <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
        :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Articulos</v-toolbar-title>
                <v-divider
                    class="mx-2"
                    inset
                    vertical>
                </v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Filtrar"
                    single-line
                    hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog"  max-width="500px">
                    <v-card>
                        <v-form v-model="valid" ref="form" @submit.prevent>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md pa-0>
                                    <v-layout wrap>
                                        <v-flex xs12 sm12 md12>
                                            <v-autocomplete
                                                v-model="articulo"
                                                :items="articulos"
                                                readonly
                                                autocomplete="off"
                                                label="Articulo"
                                                item-text="text"
                                                item-value="id"
                                                return-object
                                            ></v-autocomplete>

                                            <p v-if="item.id">
                                                {{ item.articulo.cat_articulo.presentacion }}
                                                | Caducidad:{{ item.articulo.fecha_caducidad }}
                                                | Adicional:{{ item.articulo.descripcion_adicional }}<br>
                                                Origen: {{ item.articulo.origen_tag }}
                                                | Cantidad disponible: {{ item.cantidad }}
                                            </p>
                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad"
                                                          type="number"
                                                          readonly
                                                          min="1"
                                                          autocomplete="off"
                                                          label="Cantidad">
                                            </v-text-field>

                                        </v-flex>
                                        <v-flex xs12 sm4 md4>
                                            <v-text-field v-model="item.cantidad_recibida"
                                                          type="number"
                                                          required
                                                          min="1"
                                                          autocomplete="off"
                                                          :rules="[v => !!v || 'Campo obligatorio'
                                                          ,v => v <= item.cantidad || 'Cantidad máxima: '+`${item.cantidad}`+''
                                                          ,v => v > 0 || 'Ingrese cantidad mayor a 0']
                                                          " label="Cantidad recibida">
                                            </v-text-field>

                                        </v-flex>
                                        <v-flex xs12 sm8 md8>
                                            <v-text-field v-model="item.descripcion_adicional"
                                                          label="Observaciones">
                                            </v-text-field>
                                        </v-flex>
                                        <v-snackbar
                                            v-model="show"
                                            :color="color"
                                            :timeout="3000"
                                            :bottom="true"
                                            :right="true"
                                        >
                                            {{ message }}
                                            <v-icon
                                                dark
                                                text
                                                @click="show = false"
                                            >
                                                mdi-close
                                            </v-icon>
                                        </v-snackbar>
                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                <v-btn color="success"
                                       :disabled="!valid"
                                       @click="validate"
                                       type="submit"
                                       :loading="loading"
                                >Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <v-spacer></v-spacer>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
                mdi-pencil-outline
            </v-icon>
        </template>

        <template v-slot:no-data>
            <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        </template>
    </v-data-table>
</template>

<script>
    import ApiTransferencias from '@/router/api/inventarios/transferencias.js'
    import store from '@/store';
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'TransferenciaRecibirArticulos',
        data: () => ({
            headers: [
                {text: '#', value: 'articulo.id'},
                //{text: 'Clave', value: 'articulo.clave'},
                {text: 'Clave', value: 'articulo.cat_articulo.clave'},
                {text: 'Presentación', value: 'articulo.cat_articulo.presentacion'},
                {text: 'Uni Medida', value: 'articulo.cat_articulo.unidad_medida'},
                {text: 'Lote', value: 'articulo.lote'},
                {text: 'Fecha caducidad', value: 'articulo.fecha_caducidad'},
                {text: 'Cantidad a recibir', value: 'cantidad'},
                {text: 'Cantidad recibida', value: 'cantidad_recibida'},
                {text: 'Precio', value: 'articulo.precio'},
                {text: 'Iva', value: 'articulo.iva'},
                {text: 'Acciones', value: 'action', sortable: false},
            ],
            items: [],
            item: {
            },
            articulo: {
                presentacion:'',
                serie_obligatorio:0,
                lote_obligatorio:0,
                caducidad_obligatoria:0,
            },
            ca_defaults: {
                presentacion:'',
                serie_obligatorio:0,
                lote_obligatorio:0,
                caducidad_obligatoria:0,
            },
            search: '',
            defaults: {},
            menu_fecha: false,
            dialog: false,
            dialogDelete: false,
            valid: false,
            loading: false,
            validating: false,
            editedIndex: -1,
            editedId: -1,
            /* Notification Settings */
            show: false,
            message: '',
            color: ''

        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Cargar articulo' : 'Editar articulo'
            },
            transferenciaArticulos() {
                return this['inventarios/getTransferenciaArticulos']()
            },
            articulos(){
                return this['inventarios/getArticulos']()
            },
            transferenciaOrigenId() {
                return this['inventarios/getTransferenciaOrigenId']()
            },

        },
        created() {
            this.items = this.transferenciaArticulos;
            //this.getArticulos(this.transferenciaOrigenId)
        },
        methods: {

            close() {
                this.dialog = false
                console.log(this.ca_defaults)
                this.articulo = Object.assign({}, this.ca_defaults)
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)

                    this.editedIndex = -1
                    this.editedId = -1
                    this.$refs.form.resetValidation()
                    //this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            deleteItem() {
                let index = this.editedIndex;
                this.items.splice(index, 1)
                this.dialogDelete = false;

                this.notify('El elemento fue eliminado correctamente', 'success')

                this.editedIndex = -1
                this.editedId = -1
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this.articulo = Object.assign({}, item.articulo)
                this.dialog = true
            },

            submit() {
                if (this.editedIndex > -1) {

                    this.loading = false
                    this.item.articulo = this.articulo
                    Object.assign(this.items[this.editedIndex], this.item);

                    this.notify('El elemento fue modificado correctamente','succes')

                } else {
                    this.loading = false
                    this.item.articulo = this.articulo
                    this.items.push(this.item)
                    this.notify('El elemento fue registrado correctamente','succes')
                }
                this.close()
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },
            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'inventarios/fetchTransferenciaArticulos'
            ]),
            ...mapGetters([
                'inventarios/getTransferenciaArticulos',
                'inventarios/getTransferenciaOrigenId',
                'inventarios/getArticulos',
            ])

        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            items(val){
                this['inventarios/fetchTransferenciaArticulos'](val);
            },

            transferenciaArticulos(val){
                this.items = val;
            }
        },
    }
</script>

<style scoped>

</style>
