<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-radio-group data-vv-name="chartType"
                               row
                               v-model="chartType"
                >
                    <v-radio label="Mensual" value="month"/>
                    <v-radio label="Semanal" value="week"/>
                </v-radio-group>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="8">
                <v-card>
                    <v-sheet
                        class="v-sheet--offset mx-auto pa-5"
                        color="cyan"
                        elevation="12"
                        max-width="calc(100% - 32px)"
                    >
                        <line-chart :chart-data="datacollection" :height="200" :options="options"/>
                    </v-sheet>

                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="prescription-bottle"/>
                            Muestras: {{ totalMuestras }} <span class="green--text">
                            <font-awesome-icon icon="caret-up"/>
                        </span>
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card>
                    <v-sheet
                        class="v-sheet--offset mx-auto pa-5"
                        color="green"
                        elevation="12"
                        max-width="calc(100% - 32px)"
                    >
                        <horizontal-bar-chart :chart-data="topDiagnosticos.data" :height="455" :options="topDiagnosticos.options"/>
                    </v-sheet>

                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="diagnoses"/>
                            Diagnósticos
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <v-card>
                    <v-card-text>
                        <pie-chart :chart-data="estatusMuestras.data" :height="459" :options="estatusMuestras.options"/>
                    </v-card-text>
                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="prescription-bottle"/>
                            Estatus muestras
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card elevation="1">
                    <v-card-text>
                        <pie-chart :chart-data="resultados.data" :options="resultados.options"/>
                    </v-card-text>
                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="notes-medical"/>
                            Resultados
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    const LineChart = () => import('../../components/charts/LineChart')
    const PieChart = () => import('../../components/charts/PieChart')
    const HorizontalBarChart = () => import('../../components/charts/HorizontalBarChart')

    export default {
        components: {
            PieChart,
            LineChart,
            HorizontalBarChart
        },
        props: {},
        data() {
            return {
                seed: 6,
                ready: true,
                chartType: 'week',
                monthLabels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthDatasets: [
                    {
                        label: 'Muestras',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                        ],
                        fill: false
                    }
                ],
                dayLabels: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie'],
                dayDatasets: [
                    {
                        label: 'Muestras',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                        ],
                        fill: false
                    }
                ],
                datacollection: {
                    labels: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie'],
                    datasets: [
                        {
                            label: 'Muestras',
                            borderColor: 'rgba(255, 255, 255, 0.9)',
                            data: [
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                            ],
                            fill: false
                        }
                    ]
                },
                totalMuestras: 0,
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                fontColor: 'white',
                                fontSize: 18,
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                fontColor: 'white',
                                fontSize: 18,
                            }
                        }]
                    }
                },
                estatusMuestras: {},
                topDiagnosticos: {},
                resultados: {}
            }
        },
        beforeCreate() {
            Samples.srand(6)
        },
        mounted() {
            this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
            this.setTopDiagnosticos()
            this.setEstatusMuestras()
            this.setResultados()
        },
        methods: {
            setEstatusMuestras() {
                this.estatusMuestras = Object.assign({}, {
                    data: {
                        datasets: [
                            {
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                ],
                            }
                        ],
                        labels: [
                            'Pendientes',
                            'En proceso',
                            'Terminadas',
                        ]
                    },
                    options: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontSize: 16
                            }
                        },
                    }
                })
            },
            setTopDiagnosticos() {
                this.topDiagnosticos = Object.assign({}, {
                    data: {
                        labels: ['Dengue', 'Influenza', 'ERA', 'IRA', 'Sarampión'],
                        datasets: [
                            {
                                backgroundColor: 'rgba(255, 255, 255, 0.9)',
                                borderColor: 'rgba(255, 255, 255, 0.9)',
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                label: 'Top 5 diagnósticos',
                            }
                        ]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontColor: 'white',
                                fontSize: 16
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }]
                        }
                    }
                })
            },
            setResultados() {
                this.resultados = Object.assign({}, {
                    data: {
                        datasets: [
                            {
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                backgroundColor: [
                                    'rgb(75, 192, 192)',
                                    'rgb(255, 99, 132)',
                                ],
                            },
                        ],
                        labels: ['Positivo', 'Negativo']
                    },
                    options: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontSize: 16
                            }
                        },
                    }
                })
            },
            randomScaling() {
                return Math.round(Samples.rand(50, 500));
            }
        },
        computed: {},
        watch: {
            chartType(val) {
                this.setTopDiagnosticos()
                this.setEstatusMuestras()
                this.setResultados()

                if (val === 'week') {
                    this.datacollection = Object.assign({}, {
                        labels: this.dayLabels,
                        datasets: this.dayDatasets
                    })
                    this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
                } else {
                    this.datacollection = Object.assign({}, {
                        labels: this.monthLabels,
                        datasets: this.monthDatasets
                    })
                    this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
                }
            }
        }
    }
</script>

<style scoped>

</style>
