<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-radio-group data-vv-name="chartType"
                               row
                               v-model="chartType"
                >
                    <v-radio label="Semanal" value="week"/>
                    <v-radio label="Mensual" value="month"/>
                </v-radio-group>
            </v-col>
        </v-row>
        <v-row class="pb-5">
            <v-col cols="6" md="4">
                <stats-card :value="muestrasPendientes"
                            color="red"
                            icon="prescription-bottle"
                            sub-icon="prescription-bottle"
                            sub-icon-color="red--text"
                            sub-text="Muestras"
                            sub-text-color="red--text"
                            title="PENDIENTES"
                />
            </v-col>
            <v-col cols="6" md="4">
                <stats-card :value="muestrasEnProceso"
                            color="orange"
                            icon="prescription-bottle"
                            sub-icon="prescription-bottle"
                            sub-icon-color="orange--text"
                            sub-text="Muestras"
                            sub-text-color="orange--text"
                            title="PROCESANDO"
                />
            </v-col>
            <v-col cols="6" md="4">
                <stats-card :value="muestrasConcluidas"
                            color="green"
                            icon="prescription-bottle"
                            sub-icon="prescription-bottle"
                            sub-icon-color="green--text"
                            sub-text="Muestras"
                            sub-text-color="green--text"
                            title="CONCLUIDAS"
                />
            </v-col>
        </v-row>
        <v-row class="pb-5">
            <v-col>
                <v-card>
                    <v-sheet
                        class="v-sheet--offset mx-auto pa-5"
                        color="cyan"
                        elevation="12"
                        max-width="calc(100% - 32px)"
                    >
                        <line-chart :chart-data="tipos.data" :height="200" :options="tipos.options"/>
                    </v-sheet>
                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="user"/>
                            Tipos de origen
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col>
                <v-card>
                    <v-sheet
                        class="v-sheet--offset mx-auto pa-5"
                        color="cyan"
                        elevation="12"
                        max-width="calc(100% - 32px)"
                    >
                        <horizontal-bar :chart-data="pantallas.data" :height="200" :options="pantallas.options"/>
                    </v-sheet>

                    <v-card-text class="pt-0">
                        <div class="title font-weight-bold" style="font-size: 3rem">
                            <font-awesome-icon icon="book-medical"/>
                            Pantallas
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <estudio-line-chart/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import EventBus from '../../event-bus'

    const PieChart = () => import('../../components/charts/PieChart')
    const BarChart = () => import('../../components/charts/BarChart')
    const LineChart = () => import('../../components/charts/LineChart')
    const HorizontalBar = () => import('../../components/charts/HorizontalBarChart')
    const StatsCard = () => import('../../components/StatsCard')
    const EstudioLineChart = () => import('../../components/dashboards/EstudiosLineChart')

    export default {
        name: 'Sanitaria',
        components: {
            PieChart,
            BarChart,
            StatsCard,
            LineChart,
            HorizontalBar,
            EstudioLineChart
        },
        props: {},
        data() {
            return {
                chartType: 'week',
                tipos: {},
                pantallas: {},
                muestrasPendientes: 0,
                muestrasEnProceso: 0,
                muestrasConcluidas: 0,
            }
        },
        beforeCreate() {
            Samples.srand(6)
        },
        mounted() {
            this.setTipos()
            this.setPantallas()
            this.setMuestras()
        },
        methods: {
            randomScaling() {
                return Math.round(Samples.rand(50, 500));
            },
            setTipos() {
                this.tipos = Object.assign({}, {
                    data: {
                        labels: this.chartType === 'week' ? Samples.days : Samples.months,
                        datasets: [
                            {
                                borderColor: 'rgba(255, 255, 255, 0.9)',
                                data: this.chartType === 'week' ? [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ] : [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                label: 'Institucional',
                                fill: false
                            },
                            {
                                borderColor: chartColors.purple,
                                data: this.chartType === 'week' ? [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ] : [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                label: 'Particular',
                                fill: false
                            },
                        ]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontColor: 'white',
                                fontSize: 16
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }]
                        }
                    }
                })
            },
            setPantallas() {
                this.pantallas = Object.assign({}, {
                    data: {
                        labels: ['Alim., Beb. y Jug.', 'Cep., Agu. amb. y Agu. PUCH', 'Mue. Biol. Hum.'],
                        datasets: [
                            {
                                backgroundColor: 'rgba(255, 255, 255, 0.9)',
                                borderColor: 'rgba(255, 255, 255, 0.9)',
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                            }
                        ]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }]
                        }
                    }
                })
            },
            setMuestras() {
                this.muestrasConcluidas = this.randomScaling().toString()
                this.muestrasEnProceso = this.randomScaling().toString()
                this.muestrasPendientes = this.randomScaling().toString()
            }
        },
        computed: {},
        watch: {
            chartType(val) {
                EventBus.$emit('CHART_TYPE_CHANGE', val)
                this.setTipos()
                this.setPantallas()
                this.setMuestras()
            }
        }
    }
</script>

<style scoped>

</style>
