<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-row>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="green"
                                    dark
                                >
                                    <v-card-text>
                                        Entradas al almacén
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ entradas.en_captura }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>En captura</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="cyan"
                                    dark
                                >
                                    <v-card-text>
                                        Entradas al almacén
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ entradas.realizadas }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>Realizadas</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="teal"
                                    dark
                                >
                                    <v-card-text>
                                        Artículos
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ entradas.articulos }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>Ingresados</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="red darken-1"
                                    dark
                                >
                                    <v-card-text>
                                        A caducar en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.rojo }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>menos de 6 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="orange"
                                    dark
                                >
                                    <v-card-text>
                                        A caducar en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.amarillo }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>menos de 12 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="green"
                                    dark
                                >
                                    <v-card-text>
                                        A caducar en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.verde }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>mas de 12 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="6">
                        <v-card
                            class="mt-4 mx-auto"
                        >
                            <v-sheet
                                class="v-sheet--offset mx-auto pa-5"
                                color="cyan"
                                elevation="12"
                                max-width="calc(100% - 32px)"
                            >
                                <line-chart :chart-data="datacollection" :height="200" :options="options"/>
                            </v-sheet>

                            <v-card-text class="pt-0">
                                <div class="title font-weight-bold" style="font-size: 3rem">
                                    <font-awesome-icon icon="prescription-bottle"/>
                                    Entradas al laboratorio: {{ totalMuestras }} <span class="green--text">
                                    <font-awesome-icon icon="caret-up"/>
                                </span>
                                </div>

                                <v-divider class="my-2"></v-divider>
                                <v-col>
                                    <v-switch v-model="chartType" flat :true-value="'week'" :false-value="'month'" :label="`Periodo: ${chartType.toString()}`"></v-switch>
                                </v-col>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="6">
                        <v-card
                            class="mt-4 mx-auto"
                        >
                            <v-sheet
                                class="v-sheet--offset mx-auto pa-5"
                                color="green"
                                elevation="12"
                                max-width="calc(100% - 32px)"
                            >
                                <line-chart :chart-data="datacollection2" :height="200" :options="options"/>
                            </v-sheet>

                            <v-card-text class="pt-0">
                                <div class="title font-weight-bold" style="font-size: 3rem">
                                    <font-awesome-icon icon="prescription-bottle"/>
                                    Transferencias de articulos: {{ totalMuestras }} <span class="green--text">
                                    <font-awesome-icon icon="caret-up"/>
                                </span>
                                </div>

                                <v-divider class="my-2"></v-divider>
                                <v-col>
                                    <v-switch v-model="chartType" flat :true-value="'week'" :false-value="'month'" :label="`Periodo: ${chartType.toString()}`"></v-switch>
                                </v-col>
                            </v-card-text>
                        </v-card>
                    </v-col>

                </v-row>
            </v-flex>

            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
        </v-layout>
    </v-container>
</template>
<style>
    .v-sheet--offset {
        top: -24px;
        position: relative;
    }
</style>
<script>
    import Api from '@/router/api/inventarios/existencias.js'

    const LineChart = () => import('../../components/charts/LineChart')
    const PieChart = () => import('../../components/charts/PieChart')
    const HorizontalBarChart = () => import('../../components/charts/HorizontalBarChart')


    export default {
        components: {
            PieChart,
            LineChart,
            HorizontalBarChart
        },
        data() {
            return {
                seed: 6,
                ready: true,
                chartType: 'week',
                monthLabels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthDatasets: [
                    {
                        label: 'Muestras',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                        ],
                        fill: false,


                    }
                ],
                monthDatasets2: [
                    {
                        label: 'Transferencias',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                        ],
                        fill: false
                    }
                ],
                dayLabels: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie'],
                dayDatasets: [
                    {
                        label: 'Muestras',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                            this.randomScaling(),
                        ],
                        fill: false,
                    }
                ],
                dayDatasets2: [
                    {
                        label: 'Muestras',
                        borderColor: 'rgba(255, 255, 255, 0.9)',
                        data: [
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                            this.randomScaling2(),
                        ],
                        fill: false
                    }
                ],
                datacollection: {
                    labels: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie'],
                    datasets: [
                        {
                            label: 'Muestras',
                            borderColor: 'rgba(255, 255, 255, 0.9)',
                            data: [
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                                this.randomScaling(),
                            ],
                            fill: false
                        }
                    ]
                },
                datacollection2: {
                    labels: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie'],
                    datasets: [
                        {
                            label: 'Transferencias',
                            borderColor: 'rgba(255, 255, 255, 0.9)',
                            data: [
                                this.randomScaling2(),
                                this.randomScaling2(),
                                this.randomScaling2(),
                                this.randomScaling2(),
                                this.randomScaling2(),
                            ],
                            fill: false,
                            pointBorderWidth: 5,
                        }
                    ]
                },
                totalMuestras: 0,
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    legend: {
                        display: true,
                    },
                    scales: {
                        xAxes: [{
                            drawBorder: false,
                            gridLines: {
                                lineWidth: 0.3,
                                display: true,
                                color: 'white',
                                borderDash: [5, 5],
                            },
                            ticks: {
                                fontColor: 'white',
                                fontSize: 18,
                            }
                        }],
                        yAxes: [{
                            drawBorder: false,
                            gridLines: {
                                lineWidth: 0.3,
                                display: true,
                                color: 'white',
                                borderDash: [5, 5],
                            },
                            ticks: {
                                fontColor: 'white',
                                fontSize: 18,
                            }
                        }]
                    }
                },
                estatusMuestras: {},
                topDiagnosticos: {},
                resultados: {},
                loading: false,
                entradas: {
                    en_captura: 1,
                    realizadas: 3,
                    articulos: 12,
                },
                caducidad: {
                    rojo: 5,
                    amarillo: 1,
                    verde: 6,
                },
                labels: [
                    'Lun',
                    'Mar',
                    'Mie',
                    'Jue',
                    'Vie',
                    'Sab',
                    'Dom',
                ],
                value: [
                    200,
                    675,
                    410,
                    390,
                    310,
                    460,
                    240,
                ],
                value2: [
                    400,
                    175,
                    210,
                    190,
                    410,
                    460,
                    140,
                ],
                item: {},
                defaults: {},
                dialog: false,
                menu: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Clave', value: 'clave'},
                    {text: 'Descripción', value: 'descripcion'},
                    {text: 'Uni medida', value: 'unidad_medida', hide: true},
                    {text: 'Presentación', value: 'presentacion', hide: true},
                    {text: 'Marca', value: 'marca', hide: true},
                    {text: 'Modelo', value: 'modelo', hide: true},
                    {text: 'Tipo insumo', value: 'tipo_insumo'},
                    {text: 'Serie', value: 'serie', hide: true},
                    {text: 'Lote', value: 'lote'},
                    {text: 'Color', value: 'color', hide: true},
                    {text: 'Fecha ingreso', value: 'fecha_ingreso', class: 'hidden-md-and-down'},
                    {text: 'Fecha caducidad', value: 'fecha_caducidad'},
                    {text: 'Cantidad', value: 'cantidad_existente'},
                    {text: 'Precio', value: 'precio'},
                    {text: 'IVA', value: 'iva'},
                    {text: 'Origen', value: 'origen', class: 'hidden-md-and-down', hide: true},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                /* Notification Settings */
                show: false,
                message: '',
                color: '',
            }

        },
        beforeCreate() {
            Samples.srand(6)
        },
        mounted() {
            this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
            this.setTopDiagnosticos()
            this.setEstatusMuestras()
            this.setResultados()
        },
        created() {

            Api.gets()
                .then(({data}) => {
                    this.items = data.data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [gets]', 'error')
                })
        },

        computed: {
            computedHeaders() {
                let bp = this.$vuetify.breakpoint
                let vm = this
                return this.headers.filter(h => {
                    if (!h.hide) return true
                })
            },

        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            chartType(val) {
                this.setTopDiagnosticos()
                this.setEstatusMuestras()
                this.setResultados()

                if (val === 'week') {
                    this.datacollection = Object.assign({}, {
                        labels: this.dayLabels,
                        datasets: this.dayDatasets
                    })
                    this.datacollection2 = Object.assign({}, {
                        labels: this.dayLabels,
                        datasets: this.dayDatasets2
                    })
                    this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
                } else {
                    this.datacollection = Object.assign({}, {
                        labels: this.monthLabels,
                        datasets: this.monthDatasets
                    })
                    this.datacollection2 = Object.assign({}, {
                        labels: this.monthLabels,
                        datasets: this.monthDatasets2
                    })
                    this.totalMuestras = this.dayDatasets[0].data.reduce((a, b) => a + b, 0)
                }
            }
        },

        methods: {
            setEstatusMuestras() {
                this.estatusMuestras = Object.assign({}, {
                    data: {
                        datasets: [
                            {
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                ],
                            }
                        ],
                        labels: [
                            'Pendientes',
                            'En proceso',
                            'Terminadas',
                        ]
                    },
                    options: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontSize: 16
                            }
                        },
                    }
                })
            },
            setTopDiagnosticos() {
                this.topDiagnosticos = Object.assign({}, {
                    data: {
                        labels: ['Dengue', 'Influenza', 'ERA', 'IRA', 'Sarampión'],
                        datasets: [
                            {
                                backgroundColor: 'rgba(255, 255, 255, 0.9)',
                                borderColor: 'rgba(255, 255, 255, 0.9)',
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                label: 'Top 5 diagnósticos',
                            }
                        ]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontColor: 'white',
                                fontSize: 16
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }]
                        }
                    }
                })
            },
            setResultados() {
                this.resultados = Object.assign({}, {
                    data: {
                        datasets: [
                            {
                                data: [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                backgroundColor: [
                                    'rgb(75, 192, 192)',
                                    'rgb(255, 99, 132)',
                                ],
                            },
                        ],
                        labels: ['Positivo', 'Negativo']
                    },
                    options: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                fontSize: 16
                            }
                        },
                    }
                })
            },
            randomScaling() {
                return Math.round(Samples.rand(10, 610));
            },
            randomScaling2() {
                return Math.round(Samples.rand(6, 220));
            },
            playAnimation() {
                this.$refs.number2.play()
            },

            theFormat(number) {
                return number.toFixed(0);
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this.$refs.form.reset();
                }, 500)
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            }
        }
    }
</script>
