<template>
    <v-container grid-list-xl >
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <v-data-table
                    :headers="headers"
                    :items="analistas"
                    :search="search"
                    :items-per-page="100"
                    hide-default-footer
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Analistas</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <v-text-field
                              v-model="search"
                              label="Buscar"
                              single-line
                              hide-details
                            ></v-text-field>
                            <div class="flex-grow-1"></div>
                            <v-checkbox
                            data-vv-name="Tipo"
                            v-model="tipo_search"
                            value="1"
                            label="Activos"
                            ></v-checkbox>
                            <v-checkbox
                            data-vv-name="Tipo"
                            v-model="tipo_search"
                            value="0"
                            label="Inactivos"
                            ></v-checkbox>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-icon right small class="mr-2" tittle="Desactivar"  @click="addLab(item)">
                            mdi-pencil-plus-outline
                        </v-icon>
                        <v-icon right small class="mr-2" tittle="Desactivar" @click="getHistory(item)">
                            mdi-account-details
                        </v-icon>
                        <v-icon right small class="mr-2" tittle="Desactivar" @click="item_select = item;dialogDelete = true">
                            mdi-cancel
                        </v-icon>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-dialog v-model="modalLab" max-width="500px">
            <v-card>
              <v-card-title>
                Asignar Laboratorio
              </v-card-title>
              <v-card-text>
                <v-text-field label="Analista" :readonly="true" :value="analista"></v-text-field>
                <v-select
                    v-model="lab_form"
                    :items="labs"
                    label="Selecciona un Laboratorio"
                    item-value="id"
                    item-text="descripcion"
                ></v-select>
              </v-card-text>
              <v-card-actions>
                <v-flex xs12 text-xs-right>
                    <v-btn :loading="disabled" @click="modalLab = false" class="mx-0" color="error">
                                    Cancelar
                    </v-btn>
                    <v-btn :loading="disabled" @click="SaveAddLAb" class="mx-0" color="success">
                                Asignar
                    </v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="modalLabHist" max-width="800px">
            <v-card>
              <v-card-title>
                Historial de Laboratorios
              </v-card-title>
              <v-card-text>
                <v-text-field label="Analista" :readonly="true" :value="analista"></v-text-field>
                <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Laboratorio</th>
                          <th class="text-left">Tipo</th>
                          <th class="text-left">Activo</th>
                          <th class="text-left">Fecha de Inicio</th>
                          <th class="text-left">Fecha de Fin</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in historial" >
                          <td>{{ item.descripcion }}</td>
                          <td>{{ item.tipo }}</td>
                          <td>{{ (item.pivot.activo==0)?'Inactivo':'Activo' }}</td>
                          <td>{{ item.pivot.inicio }}</td>
                          <td>{{ item.pivot.fin }}</td>
                        </tr>
                      </tbody>
                    </template>
                </v-simple-table>
              </v-card-text>
              <v-card-actions>
                <v-flex xs12 text-xs-right>
                    <v-btn :loading="disabled" @click="modalLabHist = false" class="mx-0" color="error">
                                    Cerrar
                    </v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
                v-model="snackbar"
                :color="color_nack"
                :timeout="3000"
                :bottom="true"
                    >
            {{ message }}
            <v-icon
                dark
                text
                @click="snackbar = false"
            >
                mdi-close
            </v-icon>
        </v-snackbar>
        <v-dialog v-model="dialogDelete" persistent max-width="390">
            <v-card>
                <v-card-title class="headline">Confirmar Desactivación</v-card-title>
                <v-card-text>¿Esta seguro de desactivar al analistas?</v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    export default {
        name: 'Analistas',
        components: {},
        props: {},
        data() {
            return {
                analista:"",
                tipo_search:'',
                item_select:{},
                historial:[],
                dialogDelete:false,
                modalLabHist:false,
                snackbar:false,
                color_nack:'',
                message:'',
                item_list:{},
                search: '',
                lab_form: '',
                modalLab:false,
                disabled:false,
                labs:[],
                headers: [
                  {
                    text: 'Id',
                    align: 'left',
                    sortable: false,
                    value: 'analista_id',
                  },
                  { text: 'Nombre Analista', value: 'nombre' },
                  { text: 'Laboratorio', value: 'laboratorio' },
                  { text: 'Fecha de inicio', value: 'fecha_inicio' },
                  { text: 'Fecha fin', value: 'fecha_fin' },
                  { text: 'Estatus', value: 'estatus' },
                  { text: 'Acciones', value: 'action', sortable: false },
                ],
                analistas: []
            }
        },
        created(){
            this.getTableData();
            this.getLabs();
        },
        methods: {
            getTableData(){
                axios.get('/api/epidemiologia/analista')
                .then(response => {
                    this.analistas = response.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            getLabs(){
                 axios.post('/api/epidemiologia/analista/laboratorios')
                .then(response => {
                    this.labs = response.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            addLab(item){
                this.lab_form = "";
                this.item_list = item;
                this.analista = item.nombre;
                this.modalLab = true;
            },
            SaveAddLAb(){
                this.disabled = true;
                this.item_list.labform = this.lab_form;
                axios.post('/api/epidemiologia/analista',this.item_list)
                .then(response => {
                    this.disabled = false;
                    if (response.data.meta.status == "success") {
                        this.notify("Laboratorio Asignado correctamente","success");
                        this.modalLab = false;
                        this.getTableData();
                    }
                }).catch(e => {
                    console.log(e.response.data.meta.message);
                    this.disabled = false;
                    this.notify(e.response.data.meta.message,"error");
                    console.log(e);
                });

            },
            deleteItem(){
                if (this.item_select.laboratorio !=  null) {
                    axios.delete('/api/epidemiologia/analista/'+this.item_select.analista_id)
                    .then(response => {
                        if (response.data.meta.status == "success") {
                            this.getTableData();
                            this.notify("Datos actualizados correctamente","success");
                            this.dialogDelete = false;
                        }
                    }).catch(e => {
                        console.log(e.response.data.meta.message);
                        this.disabled = false;
                        this.notify(e.response.data.meta.message,"error");
                        console.log(e);
                    });
                } else {
                    this.dialogDelete = false;
                }
            },
            getHistory(item){
                this.historial = [];
                this.analista = item.nombre;
                this.modalLabHist = true;
                axios.get('/api/epidemiologia/analista/historial/'+item.analista_id)
                .then(response => {
                    this.historial = response.data.analistas;
                }).catch(e => {
                    console.log(e);
                });
            },
            notify(message, color) {
                this.message = message
                this.color_nack = color
                this.snackbar = true
            }
        },
        watch: {
            tipo_search(val) {
                if (val === null) {
                    this.getTableData();
                } else {
                    axios.get('/api/epidemiologia/analista/'+val)
                    .then(response => {
                        this.analistas = response.data.data;
                    }).catch(e => {
                        console.log(e);
                    });

                }
                console.log(val);
            }
        },
        computed: {
        }
    }
</script>

<style scoped>

</style>
