<template>
    <v-container grid-list-xl >
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <v-data-table
                    :headers="headers"
                    :items="lisTrabajo"
                    :search="search"
                    :items-per-page="100"
                    :single-expand="true"
                    :expanded.sync="expanded"
                    item-key="id"
                    show-expand
                    hide-default-footer
                >
                    <template v-slot:item.data-table-expand="{expand,isExpanded}">
                        <v-icon @click="expand(true)" v-if="!isExpanded" >mdi-arrow-down-drop-circle-outline</v-icon>
                        <v-icon @click="expand(false)" v-if="isExpanded" >mdi-arrow-up-drop-circle-outline</v-icon>
                    </template>
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Lista de Trabajo</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <v-text-field
                              v-model="search"
                              label="Buscar"
                              single-line
                              hide-details
                            ></v-text-field>
                            <div class="flex-grow-1"></div>
                        </v-toolbar>
                        <v-card-text>
                          <v-container grid-list-md pa-0>
                            <v-row>
                              <v-col md="2">
                                <v-menu
                                  v-model="menuFechIniSearch"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="searchFechini"
                                      autocomplete="off"
                                      label="Fecha de inicio"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker  v-model="searchFechini" @input="menuFechIniSearch = false"></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col md="2">
                                <v-menu
                                  v-model="menuFechfinSearch"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="searchFechfin"
                                      autocomplete="off"
                                      label="Fecha de fin"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker  v-model="searchFechfin" @input="menuFechfinSearch = false"></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col md="3">
                                <v-btn   style="margin-top: 15px;" color="primary" v-on:click.prevetn="searchByDate">Buscar por fecha</v-btn>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                    </template>
                    <template v-slot:expanded-item="{ item }">
                        <td :colspan="headers.length">
                            <template v-if="item.estatus =='PROCESO'">
                                <v-container>
                                     <v-row>
                                        <v-col cols="12" >
                                            <h3>Ingresar Resultado</h3>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-combobox
                                                autocomplete="off"
                                                :error-messages="errors.collect('resultado')"
                                                data-vv-name="resultado"
                                                v-validate="'required'"
                                                v-model="formField.resultado"
                                                :search-input.sync="searchResultado"
                                                :loading="isLoading"
                                                hide-no-data
                                                hide-selected
                                                label="Resultados"
                                                :items="resultados"
                                                item-text="descripcion"  
                                                item-value="id"
                                            ></v-combobox>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-autocomplete
                                                :error-messages="errors.collect('referencia')"
                                                data-vv-name="referencia"
                                                v-validate="'required'"
                                                autocomplete="off"
                                                v-model="formField.referencia"
                                                label="Metodo/Referencia"
                                                :items="med_ref"
                                                hide-no-data
                                                hide-selected
                                                item-text="descripcion"  
                                                item-value="id"
                                            ></v-autocomplete>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-menu
                                                    v-model="menuFechaAnalisis"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px"
                                                  >
                                                    <template v-slot:activator="{ on }">
                                                      <v-text-field
                                                        :error-messages="errors.collect('fecha_analisis')"
                                                        data-vv-name="fecha_analisis"
                                                        v-validate="'required'"
                                                        autocomplete="off"
                                                        v-model="formField.fecha_analisis"
                                                        label="Fecha del analisis de la muestra"
                                                        readonly
                                                        v-on="on"
                                                      ></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="formField.fecha_analisis"  @input="menuFechaAnalisis = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-menu
                                                    v-model="menuFechaResultados"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px"
                                                  >
                                                    <template v-slot:activator="{ on }">
                                                      <v-text-field
                                                        :error-messages="errors.collect('fecha_resultado')"
                                                        data-vv-name="fecha_resultado"
                                                        v-validate="'required'"
                                                        v-model="formField.fecha_resultado"
                                                        autocomplete="off"
                                                        label="Fecha del resultado"
                                                        readonly
                                                        v-on="on"
                                                      ></v-text-field>
                                                    </template>
                                                    <v-date-picker  v-model="formField.fecha_resultado" @input="menuFechaResultados = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formField.comentarios" label="Comentarios"></v-text-field>
                                            <v-btn  :loading="disabled" class="mx-0 font-weight-light"  @click="add(item)" color="success" >
                                                Guardar
                                            </v-btn>
                                        </v-col>

                                     </v-row>
                                </v-container>
                            </template>
                            <template  v-if="item.estatus =='RESULTADOS' || item.estatus =='SUPERVISADA' || item.estatus =='RECHAZADA RESPONSABLE LAB' || item.estatus =='RECHAZADA JEFE LAB' || item.estatus =='VALIDADA'">
                                <v-container>
                                     <v-row>
                                        <v-col cols="12" >
                                            <h3>Resultado</h3>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formRe.resultado" readonly label="Resultado"></v-text-field>
                                        </v-col>
                                         <v-col cols="12" >
                                            <v-text-field v-model="formRe.diagnosticos.descripcion" readonly label="Diagnostico"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formRe.referencia.descripcion" readonly label="Metodo/Referencia"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formRe.fecha_analisis" readonly label="Fecha del analisis de la muestra"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formRe.fecha_resultados" readonly label="Fecha del resultado"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" >
                                            <v-text-field v-model="formRe.comentarios" readonly label="Comentarios"></v-text-field>
                                        </v-col>

                                     </v-row>
                                </v-container>
                            </template>
                            <template v-if="item.estatus =='RECEPCIONADA'">
                                <v-container>
                                     <v-row>
                                         <v-col cols="6">
                                            <v-btn :loading="disabled" v-if="item.estatus =='RECEPCIONADA'"  @click="changeEstatus(item,'PROCESO')" class="mx-0 font-weight-light" color="success" >
                                                Recibir
                                            </v-btn>
                                         </v-col>
                                     </v-row>
                                </v-container>
                            </template>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
        <v-snackbar
            v-model="snackbar"
            :color="color_nack"
            :timeout="3000"
            :bottom="true"
                >
            {{ message }}
            <v-icon
                dark
                text
                @click="snackbar = false"
            >
                mdi-close
            </v-icon>
        </v-snackbar>
        <v-dialog
          v-model="loadingLoading"
          hide-overlay
          persistent
          width="300"
        >
          <v-card
            color="primary"
            dark
          >
            <v-card-text>
              Por favor espere ...
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    export default {
        name: 'AnalistasTrabajo',
        components: {},
        props: {},
        data() {
            return {
                diagnostico_id:null,
                menuFechIniSearch:null,
                searchFechini:null,
                menuFechfinSearch:null,
                searchFechfin:null,
                loadingLoading:false,
                formField:{comentarios:null},
                formRe:{diagnosticos:{},referencia:{}},
                disabled:false,
                expanded: [],
                menuFechaAnalisis: false,
                menuFechaResultados: false,
                isLoading: false,
                diagnosticos:[],
                searchDiagnostico: null,
                searchResultado: null,
                message:'',
                color_nack:'',
                snackbar:false,
                tipo_search: '',
                search: '',
                lisTrabajo:[],
                resultados:[],
                med_ref:[],
                headers: [
                  { text: 'N Muestra', value: 'numero_muestra' },
                  { text: 'Paciente', value: 'paciente' },
                  { text: 'Unidad Administrativa', value: 'unidad_administrativa' },
                  { text: 'Unidad Medica', value: 'unidad_medica' },
                  { text: 'Diagnostico', value: 'diagnosticos' },
                  { text: 'Estatus', value: 'estatus' },
                  { text: 'Fecha de Recepcion', value: 'fecha_recepcion' },
                  { text: 'Fecha de la Toma', value: 'fecha_toma' },
                  { text: 'Fecha de Resultado', value: 'fecha_resultados' },
                ],
            }
        },
        created(){
            this.getListData();
            this.getReferencia();
        },
        methods: {
            searchByDate(){
                if (this.searchFechini == null) {
                  this.notify("La fecha de inicio es requerida","error");
                  return false;
                }
                let fields = {date_start:this.searchFechini,date_end:this.searchFechfin,solo:this.checkSolo};
                axios.post('/api/epidemiologia/muestra/lisfilters/analista',fields)
                .then(response => {
                   this.lisTrabajo = response.data.data;
                }).catch(e => {
                    this.notify("Ocurrio un error al obtener los resultados","error");
                });
            },
            getResultadosData(item){
                this.loadingLoading = true;
                axios.get('/api/epidemiologia/resultado/'+item.id)
                .then(response => {
                    this.formRe = response.data;
                    this.loadingLoading = false;
                }).catch(e => {
                    this.loadingLoading = false;
                    console.log(e);
                });
            },
            getDiagnostico(search){
                axios.get('/api/epidemiologia/muestra/diagnosticos/'+search)
                .then(response => {
                    this.diagnosticos = response.data.data;
                    this.isLoading = false
                }).catch(e => {
                  this.isLoading = false
                    console.log(e);
                });
            },
            getReferencia(){
                axios.get('/api/epidemiologia/muestra/referencias/')
                .then(response => {
                    this.med_ref = response.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            getResultado(search){
                axios.get('/api/epidemiologia/muestra/resultado/'+this.diagnostico_id+'/'+search)
                .then(response => {
                    this.resultados = response.data;
                    this.isLoading = false
                }).catch(e => {
                  this.isLoading = false
                    console.log(e);
                });
            },
            changeEstatus(item,estatus){
                this.disabled = true;
                let option = {estatus:estatus}
                axios.post('/api/epidemiologia/muestra/estatus/'+item.id,option)
                .then(response => {
                    if (response.data.meta.status == "success") {
                        this.disabled = false;
                        this.getListData(); 
                        this.notify("Estatus Actualizado correctamente","success");
                    }
                }).catch(e => {
                    this.disabled = false;
                    this.notify(e.response.data.meta.message,"error");
                    console.log(e);
                });
            },
            getListData(){
                axios.get('/api/epidemiologia/muestra/lista/analista')
                .then(response => {
                  this.lisTrabajo = response.data.data;;
                }).catch(e => {
                    console.log(e);
                });
            },
            add(item){
                this.$validator.validate()
                .then(isValid => {
                    if (isValid) {
                        this.formField.id = item.id;
                        this.save();
                    } else {
                        console.log("no valido");
                    }
                })
            },
            save(){
                this.disabled = true;
                this.formField.resultado_id = null;
                if (typeof this.formField.resultado == "object" ) {
                    let id = this.formField.resultado.id;
                    this.formField.resultado_id = id;
                }
                axios.post('/api/epidemiologia/resultado',this.formField)
                .then(response => {
                    this.disabled = false;
                    if (response.data.meta.status == "success") {
                        this.getListData();
                        this.getResultadosData({id:this.formField.id})
                        this.notify("Resultado Guardado Correctamente","success");
                        this.formField = {comentarios:null};
                    }
                }).catch(e => {
                    this.notify(e.response.data.meta.message,"error");
                });

            },
            notify(message, color) {
                this.message = message
                this.color_nack = color
                this.snackbar = true
            }
        },
        watch: {
            searchDiagnostico (val) {
                if (val == null) return;
                if (this.isLoading) return
                this.isLoading = true;
                this.getDiagnostico(val);
            },
            searchResultado (val) {
                if (val == null) return;
                if (val == "") return;
                if (this.isLoading) return
                this.isLoading = true;
                this.getResultado(val);
            },
            expanded(val){
                if (val.length > 0) {
                    this.diagnostico_id = val[0].diagnostico_id;
                    if (val[0].estatus == "RESULTADOS" || val[0].estatus =='SUPERVISADA' || val[0].estatus =='RECHAZADA RESPONSABLE LAB' || val[0].estatus =='RECHAZADA JEFE LAB' || val[0].estatus =='VALIDADA') {
                        this.getResultadosData(val[0]);
                    }
                }
            }
        },
        computed: {
        }
    }
</script>