<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">Nueva solicitud</h3>
                        </div>
                    </v-card-title>
                    <v-card-text>
                        <solicitud-form @submited="submited"></solicitud-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'solicitudes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {mapState} from 'vuex'

    const SolicitudForm = () => import('../../components/sanitaria/forms/SolicitudForm')

    export default {
        name: 'Create',
        components: {
            SolicitudForm
        },
        props: {},
        data() {
            return {}
        },
        created() {

        },
        methods: {
            submited() {
                let id = this.solicitud.id
                this.$router.push({name: 'solicitudes-editar', params: {id}});
            }
        },
        watch: {},
        computed: {
            ...mapState({
                solicitud: state => state.sanitaria.solicitud
            })
        }
    }
</script>

<style scoped>

</style>
