<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card :loading="!ready">
                    <v-card-title primary-title>
                        <h3 class="headline mb-0">Solicitud: {{ solicitud.folio }}</h3>
                    </v-card-title>
                    <v-card-text>
                        <solicitud-form :populate-with="solicitud"
                                        v-if="ready"
                                        @submited="updateSolicitud"
                        ></solicitud-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-if="ready">
            <v-col cols="12">
                <v-card>
                    <v-card-title class="pb-0 align-baseline" primary-title>
                        <h3 class="headline mb-0">Muestras</h3>
                        <div class="flex-grow-1"></div>
                        <v-btn @click="resetMuestra"
                               class="mr-3"
                               color="primary"
                               v-if="!muestra.empty && !solicitudTerminada"
                        >
                            Nueva muestra
                        </v-btn>
                        <v-autocomplete
                            :items="muestras"
                            :label="`${totalMuestra} Muestra(s)`"
                            hide-details
                            item-text="numero_muestra"
                            item-value="id"
                            return-object
                            style="max-width: 150px!important;"
                            v-model="muestraSelected"
                        ></v-autocomplete>
                    </v-card-title>
                    <v-card-text>
                        <template v-if="muestra.empty">
                            <create-muestra-form :solicitud-id="solicitud.id"
                                                 @updateMuestra="updateMuestra"
                            ></create-muestra-form>
                        </template>
                        <template v-else>
                            <edit-muestra-form :populate-with="muestra"
                                               :solicitud-id="solicitud.id"
                                               @updateMuestra="updateMuestra"
                            ></edit-muestra-form>
                        </template>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'solicitudes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import EventBus from '../../event-bus'
    import {mapActions, mapState} from 'vuex'

    const SolicitudForm = () => import('../../components/sanitaria/forms/SolicitudForm')
    const CreateMuestraForm = () => import('../../components/sanitaria/forms/MuestraForm')
    const EditMuestraForm = () => import('../../components/sanitaria/forms/MuestraForm')

    export default {
        name: 'Edit',
        components: {
            CreateMuestraForm,
            EditMuestraForm,
            SolicitudForm
        },
        props: ['id'],
        data() {
            return {
                saving: false,
                ready: true,
                muestra: {empty: true},
                muestraSelected: null,
            }
        },
        created() {
            if (this.solicitud.empty) {
                this.ready = false
                this['sanitaria/showSolicitud'](this.id)
                    .then(res => {
                        this.ready = true
                    });
            }
        },
        methods: {
            updateSolicitud() {
                this['ui/setSnackBar']({text: 'La solicitud se guardó correctamente', color: 'success', show: true})
            },
            resetMuestra() {
                this.muestraSelected = null
                this.muestra = {empty: true}
            },
            updateMuestra(muestra) {
                this.muestra = muestra
                EventBus.$emit('ADD_MUESTRA', muestra)
                this['ui/setSnackBar']({text: 'La muestra se guardó correctamente', color: 'success', show: true})
            },
            ...mapActions([
                'sanitaria/showSolicitud',
                'ui/setSnackBar'
            ])
        },
        watch: {
            muestraSelected(val) {
                if (val !== null) {
                    this.muestra = val
                }
            },
        },
        computed: {
            totalMuestra() {
                return this.muestras.length
            },
            solicitudTerminada() {
                return this.solicitud.terminado
            },
            ...mapState({
                solicitud: state => state.sanitaria.solicitud,
                muestras: state => state.sanitaria.solicitud.muestras
            })
        }
    }
</script>

<style scoped>

</style>
