<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        Solicitudes
                        <div class="flex-grow-1"></div>
                        <v-text-field
                            :loading="fetching_solicitudes"
                            prepend-inner-icon="mdi-magnify"
                            class="mt-0 mr-3"
                            label="Buscar por folio u origen..."
                            single-line
                            type="text"
                            v-model="filters.search"
                        ></v-text-field>
                        <v-menu
                            :close-on-content-click="false"
                            :nudge-right="40"
                            min-width="290px"
                            offset-y
                            transition="scale-transition"
                            v-model="open_fecha_from"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    :loading="fetching_solicitudes"
                                    class="mt-0 mr-3"
                                    label="De"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    style="max-width: 145px"
                                    v-model="filters.from"
                                    v-on="on"
                                >
                                    <template v-if="filters.from !== null" v-slot:append>
                                        <v-icon @click="filters.from = null">mdi-close-circle-outline</v-icon>
                                    </template>
                                </v-text-field>
                            </template>
                            <v-date-picker
                                @input="open_fecha_from = false"
                                locale="es-419"
                                v-model="filters.from"
                            ></v-date-picker>
                        </v-menu>
                        <v-menu
                            :close-on-content-click="false"
                            :nudge-right="40"
                            min-width="290px"
                            offset-y
                            transition="scale-transition"
                            v-model="open_fecha_to"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    :loading="fetching_solicitudes"
                                    class="mt-0"
                                    label="Hasta"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    style="max-width: 145px"
                                    v-model="filters.to"
                                    v-on="on"
                                >
                                    <template v-if="filters.to !== null" v-slot:append>
                                        <v-icon @click="filters.to = null">mdi-close-circle-outline</v-icon>
                                    </template>
                                </v-text-field>
                            </template>
                            <v-date-picker
                                @input="open_fecha_to = false"
                                locale="es-419"
                                v-model="filters.to"
                            ></v-date-picker>
                        </v-menu>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table
                            :footer-props="{
                                disableItemsPerPage: true,
                                itemsPerPageOptions:[50]
                            }"
                            :headers="headers"
                            :items="solicitudes"
                            :loading="fetching_solicitudes"
                            :options.sync="options"
                            :server-items-length="pagination.total"
                            class="elevation-0"
                        >
                            <template v-slot:item.action="{ item }">
                                <v-icon @click="editSolicitud(item)"
                                        small
                                >
                                    mdi-pencil
                                </v-icon>
                            </template>
                            <template v-slot:item.terminado="{ item }">
                                <v-chip
                                    :color="getTerminadoColor(item.estatus)"
                                    dark
                                    small
                                    v-text="item.estatus"
                                >
                                </v-chip>
                            </template>
                            <template v-slot:item.muestras="{ item }">
                                <v-btn @click="openMuestrasModal(item.muestras)"
                                       color="success"
                                       text
                                >
                                    <v-icon left>mdi-eye-outline</v-icon>
                                    {{ item.muestras.length }}
                                </v-btn>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-card-actions></v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-dialog v-model="openMuestrasDialog" width="600">
            <v-card>
                <v-card-title class="headline">
                    Muestras
                </v-card-title>
                <v-card-text>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th>Número muestra</th>
                                    <th>Código</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr :key="numero_muestra" v-for="item in muestrasSelected">
                                    <td>{{ item.numero_muestra}}</td>
                                    <td>
                                        <barcode :options="{ width:4, height:40, displayValue: false }" :value="item.numero_muestra"></barcode>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
                <v-card-actions>

                </v-card-actions>
            </v-card>
        </v-dialog>
        <router-link :to="{name: 'solicitudes-create'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
                     v-permission="'add solicitudes'"
                     v-role="'CAPTURISTA SANITARIA'"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import Vue from 'vue';
    import VueBarcode from '@chenfengyuan/vue-barcode';
    import _ from 'lodash';
    import {mapActions, mapState} from 'vuex'

    Vue.component(VueBarcode.name, VueBarcode);

    export default {
        name: 'Index',
        components: {},
        props: {},
        data() {
            return {
                options: {
                    itemsPerPage: 50,
                    page: 1,
                },
                filters: {
                    search: null,
                    from: null,
                    to: null,
                },
                headers: [
                    {text: 'Acciones', value: 'action', sortable: false},
                    {text: 'Folio', value: 'folio', sortable: false},
                    {text: 'Origen', value: 'origen.origen', sortable: false},
                    {text: 'Fecha recepción', value: 'fecha_recepcion', sortable: false},
                    {text: 'Muestras', value: 'muestras', sortable: false, align: 'right'},
                    {text: 'Estatus', value: 'terminado', sortable: false},
                ],
                fetching_solicitudes: false,
                search_by_fechas: false,
                open_fecha_from: false,
                open_fecha_to: false,
                isByFilters: false,
                openMuestrasDialog: false,
                muestrasSelected: [],
            }
        },
        created() {
            //this.fetchSolicitudes();
        },
        methods: {
            openMuestrasModal(muestras) {
                this.muestrasSelected = []
                this.muestrasSelected = muestras
                this.openMuestrasDialog = true
            },
            editSolicitud(item) {
                this['sanitaria/setSolicitud'](item);
                this.$router.push({name: 'solicitudes-editar', params: {id: item.id}})
            },
            getTerminadoColor(estatus) {
                switch (estatus) {
                    case 'PENDIENTE':
                        return 'info';
                    case 'TERMINADO':
                        return 'success';
                }
            },
            fetchSolicitudes() {
                this.fetching_solicitudes = true
                let {search, from, to} = this.filters
                let {page} = this.options

                this['sanitaria/fetchSolicitudes']({search, from, to, page})
                    .then(res => {
                        this.fetching_solicitudes = false
                        if (this.isByFilters) {
                            this.isByFilters = false
                        }
                    })
                    .catch(err => {
                        this.fetching_solicitudes = false
                        if (this.isByFilters) {
                            this.isByFilters = false
                        }
                    })
            },
            search: _.debounce(function (v) {
                this.fetchSolicitudes()
            }, 800),
            ...mapActions([
                'sanitaria/fetchSolicitudes',
                'sanitaria/setSolicitud',
            ])
        },
        watch: {
            options: {
                handler(val) {
                    if (!this.isByFilters) {
                        this.fetchSolicitudes();
                    }
                },
                deep: true
            },
            filters: {
                handler(val) {
                    this.isByFilters = true
                    this.options.page = 1
                    this.search();
                },
                deep: true
            }
        },
        computed: {
            ...mapState({
                solicitudes: state => state.sanitaria.solicitudes.data,
                pagination: state => state.sanitaria.solicitudes
            })
        }
    }
</script>

<style scoped>

</style>
