<template>
    <v-container fluid>
        <v-row>
            <v-col md="6" offset-md="3" sm="12">
                <v-card>
                    <v-card-title>
                        <span class="headline">Perfil del usuario</span>
                    </v-card-title>
                    <v-card-text>
                        <user-profile-form :populate-with="user" @submit="submit"></user-profile-form>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="6" offset-md="3" sm="12">
                <v-card>
                    <v-card-title>
                        <span class="headline">Cambiar contraseña</span>
                    </v-card-title>
                    <v-card-text>
                        <form>
                            <v-text-field :error-messages="errors.collect('new_password')"
                                          type="password"
                                          data-vv-name="new_password"
                                          v-model="new_password"
                                          v-validate="'required'"
                                          label="Escriba una nueva contraseña"
                            ></v-text-field>
                            <v-btn :disabled="hasErrors" :loading="updatingPassword"
                                   @click="changePassword"
                                   block
                                   class="white--text"
                                   color="indigo"
                            >
                                Actualizar
                            </v-btn>
                        </form>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="6" offset-md="3" sm="12">
                <v-card>
                    <v-card-title>
                        <span class="headline">Roles y permisos</span>
                    </v-card-title>
                    <v-card-text>
                        <v-list dense subheader>
                            <v-subheader>ROLES</v-subheader>
                            <v-list-item :key="i" v-for="(item, i) in userRoles">
                                <v-list-item-content>
                                    <v-list-item-title>{{ item }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-list dense subheader>
                            <v-subheader>PERMISOS</v-subheader>
                            <v-list-item :key="i" v-for="(item, i) in userPermissions">
                                <v-list-item-content>
                                    <v-list-item-title>{{ item }}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import EventBus from '../../event-bus'
    import {mapActions} from 'vuex'

    const UserProfileForm = () => import('../../components/users/forms/ProfileForm')

    export default {
        name: 'Profile',
        components: {
            UserProfileForm
        },
        props: {},
        data() {
            return {
                new_password: null,
                updatingPassword: false
            }
        },
        created() {
        },
        methods: {
            async changePassword() {
                let isValid = await this.$validator.validate();

                if (isValid) {
                    try {
                        this.updatingPassword = true
                        await axios.patch(route('api.v1.user.update.password'), {'new_password': this.new_password})
                    } catch (e) {
                        console.log(e)
                    } finally {
                        this.updatingPassword = false
                    }
                }

            },
            async submit(draft) {
                let {titulo, name, last_name, email} = draft
                try {
                    let result = await axios.patch(route('api.v1.user.profile'), {titulo, name, last_name, email})
                    this['auth/fetchUser'](result.data);
                } catch (e) {
                    console.log(e)
                } finally {
                    EventBus.$emit('updated')
                }
            },
            ...mapActions([
                'auth/fetchUser',
            ])
        },
        computed: {
            user() {
                return this.$store.state.auth.user
            },
            userRoles() {
                return this.user.roles
            },
            userPermissions() {
                return this.user.permissions
            },
            hasErrors() {
                return this.errors.any()
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
