<script>
    import {Bar, mixins} from 'vue-chartjs';

    const {reactiveProp} = mixins;

    export default {
        name: 'BarChart',
        extends: Bar,
        mixins: [reactiveProp],
        props: ['options'],
        mounted() {
            /*
            if (this.options.animation.showNumberAtTop) {
                this.options.animation = {
                    onComplete: function () {
                        let chartInstance = this.chart;
                        let ctx = chartInstance.ctx;
                        ctx.fillStyle = '#000';
                        ctx.textAlign = 'right';

                        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                            let meta = chartInstance.controller.getDatasetMeta(i);
                            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                                let number = parseInt(dataset.data[index]);
                                ctx.fillText(number.toLocaleString('en'), bar._model.x + 20, bar._model.y - 6);
                            }), this)
                        }), this);
                    }
                };
            }

             */
            this.renderChart(this.chartData, this.options)


        }
    }
</script>

<style scoped>

</style>
