<template>
	<v-container grid-list-xl >
		<v-layout wrap>
			<div>
				<ListResTable :dataComp="dataComp" @changeEstatus="changeEstatus"></ListResTable>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
	import {Toast,mapActions,ListResTable} from '../../../components/epidemiologia/components';
    export default {
        name: 'ResponsableLab',
        components: {
        	ListResTable
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                dataComp:{
                    disabled:false,
                    items:[]
                }
            }
        },
        created(){
        	this.getData();
        },
        methods: {
            getData(){
                axios.get('/api/epidemiologia/responsable')
                .then(response => {
                    this.dataComp.items = response.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            changeEstatus(item,estatus){
                this.dataComp.disabled = true;
                let option = {estatus:estatus}
                axios.post('/api/epidemiologia/responsable/estatus/'+item.id,option)
                .then(response => {
                    if (response.data.meta.status == "success") {
                        this.dataComp.disabled = false;
                        this.getData();
                        this.toastSuccess("Estatus Actualizado correctamente");
                    }
                }).catch(e => {
                    this.dataComp.disabled = false;
                    this.toastError(e.response.data.meta.message)
                    console.log(e);
                });
            },
        	...mapActions([
                'ui/setSnackBar'
            ])
        },
        watch: {},
        computed: {
        }
    }
</script>