<template>

    <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
        :search="search"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Acciones</v-toolbar-title>
                <v-divider
                    class="mx-2"
                    inset
                    vertical>
                </v-divider>
                <div class="flex-grow-1"></div>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Filtrar"
                    single-line
                    hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog"  max-width="640px">
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" color="info" dark class="mb-2">Nueva acción</v-btn>
                    </template>
                    <v-card>
                        <v-form v-model="valid" ref="form" @submit.prevent>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md pa-0>
                                    <v-layout wrap>
                                        <v-col cols="12" sm="12">
                                            <v-text-field v-model="item.acciones"
                                                          label="Acciones">
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-menu
                                                v-model="menu_fecha"
                                                :close-on-content-click="true"
                                                :nudge-right="40"
                                                transition="scale-transition"
                                                offset-y
                                                min-width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="item.fecha_acciones"
                                                        label="Fecha de acciones"
                                                        prepend-icon="mdi-calendar-range"
                                                        readonly
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="item.fecha_acciones"
                                                               @input="menu_fecha = false"></v-date-picker>
                                            </v-menu>

                                        </v-col>


                                        <v-col cols="12" sm="6">
                                            <v-text-field v-model="item.observaciones"
                                                          label="Observaciones">
                                            </v-text-field>
                                        </v-col>

                                        <!--<v-col
                                            class="text-center mx-auto"
                                            cols="12"
                                        >
                                            <v-file-input
                                                id="file"
                                                label="Cargar archivo"
                                                v-model="item.files"
                                                outlined dense
                                                chips
                                                show-size counter multiple
                                                ref="file"
                                            ></v-file-input>
                                        </v-col>-->

                                        <v-snackbar
                                            v-model="show"
                                            :color="color"
                                            :timeout="3000"
                                            :bottom="true"
                                            :right="true"
                                        >
                                            {{ message }}
                                            <v-icon
                                                dark
                                                text
                                                @click="show = false"
                                            >
                                                mdi-close
                                            </v-icon>p
                                        </v-snackbar>
                                        <v-dialog v-model="dialogDelete" persistent max-width="290">
                                            <v-card>
                                                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                                                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                                                <v-card-actions>
                                                    <div class="flex-grow-1"></div>
                                                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                                                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>

                                    </v-layout>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                <v-btn color="success"
                                       :disabled="!valid"
                                       @click="validate"
                                       type="submit"
                                       :loading="loading"
                                >Guardar
                                </v-btn>
                            </v-card-actions>
                        </v-form>

                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <v-spacer></v-spacer>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
            >
                mdi-pencil-outline
            </v-icon>
            <v-icon
                small
                @click="openDeleteItem(item)"
            >
                mdi-delete
            </v-icon>
        </template>
        <template v-slot:item.evidencias="{ item }" v-if="item.files">
            <v-icon
                small
                class="mr-2"
            >
                mdi-file
            </v-icon> Archivos ({{ item.files.length }})

        </template>

        <template v-slot:no-data>
            <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
        </template>
    </v-data-table>
</template>

<script>
    import ApiEntradas from '@/router/api/calidad/no_conformidades.js'
    import store from '@/store';
    import {mapActions, mapGetters} from 'vuex'
    import EventBus from '@/event-bus.js'

    export default {
        name: 'Acciones',
        data: () => ({
            headers: [
                // {text: '#', value: 'id'},
                {text: 'Acciones', value: 'acciones'},
                {text: 'Fecha acciones', value: 'fecha_acciones'},
                {text: 'Observaciones', value: 'observaciones'},
                // {text: 'Evidencias', value: 'evidencias'},
                {text: 'Opciones', value: 'action', sortable: false},
            ],
            items: [],
            item: {

            },
            search: '',
            defaults: {},
            menu_fecha: false,
            dialog: false,
            dialogDelete: false,
            valid: false,
            loading: false,
            file: null,
            validating: false,
            editedIndex: -1,
            editedId: -1,
            /* Notification Settings */
            show: false,
            message: '',
            color: ''

        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Registrar acción' : 'Editar acción'
            },
            accionesNc() {
                return this['calidad/getAccionesNc']()
            },
            /*accionesNc() {
                if (!this.populateWith.empty) {
                    return clone(this.populateWith)
                }
                return this.itemDefault
            },*/

        },
        created() {
           this.items = this.accionesNc
        },
        methods: {

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this.editedId = -1
                    this.$refs.form.resetValidation()
                    //this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            deleteItem() {
                let index = this.editedIndex;
                this.items.splice(index, 1)
                this.dialogDelete = false;

                this.notify('El elemento fue eliminado correctamente', 'success')

                this.editedIndex = -1
                this.editedId = -1
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this.dialog = true
            },

            submit() {
                if (this.editedIndex > -1) {

                    this.loading = false
                    Object.assign(this.items[this.editedIndex], this.item);

                    this.notify('El elemento fue modificado correctamente','succes')

                } else {
                    this.loading = false
                    this.items.push(this.item)
                    this.notify('El elemento fue registrado correctamente','succes')
                }
                this.close()
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },
            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'calidad/fetchAccionesNc'
            ]),
            ...mapGetters([
                'calidad/getAccionesNc',
            ])

        },
        watch: {

            dialog(val) {
                val || this.close()
            },
            items(val){
                this['calidad/fetchAccionesNc'](val);
            },
            accionesNc(val){
                this.items = val;
            }
        },
    }
</script>

<style scoped>

</style>
