<script>
    export default {
        name: 'EstatusMuestra',
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
            return {}
        },
        computed: {
            color() {
                return {
                    teal: this.item.estatus === 'ASIGNADA',
                    primary: this.item.estatus === 'PENDIENTE',
                    orange: this.item.estatus === 'RECIBIDA',
                    indigo: this.item.estatus === 'EN PROCESO',
                    'cyan darken-4': this.item.estatus === 'RESULTADOS',
                    'light-green darken-1': this.item.estatus === 'VALIDADA',
                    success: this.item.estatus === 'AUTORIZADA',
                }
            }
        },
        template: '<v-chip :class="color" text-color="white" small>{{ item.estatus }}</v-chip>'
    }
</script>

<style scoped>

</style>
