<template>
    <v-simple-table>
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Clave</th>
                <th>Semáforo</th>
                <th>Estudio</th>
                <th>Unidad</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(estudio, index) in draft">
                <estudio-muestra-row :estudio="estudio"
                                     :index="index"
                                     @eliminarEstudio="eliminarEstudio"
                ></estudio-muestra-row>
            </template>
        </tbody>
    </v-simple-table>
</template>

<script>
    import EventBus from '../../event-bus'
    import {mapActions} from 'vuex'

    const EstudioMuestraRow = () => import('./EstudioMuestraRow')

    export default {
        name: 'EstudiosMuestraTable',
        components: {
            EstudioMuestraRow
        },
        props: {
            muestraId: {
                type: Number
            },
            populateWith: {
                type: Array,
                default: () => ([])
            },
            paquete: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                draft: []
            }
        },
        mounted() {
            EventBus.$on('SAVE_MUESTRA_FORM', () => {
                this.$emit('update:estudios', this.draft)
            });

            this.setData();
        },
        methods: {
            setData() {
                if (this.muestraId === null) {
                    this.draft = clone(this.resolvePaquete)
                } else {
                    this.draft = clone(this.resolvePopulateWith)
                }
            },
            eliminarEstudio(index) {
                this.draft.splice(index, 1)
            },
            ...mapActions([
                'sanitaria/setEstudiosMuestra'
            ])
        },
        watch: {
            paquete: {
                handler(val) {
                    this.draft = clone(this.resolvePaquete)
                },
                deep: true
            },
            id() {
                this.setData()
            },
            populateWith: {
                handler(val) {
                    this.setData()
                },
                deep: true
            }
        },
        computed: {
            resolvePaquete() {
                let estudios = this.paquete.estudios

                return estudios.map(function (el) {
                    let obj = {}

                    obj.clave = el.clave
                    obj.semaforo = null
                    obj.estudio = el.descripcion
                    obj.unidad = el.pivot.unidad.descripcion
                    obj.status = 'NUEVO'
                    obj.estudio_id = el.id
                    obj.unidad_id = el.pivot.unidad.id ? el.pivot.unidad.id : null
                    obj.norma = el.pivot.norma
                    obj.limite_permisible = el.pivot.limite_permisible
                    obj.orden_impresion = el.pivot.orden_impresion

                    return obj
                })
            },
            resolvePopulateWith() {
                if (this.muestraId !== null) {
                    if (this.populateWith.length) {
                        return this.populateWith.map(function (el) {
                            let obj = {}

                            obj.clave = el.estudio.clave
                            obj.semaforo = null
                            obj.estudio = el.estudio.descripcion
                            obj.unidad = el.unidad.descripcion
                            obj.status = el.status
                            obj.estudio_id = el.estudio_id
                            obj.unidad_id = el.unidad_id
                            obj.norma = el.norma
                            obj.limite_permisible = el.limite_permisible
                            obj.orden_impresion = el.orden_impresion

                            return obj
                        })
                    } else {
                        return []
                    }
                } else {
                    return []
                }
            }
        }
    }
</script>

<style scoped>

</style>
