<template>
    <tr>
        <td>
            <v-btn @click="eliminarEstudio(index)"
                   color="error"
                   dark
                   depressed
                   fab
                   x-small
            >
                <v-icon>mdi-trash-can-outline</v-icon>
            </v-btn>
        </td>
        <td>{{ estudio.clave }}</td>
        <td></td>
        <td>{{ estudio.estudio }}</td>
        <td>{{ estudio.unidad }}</td>
        <td>
            <estatus :config="statusEstudio"></estatus>
        </td>
    </tr>
</template>

<script>
    const Estatus = () => import('../Estatus')

    export default {
        name: 'EstudioMuestraRow',
        components: {
            Estatus
        },
        props: {
            index: [Number],
            estudio: {
                type: Object,
                required: true
            }
        },
        data() {
            return {}
        },
        methods: {
            eliminarEstudio(index) {
                this.$emit('eliminarEstudio', index)
            }
        },
        watch: {},
        computed: {
            statusEstudio() {
                return {
                    color: {
                        success: this.estudio.status.estatus === 'PENDIENTE',
                        info: this.estudio.status.estatus === 'RECIBIDA',
                    },
                    text: isObject(this.estudio.status) ? this.estudio.status.estatus : 'NUEVO',
                }
            },
        }
    }
</script>

<style scoped>

</style>
