<template>
    <span>{{ diaAlerta|formatDate }}</span>
</template>

<script>
    export default {
        name: 'FechaAlerta',
        components: {},
        props: {
            fechaRecepcion: {
                type: String,
                required: true
            },
            addDays: {
                type: Number,
                required: true
            }
        },
        data() {
            return {}
        },
        methods: {},
        computed: {
            diaAlerta() {
                return moment(this.fechaRecepcion).add(this.addDays, 'days')
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
