<template>
	<v-container grid-list-xl >
		<v-layout wrap>
			<div>
				<ListTipMuestraTable :dataComp="dataComp" ></ListTipMuestraTable>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
	import {Toast,mapActions,ListTipMuestraTable} from '../../../components/epidemiologia/components';
    export default {
        name: 'ListTipoMuestra',
        components: {
        	ListTipMuestraTable
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                dataComp:{
                    disabled:false,
                    items:[]
                }
            }
        },
        created(){
            this.getData();
        },
        methods: {
            getData(){
                // axios.get('/api/epidemiologia/jefe')
                // .then(response => {
                //     this.dataComp.items = response.data.data;
                // }).catch(e => {
                //     console.log(e);
                // });
            },
        	...mapActions([
                'ui/setSnackBar'
            ]),
        	show(){
        		// this.toastError('Error al cargar los datos')
        	}
        },
        watch: {},
        computed: {
        }
    }
</script>