<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-toolbar color="white" flat>
                        <v-toolbar-title>Módulos</v-toolbar-title>
                        <div class="flex-grow-1"></div>
                        <modulo-form></modulo-form>
                    </v-toolbar>
                    <v-card-text class="pa-0">
                        <v-data-table :headers="headers"
                                      :items="sistemas"
                                      :loading="loading"
                        >
                            <template v-slot:item.titulo="props">
                                <v-edit-dialog :return-value="props.item.titulo"
                                               @save="save(props.item)"
                                >
                                    {{ props.item.titulo }}
                                    <template v-slot:input>
                                        <v-text-field
                                            :error-messages="errors.collect('props.item.titulo')"
                                            data-vv-name="props.item.titulo"
                                            hint="Presiona enter para guardar"
                                            label="Título"
                                            persistent-hint
                                            single-line
                                            type="text"
                                            v-model="props.item.titulo"
                                            v-validate="'required'"
                                        ></v-text-field>
                                    </template>
                                </v-edit-dialog>
                            </template>
                            <template v-slot:item.subtitulo="props">
                                <v-edit-dialog :return-value="props.item.subtitulo"
                                               @save="save(props.item)"
                                >
                                    {{ props.item.subtitulo }}
                                    <template v-slot:input>
                                        <v-text-field
                                            :error-messages="errors.collect('props.item.subtitulo')"
                                            data-vv-name="props.item.subtitulo"
                                            hint="Presiona enter para guardar"
                                            label="Subtítulo"
                                            persistent-hint
                                            single-line
                                            type="text"
                                            v-model="props.item.subtitulo"
                                            v-validate="'required'"
                                        ></v-text-field>
                                    </template>
                                </v-edit-dialog>
                            </template>
                            <template v-slot:item.add-roles="{item}">
                                <sistema-role :roles="roles"
                                              :sistema="item"
                                />
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {Toast} from '../../../mixins/toast'
    import {mapActions, mapState} from 'vuex'

    const ModuloForm = () => import('../../../components/administracion/forms/ModuloForm')
    const SistemaRole = () => import('../../../components/administracion/SistemaRole')

    export default {
        name: 'Index',
        mixins: [Toast],
        components: {
            ModuloForm,
            SistemaRole
        },
        props: {},
        data() {
            return {
                loading: true,
                headers: [
                    {text: 'Sistema', value: 'titulo'},
                    {text: 'Subtítulo', value: 'subtitulo'},
                    {text: 'Roles', value: 'add-roles', sortable: false, align: 'center'},
                ],
                err: null,
                roles: [],
            }
        },
        created() {
            this.setData();
        },
        methods: {
            async setData() {
                this.loading = true;
                try {
                    await this['catalogos/fetchRoles']()
                    await this['administracion/fetchSistemas']()
                } catch (e) {
                    this.toastError('Error al cargar los datos')
                } finally {
                    this.loading = false
                }

            },
            async save(draft) {
                this.loading = true
                try {
                    await this['administracion/updateSistema']({id: draft.id, data: draft})
                    this.toastSuccess('El módulo se actualizó correctamente')
                } catch (e) {
                    this.toastError('Lo senitmos ha ocurrido un error, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'administracion/fetchSistemas',
                'administracion/storeSistema',
                'administracion/updateSistema',
                'catalogos/fetchRoles',
                'ui/setSnackBar',
            ])
        },
        watch: {},
        computed: {
            ...mapState({
                sistemas: state => state.administracion.sistemas
            })
        }
    }
</script>

<style scoped>

</style>
