<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card :loading="loading">
                    <v-card-title>
                        <span class="headline">Números de muesta</span>
                    </v-card-title>
                    <v-card-text>
                        <form action="">
                            <v-text-field :error-messages="errors.collect('form.year')"
                                          autofocus
                                          data-vv-name="form.year"
                                          label="Año"
                                          placeholder="YYYY"
                                          type="number"
                                          v-model="form.year"
                                          v-validate="'required|length:4|max:4'"
                            ></v-text-field>
                            <v-text-field :error-messages="errors.collect('form.numero_muestra')"
                                          data-vv-name="form.numero_muestra"
                                          label="Número de muestra"
                                          type="number"
                                          v-model="form.numero_muestra"
                                          v-validate="'required|min_value:0'"
                            ></v-text-field>

                            <v-btn @click="save"
                                   class="mt-3"
                                   color="success"
                            >
                                Guardar
                            </v-btn>
                        </form>
                    </v-card-text>
                    <v-card-text>
                        <v-simple-table>
                            <thead>
                                <tr>
                                    <th>Año</th>
                                    <th>Último número de muestra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="numero in numeros">
                                    <tr>
                                        <td>{{ numero.year }}</td>
                                        <td>{{ numero.numero_muestra }}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </v-simple-table>
                    </v-card-text>
                    <v-card-actions>

                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../../mixins/toast'

    export default {
        name: 'Index',
        mixins: [Toast],
        components: {},
        props: {},
        data() {
            return {
                loading: false,
                numeros: [],
                form: {
                    year: null,
                    numero_muestra: null,
                }
            }
        },
        async created() {
            try {
                this.loading = true
                let res = await axios.get(route('api.v1.numero.muestra.index'));
                this.numeros = res.data.numeros
            } catch (e) {
                console.error(e)
                this.toastError('Error al cargar los datos')
            } finally {
                this.loading = false
            }

        },
        methods: {
            async save() {
                let isValid = await this.$validator.validateAll();
                if (isValid) {
                    try {
                        this.loading = true
                        let res = await axios.post(route('api.v1.numero.muestra.store'), this.form)
                        this.numeros.push(res.data.numero)
                        this.toastSuccess('El número de muestra se creó correctamente')
                    } catch (e) {
                        console.error(e)
                        this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                    } finally {
                        this.loading = false
                    }
                }
            },
            ...mapActions([
                'ui/setSnackBar'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
