<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        Muestras
                        <v-spacer></v-spacer>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="muestras"
                                      :loading="fetching"
                                      class="elevation-0"
                                      item-key="id"
                                      show-select
                                      v-model="selectedMuestras"
                        >
                            <template v-slot:item.fecha_muestreo="{ item }">
                                <span>{{ item.fecha_muestreo|formatDate}}</span>
                            </template>
                            <template v-slot:item.status="{item}">
                                <estatus-muestra :item="item"></estatus-muestra>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary"
                               @click="drawerRight = true"
                               v-if="samplesToAssign.length > 0"
                        >
                            <span v-text="`Asignar ${samplesToAssign.length} muestra(s)`"></span>
                        </v-btn>
                        <!--<v-btn color="error"
                               v-if="samplesToReset.length > 0"
                        >
                            <span v-text="`Desasignar ${samplesToReset.length} muestra(s)`"></span>
                        </v-btn>-->
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-navigation-drawer
            fixed
            right
            temporary
            v-model="drawerRight"
        >
            <v-container fluid>
                <v-row>
                    <v-col>
                        <h4>Asignar muestras</h4>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="pb-0">
                        <template v-for="muestra in selectedSamplesToAssign">
                            <v-chip
                                class="ma-2"
                            >
                                {{ muestra }}
                            </v-chip>
                        </template>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-autocomplete :items="analistas"
                                        :loading="assigninSamples"
                                        item-text="user.nombre_apellidos"
                                        item-value="id"
                                        label="Analistas"
                                        v-model="selectedAnalista"
                        >
                            <template v-slot:item="data">
                                <v-list-item-avatar>
                                    <v-btn class="mx-2 elevation-0" color="primary" dark fab small>
                                        <font-awesome-icon icon="user"></font-awesome-icon>
                                    </v-btn>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title v-html="data.item.user.nombre_apellidos"></v-list-item-title>
                                    <v-list-item-subtitle v-html="data.item.laboratorio.descripcion"></v-list-item-subtitle>
                                </v-list-item-content>
                            </template>
                        </v-autocomplete>
                    </v-col>
                </v-row>
            </v-container>
        </v-navigation-drawer>
    </v-container>
</template>

<script>
    const EstatusMuestra = () => import('../../../components/sanitaria/EstatusMuestra')

    export default {
        name: 'MuestraIndex',
        components: {
            EstatusMuestra
        },
        props: {},
        data() {
            return {
                headers: [
                    {text: 'Núm. muestra', value: 'numero_muestra', align: 'right'},
                    {text: 'Solicitud', value: 'solicitud.folio', align: 'right'},
                    {text: 'Fecha muestreo', value: 'fecha_muestreo'},
                    {text: 'Punto muestreo', value: 'punto_muestreo'},
                    {text: 'Desc. muestra', value: 'descripcion_muestra'},
                    {text: 'Asignado a', value: 'analista.nombre_apellidos'},
                    {text: 'Determinaciones', value: 'estudios_count', align: 'right'},
                    {text: 'Estatus', value: 'status'},
                ],
                muestras: [],
                selectedMuestras: [],
                fetching: false,
                analistas: [],
                selectedAnalista: null,
                drawerRight: false,
                assigninSamples: false
            }
        },
        async created() {
            try {
                this.fetching = true
                await this.fetchSamples()
                await this.fetchAnalysts()
            } catch (e) {
                console.log(e)
            } finally {
                this.fetching = false
            }
        },
        methods: {
            async fetchSamples() {
                let result = await axios.get(route('api.v1.muestras-sanitarias.index'))
                this.muestras = result.data.muestras
            },
            async fetchAnalysts() {
                let analistas = await axios.get(route('api.v1.analistas.activos'))
                this.analistas = analistas.data.analistas
            }
        },
        computed: {
            selectedSamplesToAssign() {
                return this.samplesToAssign.map(item => {
                    return item.numero_muestra
                })
            },
            selectedSamplesToReset() {
                return this.samplesToReset.map(item => {
                    return item.numero_muestra
                })
            },
            samplesToAssign() {
                return this.selectedMuestras.filter(item => {
                    return item.estatus === 'PENDIENTE'
                })
            },
            samplesToReset() {
                return this.selectedMuestras.filter(item => {
                    return item.estatus === 'ASIGNADA'
                })
            }
        },
        watch: {
            async selectedAnalista(val) {
                let analista_id = val
                let numeros_muestra = this.selectedSamplesToAssign

                try {
                    this.assigninSamples = true
                    await axios.post(route('api.v1.asignar.muestras'), {analista_id, numeros_muestra})

                    this.fetching = true
                    await this.fetchSamples();
                } catch (e) {
                    console.log(e)
                } finally {
                    this.assigninSamples = false
                    this.fetching = false
                }
            }
        }
    }
</script>

<style scoped>

</style>
