<template>
    <v-container grid-list-xl >
         <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <v-data-table
                    :headers="headers"
                    :items="labs"
                    :search="search"
                >
                     <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Laboratorios</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <v-text-field
                              v-model="search"
                              label="Buscar"
                              single-line
                              hide-details
                            ></v-text-field>
                            <div class="flex-grow-1"></div>
                            <v-btn color="success" v-on:click.prevetn="newLab()">Nuevo Laboratorio</v-btn>
                            <v-dialog v-model="dialog" max-width="500px" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                     <v-form>
                                        <v-toolbar dark color="primary">
                                          <v-btn icon dark @click="dialog = false">
                                            <v-icon>mdi-close</v-icon>
                                          </v-btn>
                                          <v-toolbar-title>Editar Laboratorio</v-toolbar-title>
                                          <div class="flex-grow-1"></div>
                                          <v-toolbar-items>
                                            <v-btn  text @click="saveEdit">Guardar</v-btn>
                                          </v-toolbar-items>
                                        </v-toolbar>
                                         <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 md6>
                                                      <v-text-field
                                                        :error-messages="errors.collect('Nombre Laboratorio')"
                                                        v-validate="'required'"
                                                        data-vv-name="Nombre Laboratorio"
                                                        v-model="formEdit.descripcion"
                                                        label="Nombre Laboratorio"
                                                        class="purple-input"/>
                                                    </v-flex>
                                                    <v-flex xs12 md6>
                                                        <v-select
                                                            :error-messages="errors.collect('Responsable')"
                                                            v-validate="'required'"
                                                            data-vv-name="Responsable"
                                                            :items="responsables"
                                                            item-text="nombre_apellidos"
                                                            label="Responsable"
                                                            v-model="formEdit.responsable"
                                                            item-value="id" />
                                                    </v-flex>
                                                    <v-flex xs12 md6>
                                                        Tipo de Laboratorio
                                                      <v-checkbox
                                                        :error-messages="errors.collect('Tipo')"
                                                        v-validate="'required'"
                                                        data-vv-name="Tipo"
                                                        value="1"
                                                        v-model="formEdit.tipo"
                                                        label="EPIDEMIOLOGIA"
                                                        ></v-checkbox>
                                                        <v-checkbox
                                                            :error-messages="errors.collect('Tipo')"
                                                            v-validate="'required'"
                                                            data-vv-name="Tipo"
                                                            value="2"
                                                            v-model="formEdit.tipo"
                                                            label="SANITARIA"
                                                        ></v-checkbox>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                     </v-form>
                                </v-card>

                            </v-dialog>
                        </v-toolbar>
                     </template>
                     <template v-slot:item.action="{ item }">
                        <v-icon small class="mr-2" @click="editItem(item)">
                            mdi-pencil-outline
                        </v-icon>
                    </template>
                </v-data-table>
            </v-flex>
         </v-layout>
         <v-snackbar
            v-model="snackbar"
            :color="color_nack"
            :timeout="3000"
            :bottom="true"
                >
            {{ message }}
            <v-icon
                dark
                text
                @click="snackbar = false"
            >
                mdi-close
            </v-icon>
        </v-snackbar>
        <v-dialog v-model="dialogDelete" persistent max-width="290">
            <v-card>
                <v-card-title class="headline">Confirmar eliminación</v-card-title>
                <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                    <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    export default {
        name: 'Laboratorio',
        components: {},
        props: {},
        data() {
            return {
                      search: '',
                      snackbar: false,
                      item_delete:{},
                      color_nack:"",
                      dialog:false,
                      dialogDelete:false,
                      message:"",
                      edit_id:"",
                      delete_id:"",
                      formEdit:{tipo:0,responsable:0},
                      responsables:[],
                      headers: [
                        {
                          text: 'Id',
                          align: 'left',
                          value: 'id',
                        },
                        { text: 'Laboratorio', value: 'nombre' },
                        { text: 'Tipo', value: 'tipo' },
                        { text: 'Responsable', value: 'responsable.nombre_apellidos' },
                        { text: 'Correo', value: 'responsable.email' },
                        { text: 'Actions', value: 'action', sortable: false },
                      ],
                      labs: [],
                    }
        },
        created(){
            this.getTableData();
        },
        methods: {
            close() {

                this.dialog = false
            },
            getTableData(){
                this.getResposables();
                axios.get('/api/epidemiologia/laboratorio')
                    .then(response => {
                        this.labs = response.data.data;
                    }).catch(e => {
                        console.log(e);
                    });
            },
            getResposables(){
                axios.post('/api/epidemiologia/laboratorio/responsables')
                .then(response => {
                    this.responsables = response.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            newLab(){
                this.$router.push({name:'addLaboratorio'});
            },
            editItem(item) {
                this.edit_id = item.id;
                axios.get('/api/epidemiologia/laboratorio/'+item.id)
                .then(response => {
                    let data = response.data.data[0];
                    this.responsables.push(data.responsable)
                    this.formEdit.descripcion = data.nombre;
                    this.formEdit.responsable = data.responsable.id;
                    this.formEdit.tipo = data.tipo_id;
                    this.dialog = true
                }).catch(e => {
                    console.log(e);
                });
            },
            saveEdit(){
                axios.put('/api/epidemiologia/laboratorio/'+this.edit_id,this.formEdit)
                .then(response => {
                    if(response.data.meta.status == "success") {
                        this.notify("Laboratorio actualizado correctamente","success");
                        this.dialog = false;
                        this.getTableData();
                    }
                }).catch(e => {
                    this.notify(e.response.data.meta.message,"error");
                    console.log(e.response.meta.message);
                });
            },
            notify(message, color) {
                this.message = message
                this.color_nack = color
                this.snackbar = true
            }
        },
        watch: {
            dialog (val) {
                val || this.close()
              },
        },
        computed: {
        }
    }
</script>

<style scoped>

</style>
