<template>
    <v-container fluid grid-list-xl>
    <v-card>
        <v-card-title>
            Nuevo Laboratorio
        </v-card-title>
        <v-flex xs12 md8>
            <v-form @submit.prevent="submit">
                <v-container py-0>
                <v-layout wrap>
                <v-flex xs12 md6>
                  <v-text-field
                    :error-messages="errors.collect('Nombre Laboratorio')"
                    v-validate="'required'"
                    data-vv-name="Nombre Laboratorio"
                    v-model="formSave.descripcion"
                    label="Nombre Laboratorio"
                    class="purple-input"/>
                </v-flex>
                <v-flex xs12 md6>
                    <v-select
                        :error-messages="errors.collect('Responsable')"
                        label="Responsable"
                        v-validate="'required'"
                        data-vv-name="Responsable"
                        :items="responsables"
                        item-text="nombre_apellidos"
                        v-model="formSave.responsable"
                        item-value="id" />
                </v-flex>
                <v-flex xs12 md6>
                    Tipo de Laboratorio
                  <v-checkbox
                    :error-messages="errors.collect('Tipo')"
                    v-validate="'required'"
                    data-vv-name="Tipo"
                    value="1"
                    v-model="formSave.tipo"
                    label="EPIDEMIOLOGIA"
                    ></v-checkbox>
                    <v-checkbox
                        :error-messages="errors.collect('Tipo')"
                        v-validate="'required'"
                        data-vv-name="Tipo"
                        value="2"
                        v-model="formSave.tipo"
                        label="SANITARIA"
                    ></v-checkbox>
                </v-flex>
                <v-flex xs12 text-xs-right>
                    <router-link :to="{name: 'Laboratorio'}" tag="span">
                        <v-btn :loading="disabled" class="mx-0" color="primary">
                            Regresar
                        </v-btn>
                    </router-link>
                    <v-btn :loading="disabled" @click="add" class="mx-0" color="success">
                        Guardar
                    </v-btn>
                </v-flex>
                </v-layout>
                </v-container>
            </v-form>
        </v-flex>
    </v-card>
    <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        :bottom="true"
            >
        {{ message }}
        <v-icon
            dark
            text
            @click="snackbar = false"
        >
            mdi-close
        </v-icon>
    </v-snackbar>
  </v-container>
</template>

<script>
    export default {
        name: 'addLaboratorio',
        components: {},
        props: {},
        data() {
            return {
                snackbar: false,
                disabled:false,
                message:"",
                date: new Date().toISOString().substr(0, 10),
                modal: false,
                responsables:[],
                formSave:{}
            }
        },
        created(){
            this.getResposables();
        },
        methods: {
            add(){
                this.$validator.validate()
                    .then(isValid => {
                        if (isValid) {
                            this.save();
                        } else {
                            console.log("no valido");
                        }
                    })
            },
            save(){
                this.disabled = true;
                axios.post('/api/epidemiologia/laboratorio',this.formSave)
                .then(response => {
                    this.disabled = false;
                    if (response.data.meta.status == "success") {
                        this.snackbar = true;
                        this.message = "Laboratorio creado correctamente";
                        this.clean();
                        this.getResposables();
                    }
                }).catch(e => {
                    console.log(e.response.data.meta.message);
                    this.disabled = false;
                    this.snackbar = true;
                    this.message = e.response.data.meta.message;
                    console.log(e);
                });
            },
            getResposables(){
                axios.post('/api/epidemiologia/laboratorio/responsables')
                .then(response => {
                    this.responsables = response.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            clean(){
                this.formSave = {};
            }
        },
        watch: {},
        computed: {}
    }
</script>
