<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-text>
                        <form @submit.prevent="getMuestras">
                            <v-layout class="pa-2" row wrap>
                                <v-flex md2 xs12>
                                    <v-text-field autofocus
                                                  class="mr-4"
                                                  data-vv-name="params.muestra"
                                                  label="Núm. muestra"
                                                  type="text"
                                                  v-model="params.muestra"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md4 xs12>
                                    <v-select
                                        :items="estatusEstudios"
                                        clearable
                                        label="Estatus estudio"
                                        v-model="params.estado"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12>
                                    <v-btn :loading="fetchingMuestras"
                                           @click="getMuestras"
                                           color="primary">
                                        Buscar
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card>
                    <v-data-iterator
                        :items="muestras"
                        :loading="fetchingMuestras"
                        hide-default-footer
                        v-model="selectedItems"
                    >
                        <template v-slot:no-data>
                            <div class="pa-2">No hay datos disponibles</div>
                        </template>
                        <template v-slot:loading>
                            <div class="pa-2">Buscando...</div>
                        </template>
                        <template v-slot:default="{ items, isSelected, select }">
                            <div v-for="item in items">
                                <v-layout class="pa-2" wrap>
                                    <v-flex md2 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Solicitud</div>
                                        <v-checkbox
                                            :input-value="isSelected(item)"
                                            @change="(v) => select(item, v)"
                                            class="mt-0 pt-0"
                                            hide-details
                                            v-if="item.estatus === 'PENDIENTE' || item.estatus === 'EN PROCESO'"
                                        >
                                            <template v-slot:label>
                                                <span class="black--text">{{ item.muestra.solicitud.folio }}</span>
                                            </template>
                                        </v-checkbox>
                                        <template v-else>
                                            <span class="black--text">{{ item.muestra.solicitud.folio }}</span>
                                        </template>
                                    </v-flex>
                                    <v-flex md1 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Muestra</div>
                                        <span class="">{{ item.muestra.numero_muestra }}</span>
                                    </v-flex>
                                    <v-flex md3 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Estudio</div>
                                        <span class="">{{ item.estudio.descripcion }}</span>
                                    </v-flex>
                                    <v-flex md2 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Fecha recepción</div>
                                        <span class="">{{ item.muestra.solicitud.fecha_recepcion|formatDate }}</span>
                                    </v-flex>
                                    <v-flex md2 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Tiempo alerta</div>
                                        <fecha-alerta :add-days="parseInt(item.estudio.tiempo_alerta)"
                                                      :fecha-recepcion="item.muestra.solicitud.fecha_recepcion"
                                        ></fecha-alerta>
                                        <v-chip
                                            color="warning"
                                            small
                                            text-color="white"
                                        >
                                            <v-avatar
                                                class="warning darken-4"
                                                left
                                            >
                                                {{ item.estudio.tiempo_alerta }}
                                            </v-avatar>
                                            días
                                        </v-chip>
                                    </v-flex>
                                    <v-flex md2 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Tiempo proceso</div>
                                        <fecha-alerta :add-days="parseInt(item.estudio.tiempo_proceso)"
                                                      :fecha-recepcion="item.muestra.solicitud.fecha_recepcion"
                                        ></fecha-alerta>
                                        <v-chip
                                            color="error"
                                            small
                                            text-color="white"
                                        >
                                            <v-avatar
                                                class="error darken-4"
                                                left
                                            >
                                                {{ item.estudio.tiempo_proceso }}
                                            </v-avatar>
                                            días
                                        </v-chip>
                                    </v-flex>
                                    <v-flex md2 xs6>
                                        <div class="text-capitalize overline text--secondary text--darken-3">Estatus</div>
                                        <span class="">
                                            <estatus-muestra :item="item"></estatus-muestra>
                                        </span>
                                    </v-flex>
                                </v-layout>
                                <v-divider></v-divider>
                            </div>
                        </template>
                    </v-data-iterator>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-if="hasSamplesToReport || hasSamplesToProcess">
            <v-col>
                <v-card>
                    <v-card-text>
                        <v-btn :loading="processingSamples"
                               @click="ProcessSamples"
                               color="primary"
                               v-if="hasSamplesToProcess"
                        >
                            <font-awesome-icon class="mr-1" icon="microscope"></font-awesome-icon>
                            {{`Procesar ${samplesToProcessCount}`}}
                        </v-btn>
                        <v-btn @click="openResultadosModal = true"
                               class="white--text"
                               color="indigo"
                               v-if="hasSamplesToReport"
                        >
                            <font-awesome-icon class="mr-1" icon="file-signature"></font-awesome-icon>
                            {{ `Reportar ${samplesToReportCount}` }}
                        </v-btn>

                        <!--Formulario reportar resultados-->
                        <v-dialog :persistent="true"
                                  @keydown.esc="closeDialog"
                                  fullscreen
                                  hide-overlay
                                  scrollable
                                  transition="dialog-bottom-transition"
                                  v-model="openResultadosModal"
                        >
                            <v-card>
                                <v-toolbar color="primary" dark
                                           style="flex-basis:auto;flex-direction:row;flex-grow:0;flex-shrink:1;flex-wrap:nowrap;-webkit-box-flex:0;"
                                >
                                    <v-btn @click="closeDialog" dark icon>
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Reportar resultados</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-items>
                                        <v-btn @click="closeDialog" dark text>Cerrar</v-btn>
                                    </v-toolbar-items>
                                </v-toolbar>
                                <v-card-text style="padding-top: 20px">
                                    <template v-for="estudio in samplesToReport">
                                        <v-card class="mb-4">
                                            <v-card-title>
                                                <span class="headline">{{ `Número de muestra ${estudio.muestra.numero_muestra}` }}</span>
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text class="grey lighten-3">
                                                <v-container class="pa-0" fluid>
                                                    <v-row>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.solicitud.fecha_recepcion|formatDateHour" label="Fecha/Hora de recepción" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.solicitud.es_convenio ? 'Si': 'No'" label="Convenio" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.es_subrogado ? 'Si':'No'" label="Subrogado" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.fecha_muestreo|formatDateHour" label="Fecha/Hora de muestreo" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-text-field :value="estudio.muestra.descripcion_muestra" label="Descripción de la muestra" readonly></v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col class="pt-0">
                                                            <v-text-field :value="estudio.muestra.observaciones" label="Observaciones" readonly></v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                            <v-card-text>
                                                <resultados-form :populate-with="estudio"></resultados-form>
                                            </v-card-text>
                                        </v-card>
                                    </template>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <resultado-global-form></resultado-global-form>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!--Formulario reportar resultados-->
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {Toast} from '../../../mixins/toast'
    import {mapActions} from 'vuex'
    import FechaAlerta from '../../../components/sanitaria/FechaAlerta'
    import EstatusMuestra from '../../../components/sanitaria/EstatusMuestra'

    const ResultadosForm = () => import('../../../components/sanitaria/forms/ReportarForm')
    const ResultadoGlobalForm = () => import('../../../components/sanitaria/forms/ReportarResultadosGlobalesForm')

    export default {
        name: 'HojaDeTrabajo',
        mixins: [Toast],
        components: {
            ResultadoGlobalForm,
            ResultadosForm,
            EstatusMuestra,
            FechaAlerta
        },
        props: {},
        data() {
            return {
                fetchingMuestras: false,
                processingSamples: false,
                muestras: [],
                selectedItems: [],
                params: {
                    muestra: '',
                    estado: ''
                },
                estatusEstudios: ['EN PROCESO', 'VALIDADO', 'RESULTADOS', 'AUTORIZADO', 'PENDIENTE'],
                openResultadosModal: false,
            }
        },
        created() {
        },
        methods: {
            async closeDialog() {
                this.openResultadosModal = false
                await this.getMuestras()
            },
            async getMuestras() {
                this.fetchingMuestras = true
                this.muestras = this.selectedItems = []
                try {
                    let params = this.params
                    let response = await axios.get(route('api.v1.analistas.muestras.sanitarias.index'), {params})
                    this.muestras = response.data.data
                } catch (e) {
                    console.log(e)
                } finally {
                    this.fetchingMuestras = false
                }
            },
            async ProcessSamples() {
                this.processingSamples = true

                let estudios = this.samplesToProcess.map(item => {
                    return item.id
                })

                try {
                    await axios.patch(route('api.v1.analistas.muestras.sanitarias.procesar'), {estudios})
                    await this.getMuestras()
                    this.toastSuccess('Los estudios se procesaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.processingSamples = false
                }

            },
            ...mapActions([
                'ui/setSnackBar'
            ])
        },
        computed: {
            samplesToProcess() {
                return this.selectedItems.filter(item => {
                    return item.estatus === 'PENDIENTE'
                })
            },
            hasSamplesToProcess() {
                return this.samplesToProcess.length > 0
            },
            samplesToProcessCount() {
                return this.samplesToProcess.length
            },
            samplesToReport() {
                return this.selectedItems.filter(item => {
                    return item.estatus === 'EN PROCESO'
                })
            },
            hasSamplesToReport() {
                return this.samplesToReport.length > 0
            },
            samplesToReportCount() {
                return this.samplesToReport.length
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
