<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <span class="headline">Roles</span>
                        <v-spacer></v-spacer>
                        <v-dialog max-width="500px" v-model="dialog">
                            <template v-slot:activator="{ on }">
                                <v-btn class="mb-2" color="primary" dark v-on="on">Nuevo rol</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-text-field :error-messages="errors.collect('editedItem.name')"
                                                  data-vv-name="editedItem.name"
                                                  label="Nombre"
                                                  v-model="editedItem.name"
                                                  v-validate="'required'"
                                    ></v-text-field>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="close" color="blue darken-1" text>Cancelar</v-btn>
                                    <v-btn :loading="savingRole"
                                           @click="save"
                                           color="success"
                                           text
                                    >
                                        Guardar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog scrollable
                                  v-model="menuDialog"
                                  width="500px"
                        >
                            <v-card>
                                <v-card-title class="pt-1 pb-0">
                                    <span class="headline">Menús</span>
                                    <v-spacer></v-spacer>
                                    <v-text-field
                                        append-icon="mdi-magnify"
                                        class="mr-4"
                                        clearable
                                        label="Buscar"
                                        v-model="search"
                                    ></v-text-field>
                                </v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <v-treeview :item-children="'children_menu'"
                                                :item-key="'id'"
                                                :item-text="'descripcion'"
                                                :items="menus"
                                                :open-on-click="true"
                                                :return-object="true"
                                                :search="search"
                                                selectable
                                                selection-type="leaf"
                                                v-model="selectedMenus"
                                    ></v-treeview>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="closeMenuDialog" color="blue darken-1" text>Cerrar</v-btn>
                                    <v-btn :loading="synchronizingRoles"
                                           @click="syncRoles"
                                           color="success"
                                           text
                                    >
                                        Guardar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <v-data-table :disable-pagination="true"
                                      :headers="headers"
                                      :items="items"
                                      :loading="fetchingRoles"
                                      class="elevation-0"
                                      hide-default-footer
                        >
                            <template v-slot:item.actions="{ item }">
                                <v-icon @click="editItem(item)">
                                    mdi-playlist-plus
                                </v-icon>
                                <span>{{ item.menus_count }}</span>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {Toast} from '../../../mixins/toast'
    import {mapActions} from 'vuex'

    export default {
        name: 'RolesIndex',
        components: {},
        mixins: [Toast],
        props: {},
        data() {
            return {
                headers: [
                    {text: 'Menus', value: 'actions', sortable: false, align: 'center', width: 100},
                    {text: 'Rol', value: 'name'},
                ],
                items: [],
                search: null,
                fetchingRoles: false,
                editedItem: {name: '', menus: []},
                defaultItem: {name: '', menus: []},
                editedIndex: -1,
                dialog: false,
                menuDialog: false,
                menus: [],
                selectedMenus: [],
                savingRole: false,
                synchronizingRoles: false
            }
        },
        created() {
            this.fetchRoles()
            this.fetchMenus()
        },
        methods: {
            async fetchRoles() {
                try {
                    this.fetchingRoles = true
                    let result = await axios.get(route('api.v1.catalogos.roles'))
                    this.items = result.data.roles
                } catch (e) {
                    console.log(e)
                    this.toastError('Error al cargar los roles')
                } finally {
                    this.fetchingRoles = false
                }
            },
            async fetchMenus() {
                try {
                    let result = await axios.get(route('api.v1.menu.index'))
                    this.menus = result.data.menus;
                } catch (e) {
                    console.log(e)
                    this.toastError('Error al cargar los menús')
                } finally {
                }
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                    this.$validator.reset()
                }, 300)
            },
            closeMenuDialog() {
                this.menuDialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                    this.selectedMenus = []
                }, 300)
            },
            async save() {
                let isValid = await this.$validator.validateAll();

                if (isValid) {
                    try {
                        this.savingRole = true
                        let result = await axios.post(route('api.v1.catalogos.roles'), {
                            name: this.editedItem.name,
                            guard_name: 'web'
                        })
                        this.fetchRoles()
                        this.dialog = false
                        this.toastSuccess('El rol se guardó correctamente')
                    } catch (e) {
                        console.log(e)
                        this.toastError('Error al guardar los datos')
                    } finally {
                        this.savingRole = false
                    }
                }
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.selectedMenus = this.editSelectedMenus
                this.menuDialog = true
            },
            async syncRoles() {
                let ids = this.selectedMenus.map(function (el) {
                    return el.id
                })

                let parentIds = this.selectedMenus.map(function (el) {
                    return el.parent_id
                })

                let removeNullFromParents = parentIds.filter(function (el) {
                    return el !== null
                })

                let uniqueParents = removeNullFromParents.filter(function (el, index) {
                    return removeNullFromParents.indexOf(el) >= index;
                })

                try {
                    this.synchronizingRoles = true
                    let result = await axios.patch(route('api.v1.catalogos.roles.menus', {role: this.editedItem.id}), {menu_ids: uniqueParents.concat(ids)})
                    this.fetchRoles()
                    this.menuDialog = false
                    this.toastSuccess('Los menús se asignaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Error al guardar los datos')
                } finally {
                    this.synchronizingRoles = false
                }
            },
            ...mapActions([
                'ui/setSnackBar',
            ])
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Nuevo rol' : 'Editar rol'
            },
            editSelectedMenus() {
                return this.editedItem.menus.filter(function (el) {
                    return (el.parent_id === null && el.children_menu.length === 0) || (el.parent_id !== null)
                })
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            menuDialog(val) {
                val || this.closeMenuDialog()
            },
        },
    }
</script>

<style scoped>

</style>
