<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-row>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="green"
                                    dark
                                >
                                    <v-card-text>
                                        Registros
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ registros.capturados }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>Capturados</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="cyan"
                                    dark
                                >
                                    <v-card-text>
                                        Reportes de NC
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">32</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>Realizadas</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="teal"
                                    dark
                                >
                                    <v-card-text>
                                        Documentos
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">8</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>Ingresados</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="red darken-1"
                                    dark
                                >
                                    <v-card-text>
                                        A vencer en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.rojo }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>menos de 6 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="orange"
                                    dark
                                >
                                    <v-card-text>
                                        A vencer en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.amarillo }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>menos de 12 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col cols="4">
                                <v-card
                                    class="mx-auto text-center"
                                    color="green"
                                    dark
                                >
                                    <v-card-text>
                                        A vencer en
                                    </v-card-text>
                                    <v-card-text>
                                        <div class="display-1 font-weight-thin">{{ caducidad.verde }}</div>
                                    </v-card-text>
                                    <v-divider></v-divider>

                                    <v-card-actions class="justify-center">
                                        <v-btn block text>mas de 12 meses</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-card
                            class="mt-4 mx-auto"
                        >
                            <v-sheet
                                class="v-sheet--offset mx-auto pa-5"
                                color="white"
                                elevation="12"
                                max-width="calc(100% - 32px)"
                            >
<!--                                <bar-chart :chart-data="datacollection" :height="200" :options="options"/>-->
                                <stacked-chart :chart-data="datacollection" :options="options"/>
                            </v-sheet>

                            <v-card-text class="pt-0">
                                <div class="text-center">
                                    <v-chip
                                        class="ma-2"
                                        color="#FF6D00"
                                        outlined
                                    >
                                        <v-icon left>mdi-clipboard-list-outline</v-icon>
                                        Registros
                                    </v-chip>
                                    <v-chip
                                        class="ma-2"
                                        color="#E53935"
                                        outlined
                                    >
                                        <v-icon left>mdi-file</v-icon>
                                        Documentos
                                    </v-chip>
                                    <v-chip
                                        class="ma-2"
                                        color="#5E35B1"
                                        outlined
                                    >
                                        <v-icon left>mdi-cancel</v-icon>
                                        No conformidades
                                    </v-chip>
                                    <v-chip
                                        class="ma-2"
                                        color="#00897B"
                                        outlined
                                    >
                                        <v-icon left>mdi-clipboard-alert</v-icon>
                                        Salidas no conformes
                                    </v-chip>

                                </div>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-flex>

            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
        </v-layout>
    </v-container>
</template>
<style>
    .v-sheet--offset {
        top: -24px;
        position: relative;
    }
</style>
<script>

    import StackedChart from '../../components/charts/StackedChart'
    const LineChart = () => import('../../components/charts/LineChart')
    const PieChart = () => import('../../components/charts/PieChart')
    const HorizontalBarChart = () => import('../../components/charts/HorizontalBarChart')
    const BarChart = () => import('../../components/charts/BarChart')

    export default {
        components: {
            StackedChart,
            PieChart,
            LineChart,
            HorizontalBarChart,
            BarChart
        },
        data() {
            return {
                totalMuestras: 0,
                ready: true,
                datacollection: {
                    labels: [
                        "DEPTO 1",
                        "DEPTO 2",
                        "DEPTO 3",
                        "DEPTO 4",
                        "DEPTO 5",
                        "DEPTO 6",
                        "DEPTO 7",
                        "DEPTO 8",
                        "DEPTO 9",
                        "DEPTO 10"
                    ],
                    datasets: [
                        {
                            label: "REGISTROS",
                            data: [47, 20, 14, 33, 19, 35, 25, 25, 5, 15],
                            backgroundColor: "#FF6D00" // green
                        },
                        {
                            label: "DOCUMENTOS",
                            data: [20, 15, 36, 10, 35, 20, 30, 15, 25, 10],
                            backgroundColor: "#E53935" // yellow
                        },
                        {
                            label: "NO CONFORMIDADES",
                            data: [11, 10, 10, 15, 15, 15, 20, 15, 15, 10],
                            backgroundColor: "#5E35B1" // red
                        },
                        {
                            label: "SALIDAS NO CONFORMES",
                            data: [10, 25, 30, 25, 35, 25, 15, 15, 35, 35],
                            backgroundColor: "#00897B" // green
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "GESTIÓN DE CALIDAD",
                        fontSize: 22
                    },
                    plugins: {
                        labels: {
                            render: "value",
                            fontColor: "black"
                        }
                    },
                    scales: {
                        xAxes: [
                            {
                                stacked: true
                            }
                        ],
                        yAxes: [
                            {
                                stacked: true
                            }
                        ]
                    }
                },

                loading: false,
                registros: {
                    capturados: 12,
                },
                caducidad: {
                    rojo: 5,
                    amarillo: 1,
                    verde: 6,
                },
                item: {},
                defaults: {},
                dialog: false,
                menu: false,
                /* Notification Settings */
                show: false,
                message: '',
                color: ''
            }
        },
        created() {
        },

        computed: {
            computedHeaders() {
                let bp = this.$vuetify.breakpoint
                let vm = this
                return this.headers.filter(h => {
                    if (!h.hide) return true
                })
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            chartType(val) {
                this.setTopDiagnosticos()
                this.setEstatusMuestras()
                this.setResultados()

                if (val === 'week') {
                    this.datacollection = Object.assign({}, {
                        labels: this.dayLabels,
                        datasets: this.dayDatasets
                    })
                } else {
                    this.datacollection = Object.assign({}, {
                        labels: this.monthLabels,
                        datasets: this.monthDatasets
                    })
                }
            }
        },
        beforeCreate() {
            Samples.srand(6)
        },
        methods: {

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this.$refs.form.reset();
                }, 500)
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },
            randomScaling() {
                return Math.round(Samples.rand(0, 10));
            },
        }

    }
</script>
