<template>
	<v-container grid-list-xl >
		<v-layout wrap>
			<div>
				<ListJefeTable :dataComp="dataComp" @changeEstatus="changeEstatus"></ListJefeTable>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
	import {Toast,mapActions,ListJefeTable} from '../../../components/epidemiologia/components';
    export default {
        name: 'JefeLab',
        components: {
        	ListJefeTable
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                dataComp:{
                    disabled:false,
                    items:[]
                }
            }
        },
        created(){
            this.getData();
        },
        methods: {
            changeEstatus(item,estatus){
                this.dataComp.disabled = true;
                let option = {estatus:estatus}
                axios.post('/api/epidemiologia/jefe/estatus/'+item.id,option)
                .then(response => {
                    if (response.data.meta.status == "success") {
                        this.dataComp.disabled = false;
                        this.getData();
                        this.toastSuccess("Estatus Actualizado correctamente");
                    }
                }).catch(e => {
                    this.dataComp.disabled = false;
                    this.toastError(e.response.data.meta.message)
                    console.log(e);
                });
            },
            getData(){
                axios.get('/api/epidemiologia/jefe')
                .then(response => {
                    this.dataComp.items = response.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
        	...mapActions([
                'ui/setSnackBar'
            ]),
        	show(){
        		// this.toastError('Error al cargar los datos')
        	}
        },
        watch: {},
        computed: {
        }
    }
</script>