<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    :loading="items"
                    loading-text="Cargando items..."
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Áreas</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Filtrar"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" color="info" dark class="mb-2">Registrar área</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                            autocomplete="off"
                                                            v-model="item.clues_id"
                                                            :items="clues"
                                                            required
                                                            :rules="[v => !!v || 'Clues es requerida']"
                                                            label="Clave Clues"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                            autocomplete="off"
                                                            v-model="item.parent_id"
                                                            :items="areas"
                                                            label="Área padre"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm12 md12>
                                                        <v-text-field v-model="item.nombre"
                                                                      required
                                                                      :rules="[v => !!v || 'Nombre es requerida']"
                                                                      label="Nombre">
                                                        </v-text-field>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                            autocomplete="off"
                                                            v-model="item.tipo"
                                                            :items="tipos"
                                                            label="Tipo de área"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                            autocomplete="off"
                                                            v-model="item.comportamiento"
                                                            :items="comportamientos"
                                                            label="Comportamiento"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="gray" text @click="close">Cancelar</v-btn>
                                            <v-btn color="success"
                                                   :disabled="!valid"
                                                   @click="validate"
                                                   type="submit"
                                                   :loading="loading"
                                            >Guardar
                                            </v-btn>
                                        </v-card-actions>
                                    </v-form>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(item)"
                        >
                            mdi-pencil-outline
                        </v-icon>
                        <v-icon
                            small
                            @click="openDeleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
            <v-dialog v-model="dialogDelete" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import Api from '@/router/api/inventarios/areas.js'

    export default {
        data: () => {
            return {
                search: '',
                valid: false,
                loading: false,
                validating: false,
                items: [],
                item: {},
                defaults: {},
                dialog: false,
                dialogDelete: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Clues', value: 'clue'},
                    {text: 'Área padre', value: 'parent'},
                    {text: 'Nombre', value: 'nombre'},
                    {text: 'Tipo', value: 'tipo'},
                    {text: 'Comportamiento', value: 'comportamiento'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                clues: [],
                areas: [],
                tipos: ['ALMACEN', 'DEPARTAMENTO', 'LABORATORIO'],
                comportamientos: ['CEDIS', 'PUCON', 'LABORATORIO'],
                editedIndex: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: ''
            }
        },
        created() {

            Api.gets()
                .then(({data}) => {
                    this.items = data.data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [areas]', 'error')
                })
            Api.getClues()
                .then(({data}) => {
                    this.clues = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [clues]', 'error')
                })
            Api.getAreas()
                .then(({data}) => {
                    this.areas = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [areas_lista]', 'error')
                })
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Registrar área' : 'Editar área'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            getAreas(){
                Api.getAreas()
                    .then(({data}) => {
                        this.areas = data
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [areas_lista]', 'error')
                    })
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem() {
                let index = this.editedIndex;
                Api.delete(this.editedId)
                    .then(() => {
                        this.items.splice(index, 1)
                        this.dialogDelete = false;

                        this.notify('El elemento fue eliminado correctamente', 'success')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogDelete = false;

                        this.notify('Ocurrio un error al eliminar.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            close() {

                this.dialog = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this.$refs.form.reset();
                    this.getAreas()
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.message = 'Procesando...'
                    this.submit()
                }
            },

            submit() {
                if (this.editedIndex > -1) {
                    Api.edit(this.item.id, this.item)

                        .then(({data}) => {
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento ha sido modificado con éxito',
                                'success');
                            this.loading = false
                        })
                        .catch(response => {
                            this.notify('Ha ocurrido un error en la edición',
                                'error')
                            this.loading = false
                        })
                } else {

                    Api.add(this.item)
                        .then(({data}) => {
                            this.items.push(data.data)
                            this.notify('El elemento fue registrado correctamente',
                                'success')
                            this.loading = false
                        })
                        .catch(response => {
                            this.notify('No se ha podido registrar', 'error')
                            this.loading = false
                        })
                }
                this.close()
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            }
        }
    }
</script>
