<template>
    <v-container
            grid-list-xl>
        <v-layout wrap>
            <v-flex
                    md12
                    sm12
                    lg12
            >
                <v-data-table
                        :headers="computedHeaders"
                        :items="items"
                        class="elevation-1"
                        :search="search"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Existencias</v-toolbar-title>
                            <v-divider
                                    class="mx-2"
                                    inset
                                    vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Filtrar"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <template>
                                <div class="text-center">
                                    <v-menu
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            :nudge-width="100"
                                            offset-x
                                    >
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                    color="indigo"
                                                    dark
                                                    small
                                                    v-on="on"
                                            >
                                                Columnas ocultas
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-list dense>
                                                <v-list-item
                                                        v-for="column in headers"
                                                        :key="column.text"
                                                        v-if="column.text !== '#' && column.text !== 'Acciones'">
                                                    <v-list-item-action>
                                                        <v-switch v-model="column.hide" color="purple"></v-switch>
                                                    </v-list-item-action>
                                                    <v-list-item-title>
                                                        {{ column.text }}
                                                    </v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                            <v-card-actions>
                                                <div class="flex-grow-1"></div>
                                                <v-btn color="primary" text @click="menu = false">Cerrar</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-menu>
                                </div>
                            </template>

                        </v-toolbar>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                    v-model="show"
                    :color="color"
                    :timeout="3000"
                    :bottom="true"
                    :right="true"
            >
                {{ message }}
                <v-icon
                        dark
                        text
                        @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
        </v-layout>
    </v-container>
</template>

<script>
    import Api from '@/router/api/inventarios/existencias.js'

    export default {
        data: () => {
            return {
                search: '',
                loading: false,
                items: [],
                item: {},
                defaults: {},
                dialog: false,
                menu: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Area', value: 'area'},
                    {text: 'Clave', value: 'clave'},
                    {text: 'Descripción', value: 'descripcion'},
                    {text: 'Uni medida', value: 'unidad_medida', hide: true},
                    {text: 'Presentación', value: 'presentacion'},
                    {text: 'Marca', value: 'marca', hide: true},
                    {text: 'Modelo', value: 'modelo', hide: true},
                    {text: 'Tipo insumo', value: 'tipo_insumo'},
                    {text: 'Serie', value: 'serie', hide: true},
                    {text: 'Lote', value: 'lote'},
                    {text: 'Color', value: 'color', hide: true},
                    {text: 'Fecha ingreso', value: 'fecha_ingreso', class: 'hidden-md-and-down'},
                    {text: 'Fecha caducidad', value: 'fecha_caducidad'},
                    {text: 'Existencias', value: 'cantidad_existente'},
                    {text: 'En tránsito', value: 'cantidad_transito'},
                    {text: 'Precio', value: 'precio'},
                    {text: 'IVA', value: 'iva', hide: true},
                    {text: 'Origen', value: 'origen', class: 'hidden-md-and-down'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                /* Notification Settings */
                show: false,
                message: '',
                color: ''
            }
        },
        created() {

            Api.gets()
                .then(({data}) => {
                    this.items = data.data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [gets]', 'error')
                })
        },

        computed: {
            computedHeaders() {
                let bp = this.$vuetify.breakpoint
                let vm = this
                return this.headers.filter(h => {
                    if (!h.hide) return true
                })
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this.$refs.form.reset();
                }, 500)
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            }
        }
    }
</script>
