<template>
    <v-container
            grid-list-xl>
        <v-layout wrap>
            <v-flex
                    md12
                    sm12
                    lg12
            >
                <v-data-table
                        :headers="headers"
                        :items="items"
                        class="elevation-1"
                        :search="search"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Remisiones de proveedor</v-toolbar-title>
                            <v-divider
                                    class="mx-2"
                                    inset
                                    vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Filtrar"
                                    single-line
                                    hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" color="info" dark class="mb-2">Registrar remisión</v-btn>
                                </template>
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialog = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                        dark text
                                                        :disabled="!valid"
                                                        @click="validate"
                                                        type="submit"
                                                        :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                                v-model="item.solicitud"
                                                                :items="solicitudes"
                                                                required
                                                                :disabled="editedIndex !== -1"
                                                                autocomplete="off"
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Orden de compra"
                                                                item-text="text"
                                                                item-value="id"
                                                                return-object
                                                        ></v-autocomplete>
                                                        <p v-if="item.solicitud">
                                                            Fecha de orden: {{ item.solicitud.fecha }}
                                                            | Articulos: {{ item.solicitud.numero_registros }}
                                                            | Tipo insumo: {{ item.solicitud.tipo_insumo_text }}
                                                        </p>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                                v-model="item.area_destino_id"
                                                                :items="areas"
                                                                autocomplete="off"
                                                                required
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-menu
                                                                v-model="menu_fecha"
                                                                :close-on-content-click="true"
                                                                :nudge-right="40"
                                                                transition="scale-transition"
                                                                offset-y
                                                                min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                        v-model="item.fecha_entrega"
                                                                        label="Fecha de entrega"
                                                                        prepend-icon="mdi-calendar-range"
                                                                        readonly
                                                                        v-on="on"
                                                                ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="item.fecha_entrega"
                                                                           @input="menu_fecha = false"></v-date-picker>
                                                        </v-menu>

                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                                v-model="item.proveedor_id"
                                                                :items="proveedores"
                                                                autocomplete="off"
                                                                required
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Proveedor"
                                                        ></v-autocomplete>
                                                    </v-flex>


                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la remisión</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <RemisionArticulos/>
                                    </v-container>

                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialogR" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialogR = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>Recibir artículos</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                        dark text
                                                        :disabled="!valid"
                                                        @click="validate"
                                                        type="submit"
                                                        :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                                v-model="item.solicitud"
                                                                :items="solicitudes"
                                                                required
                                                                :disabled="editedIndex !== -1"
                                                                autocomplete="off"
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Orden de compra"
                                                                item-text="text"
                                                                item-value="id"
                                                                return-object
                                                        ></v-autocomplete>
                                                        <p v-if="item.solicitud">
                                                            Fecha de orden: {{ item.solicitud.fecha }}
                                                            | Articulos: {{ item.solicitud.numero_registros }}
                                                            | Tipo insumo: {{ item.solicitud.tipo_insumo_text }}
                                                        </p>
                                                    </v-flex>
                                                    <v-flex xs12 sm6 md6>
                                                        <v-autocomplete
                                                                v-model="item.area_destino_id"
                                                                :items="areas"
                                                                autocomplete="off"
                                                                required
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-menu
                                                                v-model="menu_fecha"
                                                                :close-on-content-click="true"
                                                                :nudge-right="40"
                                                                transition="scale-transition"
                                                                offset-y
                                                                min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                        v-model="item.fecha_entrega"
                                                                        label="Fecha de entrega"
                                                                        prepend-icon="mdi-calendar-range"
                                                                        readonly
                                                                        v-on="on"
                                                                ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="item.fecha_entrega"
                                                                           @input="menu_fecha = false"></v-date-picker>
                                                        </v-menu>

                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                                v-model="item.proveedor_id"
                                                                :items="proveedores"
                                                                autocomplete="off"
                                                                required
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Proveedor"
                                                        ></v-autocomplete>
                                                    </v-flex>


                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la remisión</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <RemisionRecibirArticulos />
                                    </v-container>

                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                        icon
                                        v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>
                                <v-list-item @click="openCambiarEstado(item, 2)" v-if="item.estado_entrada_id === 1">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-lock
                                    </v-icon>
                                    Cerrar captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 1)" v-if="item.estado_entrada_id === 2
                                || item.estado_entrada_id === 3">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-lock-open
                                    </v-icon>
                                    Reabrir captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 5)" v-if="item.estado_entrada_id === 4">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon>
                                    Finalizar remisión
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 3)" v-if="item.estado_entrada_id === 2">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon>
                                    Validar remisión
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 4)" v-if="item.estado_entrada_id === 3">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-dolly
                                    </v-icon>
                                    Recibir remisión
                                </v-list-item>
                                <v-list-item @click="recibirArticulos(item)" v-if="item.estado_entrada_id === 4">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-store
                                    </v-icon> Recibir artículos
                                </v-list-item>
                                <v-list-item @click="createPDF(item)">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-file-document-outline
                                    </v-icon>
                                    Reporte
                                </v-list-item>
                                <v-list-item @click="editItem(item)" v-if="item.estado_entrada_id === 1">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon>
                                    Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)" v-if="item.estado_entrada_id === 1">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon>
                                    Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                    v-model="show"
                    :color="color"
                    :timeout="3000"
                    :bottom="true"
                    :right="true"
            >
                {{ message }}
                <v-icon
                        dark
                        text
                        @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
            <v-dialog v-model="dialogDelete" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogCambiarEstado" persistent max-width="360">
                <v-card>
                    <v-card-title class="headline">Confirmar cambio de estado</v-card-title>
                    <v-card-text>Cambiar estado de la entrada a: {{ messageCambioEstado }}</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogCambiarEstado = false">Cancelar</v-btn>
                        <v-btn color="success" @click="cambiarEstado()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogPdf" max-width="80%" transition="dialog-bottom-transition">
                <v-card min-height="calc(100vh - 150px)">
                    <v-toolbar dark color="primary">
                        <v-btn icon dark @click="dialogPdf = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>PDF</v-toolbar-title>
                        <div class="flex-grow-1"></div>
                        <v-toolbar-items>
                            <v-btn
                                    dark text
                                    @click="createPDF()"
                            >Descargar
                            </v-btn>
                        </v-toolbar-items>

                    </v-toolbar>


                    <iframe style="width:100%; height:calc(100vh - 200px);" :src="this.pdf">
                    </iframe>


                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>

    import Api from '@/router/api/inventarios/remisiones.js'
    import RemisionArticulos from '@/components/Inventarios/Datatables/RemisionArticulos'
    import RemisionRecibirArticulos from '@/components/Inventarios/Datatables/RemisionRecibirArticulos'
    import PDFPrueba from '../../../components/Inventarios/PDFPrueba';
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {
            RemisionArticulos,
            RemisionRecibirArticulos,
            PDFPrueba
        },
        data: () => {
            return {
                dialogPdf: false,
                dialogR: false,
                pdf: '',
                doc: '',
                search: '',
                valid: false,
                loading: false,
                validating: false,
                items: [],
                item: {
                    tipo_entrada_id: 2,
                    fecha_entrega: new Date().toISOString().substr(0, 10),
                },

                date: new Date().toISOString().substr(0, 10),
                menu_fecha: false,

                defaults: {
                    tipo_entrada_id: 2,
                    fecha_entrega: new Date().toISOString().substr(0, 10),
                },
                dialog: false,
                dialogDelete: false,
                dialogCambiarEstado: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Tipo', value: 'tipo_entrada'},
                    // {text: 'Estado', value: 'estado_entrada'},
                    {text: 'Tipo insumo', value: 'tipo_insumo'},
                    {text: 'Proveedor', value: 'proveedor'},
                    // {text: 'Area origen', value: 'area_origen'},
                    {text: 'Destino', value: 'area_destino'},
                    {text: 'Fecha', value: 'fecha_entrega'},
                    {text: '# Regs', value: 'numero_registros'},
                    {text: 'Costo s/IVA', value: 'total_sin_iva'},
                    {text: 'Costo IVA', value: 'total_iva'},
                    {text: 'Estado', value: 'estado_entrada'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                tipos_entrada: [],
                tipos_insumo: [],
                proveedores: [],
                solicitudes: [],
                solicitud: {},
                areas: [],
                editedIndex: -1,
                nuevoEstado: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: ''
            }
        },

        created() {

            this.init();

            Api.getSolicitudes()
                .then(({data}) => {
                    this.solicitudes = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [solicitudes]', 'error')
                })

            Api.getTiposInsumo()
                .then(({data}) => {
                    this.tipos_insumo = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [tipos_insumo]', 'error')
                })

            Api.getProveedores()
                .then(({data}) => {
                    this.proveedores = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [proveedores]', 'error')
                })

            Api.getAreas()
                .then(({data}) => {
                    this.areas = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [areas]', 'error')
                })
            this['inventarios/fetchArticulos']([])
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Registrar remisión' : 'Editar remisión'
            },
            messageCambioEstado() {
                let message = '';
                switch (this.nuevoEstado) {
                    case 1:
                        message = 'CREADA';
                        break;
                    case 2:
                        message = 'CAPTURADA';
                        break;
                    case 3:
                        message = 'VALIDADA';
                        break;
                    case 4:
                        message = 'EN RECEPCIÓN';
                        break;
                    case 5:
                        message = 'FINALIZADA';
                        break;
                    case 6:
                        message = 'CANCELADA';
                        break;
                    default:
                        message = '';
                }
                return message;
                //return this.nuevoEstado === 1 ? 'CREADA' : 'CAPTURADA'
            },
            entradaArticulos() {
                return this['inventarios/getEntradaArticulos']()
            },
            articulos() {
                return this['inventarios/getArticulos']()
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogPdf(val) {
                val || this.closePdf()
            },
            dialogR(val) {
                val || this.close()
            },
            'item.solicitud'(newVal, oldVal) {
                console.log(newVal, oldVal);

                if (newVal !== 0 && newVal !== oldVal) {
                    this.setArticulos(newVal)
                    //this['inventarios/fetchTransferenciaOrigenId'](val.area_origen_id);
                } else {
                    //this['inventarios/fetchTransferenciaOrigenId'](0);
                }

            }
        },
        methods: {

            init(){
                Api.getByTipo(2)
                    .then(({data}) => {
                        this.items = data.data
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [gets]', 'error')
                    })
            },

            recibirArticulos(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde remisiones.vue')
                this['inventarios/fetchEntradaArticulos'](this.item.items);

                this.dialogR = true
            },

            setArticulos(solicitud) {
                console.log('Buscando articulos pendientes')
                Api.getArticulos(solicitud)
                    .then(({data}) => {
                        this['inventarios/fetchArticulos'](data.solicitud_articulos_pendientes)
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [articulos]', 'error')
                    })
            },

            editItem(item) {
                this.solicitud = this.item.solicitud

                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde entradas.vue')
                this['inventarios/fetchEntradaArticulos'](this.item.items);

                this.dialog = true
            },
            openCambiarEstado(item, estado) {
                this.dialogCambiarEstado = true;
                this.nuevoEstado = estado;

                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },
            cambiarEstado() {
                let index = this.editedIndex;

                let data = {'estado_entrada_id': this.nuevoEstado};

                Api.cambiarEstado(this.editedId, data)
                    .then(({data}) => {
                        this.dialogCambiarEstado = false;
                        if (data.data) {
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento fue modificado correctamente', 'success')
                        } else {
                            this.notify(data.message, 'error');
                        }
                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogCambiarEstado = false;

                        this.notify('Ocurrio un error al cambiar el estado.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            deleteItem() {
                let index = this.editedIndex;

                Api.delete(this.editedId)
                    .then(() => {
                        this.items.splice(index, 1)
                        this.dialogDelete = false;

                        this.notify('El elemento fue eliminado correctamente', 'success')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogDelete = false;

                        this.notify('Ocurrio un error al eliminar.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            close() {
                this.dialog = false
                this.dialogR = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this['inventarios/fetchEntradaArticulos']([])
                    this.$refs.form.reset();
                }, 500)
            },
            closePdf() {
                this.dialogPdf = false
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'
                    this.submit()
                }
            },

            submit() {
                this.solicitud = this.item.solicitud;
                console.log('submit')
                if (this.editedIndex > -1) {
                    console.log('editando entrada')
                    Api.edit(this.item.id, this.item)
                        .then(({data}) => {
                            console.log('success')
                            console.log(data)
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento ha sido modificado con éxito',
                                'success');
                            this.loading = false
                            setTimeout(() => {
                                this.init();
                                this.close();
                            }, 500)

                        })
                        .catch(response => {
                            console.log('response')
                            this.notify('Ha ocurrido un error en la edición',
                                'error')
                            this.loading = false
                        })
                } else {
                    // TRAER ITEMS DEL STORE
                    //let data = Object.assign({}, this.item, this.entradaArticulos)
                    this.item.items = this.entradaArticulos
                    //console.log(data)
                    console.log(this.item)
                    this.item.solicitud = this.solicitud

                    Api.add(this.item)
                        .then(({data}) => {
                            this.items.push(data.data)
                            this.notify('El elemento fue registrado correctamente',
                                'success')
                            this.loading = false

                            setTimeout(() => {
                                this.init();
                                this.close();
                            }, 500)
                        })
                        .catch(response => {
                            this.notify('No se ha podido registrar', 'error')
                            this.loading = false
                        })
                }
                //this.close()
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },
            ...mapActions([
                'inventarios/fetchArticulos',
                'inventarios/fetchEntradaArticulos'
            ]),
            ...mapGetters([
                'inventarios/getEntradaArticulos',
                'inventarios/getArticulos',
            ])
        }
    }
</script>
