<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    loading-text="Cargando items..."
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Solicitudes de material</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Filtrar"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" color="info" dark class="mb-2">Registrar solicitud</v-btn>
                                </template>
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialog = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                    dark text
                                                    :disabled="!valid"
                                                    @click="validate"
                                                    type="submit"
                                                    :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.tipo_solicitud_id"
                                                            :items="tipos_solicitud"
                                                            required
                                                            readonly
                                                            autocomplete="off"
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Tipo de solicitud"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.tipo_insumo_id"
                                                            autocomplete="off"
                                                            :items="tipos_insumo"
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Tipo de insumo"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-menu
                                                            v-model="menu_fecha"
                                                            :close-on-content-click="true"
                                                            :nudge-right="40"
                                                            transition="scale-transition"
                                                            offset-y
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="item.fecha"
                                                                    label="Fecha de solicitud"
                                                                    prepend-icon="mdi-calendar-range"
                                                                    readonly
                                                                    v-on="on"
                                                                ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="item.fecha"
                                                                           @input="menu_fecha = false"></v-date-picker>
                                                        </v-menu>

                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.area_origen_id"
                                                            :items="areas"
                                                            autocomplete="off"
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>

                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la solicitud</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <SolicitudArticulos />
                                    </v-container>

                                </v-card>
                            </v-dialog>
                            <v-dialog v-model="dialogR" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialogR = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>Validar artículos</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                        dark text
                                                        :disabled="!valid"
                                                        @click="validate"
                                                        type="submit"
                                                        :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                                v-model="item.tipo_solicitud_id"
                                                                :items="tipos_solicitud"
                                                                required
                                                                readonly
                                                                autocomplete="off"
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Tipo de solicitud"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                                v-model="item.tipo_insumo_id"
                                                                autocomplete="off"
                                                                :items="tipos_insumo"
                                                                required
                                                                readonly
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Tipo de insumo"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-menu
                                                                v-model="menu_fecha"
                                                                :close-on-content-click="true"
                                                                :nudge-right="40"
                                                                transition="scale-transition"
                                                                offset-y
                                                                min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                        v-model="item.fecha"
                                                                        label="Fecha de solicitud"
                                                                        prepend-icon="mdi-calendar-range"
                                                                        readonly
                                                                        v-on="on"
                                                                ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="item.fecha"
                                                                           readonly
                                                                           @input="menu_fecha = false"></v-date-picker>
                                                        </v-menu>

                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                                v-model="item.area_origen_id"
                                                                :items="areas"
                                                                autocomplete="off"
                                                                readonly
                                                                required
                                                                :rules="[v => !!v || 'Campo obligatorio']"
                                                                label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>

                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      readonly
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>
                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la solicitud</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <SolicitudValidarArticulos />
                                    </v-container>

                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    icon
                                    v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>
                                <v-list-item @click="openCambiarEstado(item, 2)" v-if="item.estado_solicitud_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-lock
                                    </v-icon> Cerrar captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 1)" v-if="item.estado_solicitud_id === 2
                                || item.estado_solicitud_id === 3">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-lock-open
                                    </v-icon> Reabrir captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 3)" v-if="item.estado_solicitud_id === 2">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon> Iniciar validación
                                </v-list-item>
                                <v-list-item @click="validarArticulos(item)" v-if="item.estado_solicitud_id === 3">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-store
                                    </v-icon> Validar artículos
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 4)" v-if="item.estado_solicitud_id === 3">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon> Validar solicitud
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 6)" v-if="item.estado_solicitud_id === 5">
                                    <v-icon
                                            small
                                            class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon> Finalizar solicitud
                                </v-list-item>
                                <v-list-item @click="createPDF(item)">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-file-document-outline
                                    </v-icon> Reporte
                                </v-list-item>
                                <v-list-item @click="editItem(item)" v-if="item.estado_solicitud_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon> Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)" v-if="item.estado_solicitud_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon> Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
            <v-dialog v-model="dialogDelete" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogCambiarEstado" persistent max-width="360">
                <v-card>
                    <v-card-title class="headline">Confirmar cambio de estado</v-card-title>
                    <v-card-text>Cambiar estado de la solicitud a: {{ messageCambioEstado }}</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogCambiarEstado = false">Cancelar</v-btn>
                        <v-btn color="success" @click="cambiarEstado()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogPdf" max-width="80%"  transition="dialog-bottom-transition">
                <v-card min-height="calc(100vh - 150px)">
                    <v-toolbar dark color="primary">
                        <v-btn icon dark @click="dialogPdf = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>PDF</v-toolbar-title>
                        <div class="flex-grow-1"></div>
                        <v-toolbar-items>
                            <v-btn
                                dark text
                                @click="createPDF()"
                            >Descargar
                            </v-btn>
                        </v-toolbar-items>

                    </v-toolbar>


                        <iframe style="width:100%; height:calc(100vh - 200px);" :src="this.pdf">
                        </iframe>


                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import Api from '@/router/api/inventarios/solicitudes.js'
    import SolicitudArticulos from '@/components/Inventarios/Datatables/SolicitudArticulos'
    import SolicitudValidarArticulos from '@/components/Inventarios/Datatables/SolicitudValidarArticulos'
    import PDFPrueba from "../../../components/Inventarios/PDFPrueba";
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {
            SolicitudArticulos,
            SolicitudValidarArticulos,
            PDFPrueba
        },
        data: () => {
            return {
                dialogPdf: false,
                pdf: '',
                doc: '',
                search: '',
                valid: false,
                loading: false,
                validating: false,
                items: [],
                item: {
                    tipo_solicitud_id: 1,
                    fecha: new Date().toISOString().substr(0, 10),
                },

                date: new Date().toISOString().substr(0, 10),
                menu_fecha: false,

                defaults: {
                    tipo_solicitud_id: 1,
                    fecha: new Date().toISOString().substr(0, 10),
                },
                dialog: false,
                dialogR: false,
                dialogDelete: false,
                dialogCambiarEstado: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Tipo', value: 'tipo_solicitud'},
                    // {text: 'Estado', value: 'estado_solicitud'},
                    {text: 'Tipo insumo', value: 'tipo_insumo_text'},
                    // {text: 'Area origen', value: 'area_origen'},
                    {text: 'Origen', value: 'area_origen'},
                    {text: 'Fecha', value: 'fecha'},
                    {text: '# Regs', value: 'numero_registros'},
                    // {text: 'Costo s/IVA', value: 'total_sin_iva'},
                    // {text: 'Costo IVA', value: 'total_iva'},
                    {text: 'Estado', value: 'estado_solicitud'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                tipos_solicitud: [],
                tipos_insumo: [],
                areas: [],
                editedIndex: -1,
                nuevoEstado: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: ''
            }
        },

        created() {
            // Tipo 1
            Api.getByTipo(1)
                .then(({data}) => {
                    this.items = data.data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [gets]', 'error')
                })

            Api.getTiposSolicitud()
                .then(({data}) => {
                    this.tipos_solicitud = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [tipos_solicitud]', 'error')
                })

            Api.getTiposInsumo()
                .then(({data}) => {
                    this.tipos_insumo = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [tipos_insumo]', 'error')
                })

            Api.getAreas()
                .then(({data}) => {
                    this.areas = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [areas]', 'error')
                })
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Registrar solicitud' : 'Editar solicitud'
            },
            messageCambioEstado() {
                let message = '';
                switch (this.nuevoEstado) {
                    case 1:
                        message = 'CREADA';
                        break;
                    case 2:
                        message = 'CAPTURADA';
                        break;
                    case 3:
                        message = 'EN VALIDACIÓN';
                        break;
                    case 4:
                        message = 'VALIDADA';
                        break;
                    case 5:
                        message = 'EN SURTIMIENTO';
                        break;
                    case 6:
                        message = 'FINALIZADA';
                        break;
                    case 7:
                        message = 'CANCELADA';
                        break;
                    default: message = '';
                }
                return message;
                //return this.nuevoEstado === 1 ? 'CREADA' : 'CAPTURADA'
            },
            solicitudArticulos() {
                return this['inventarios/getSolicitudArticulos']()
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogR(val) {
                val || this.close()
            },
            dialogPdf(val) {
                val || this.closePdf()
            }
        },
        methods: {
            createPDF (item) {
                /*
                window.html2canvas = html2canvas;
                let pdfName = 'test';
                this.doc = new jsPDF();
                //this.doc.text("Hello World", 10, 10);
                this.doc.html(document.querySelector("#pdf"), {
                    callback: function () {
                        this.pdf = this.doc.output('dataurlstring', {filename:pdfName + '.pdf'});
                    }
                });
                //this.pdf = this.doc.output('dataurlstring', {filename:pdfName + '.pdf'});

                 */
                //this.editedIndex = this.items.indexOf(item)
                this.editedId = item.id;

                Api.pdf(this.editedId)
                    .then(({data}) => {
                        console.log(data);
                        this.pdf = data
                        this.editedId = -1
                        this.dialogPdf = true;
                    })
                    .catch((error) => {
                        this.notify('Ocurrio un error al cambiar el estado.', 'error')
                        this.editedId = -1
                    });
            },
            exportImage() {
                this.doc = new jsPDF("p", "mm", "letter");
                let pdfName = 'test';
                html2canvas(document.querySelector("#pdf"), { scale: 2 }).then(canvas => {
                    var x = canvas.toDataURL("image/jpeg", 1);
                    this.doc.addImage(x, "JPG", 0, 0, 200, 180);
                    this.pdf = this.doc.output('dataurlstring', {filename:pdfName + '.pdf'});
                });
                this.dialogPdf = true;
            },
            saveAsPdf() {
                window.html2canvas = html2canvas;
                var doc = new jsPDF("p", "pt", "letter");
                doc.html(document.querySelector("#pdf"), {
                    callback: function(pdf) {
                        pdf.save("cv-a4.pdf");
                    }
                });
            },
            savePDF () {
                let pdfName = 'test';
                this.doc.save(pdfName + '.pdf');
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde solicituds.vue')
                this['inventarios/fetchSolicitudArticulos'](this.item.items);

                this.dialog = true
            },

            validarArticulos(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde transferencias.vue')
                this['inventarios/fetchSolicitudArticulos'](this.item.items);

                this.dialogR = true
            },

            openCambiarEstado(item, estado) {
                this.dialogCambiarEstado = true;
                this.nuevoEstado = estado;

                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },
            cambiarEstado() {
                let index = this.editedIndex;
                //Api.edit(this.item.id, this.item)

                let data = {'estado_solicitud_id':this.nuevoEstado};

                Api.cambiarEstado(this.editedId, data)
                    .then(({data}) => {
                        this.dialogCambiarEstado = false;
                        if(data.data) {
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento fue modificado correctamente', 'success')
                        }else{
                            this.notify(data.message, 'error');
                        }
                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogCambiarEstado = false;

                        this.notify('Ocurrio un error al cambiar el estado.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            deleteItem() {
                let index = this.editedIndex;

                Api.delete(this.editedId)
                    .then(() => {
                        this.items.splice(index, 1)
                        this.dialogDelete = false;

                        this.notify('El elemento fue eliminado correctamente', 'success')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogDelete = false;

                        this.notify('Ocurrio un error al eliminar.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            close() {
                this.dialog = false
                this.dialogR = false


                setTimeout(() => {
                    this.$refs.form.reset();
                    setTimeout(() => {

                        this.item = Object.assign({}, this.defaults)
                        this.editedIndex = -1
                        this['inventarios/fetchSolicitudArticulos']([])

                    }, 200)
                }, 500)
            },
            closePdf() {
                this.dialogPdf = false
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'
                    this.submit()
                }
            },

            submit() {
                console.log('submit')
                if (this.editedIndex > -1) {
                    console.log('editando solicitud')
                    Api.edit(this.item.id, this.item)
                        .then(({data}) => {
                            console.log('success')
                            console.log(data)
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento ha sido modificado con éxito',
                                'success');
                            this.loading = false
                            this.close()
                        })
                        .catch(response => {
                            console.log('response')
                            this.notify('Ha ocurrido un error en la edición',
                                'error')
                            this.loading = false
                        })
                } else {
                    // TRAER ITEMS DEL STORE
                    //let data = Object.assign({}, this.item, this.solicitudArticulos)
                    this.item.items = this.solicitudArticulos
                    //console.log(data)
                    console.log(this.item)

                    Api.add(this.item)
                        .then(({data}) => {
                            this.items.push(data.data)
                            this.notify('El elemento fue registrado correctamente',
                                'success')
                            this.loading = false
                            this.close()
                        })
                        .catch(response => {
                            this.notify('No se ha podido registrar', 'error')
                            this.loading = false
                        })
                }
                //this.close()
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },
            ...mapActions([
                'inventarios/fetchSolicitudArticulos'
            ]),
            ...mapGetters([
                'inventarios/getSolicitudArticulos',
            ])
        }
    }
</script>
