<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Transferencias</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Filtrar"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>

                            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" color="info" dark class="mb-2">Registrar transferencia</v-btn>
                                </template>
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialog = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                    dark text
                                                    :disabled="!valid"
                                                    @click="validate"
                                                    type="submit"
                                                    :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.tipo_transferencia_id"
                                                            :items="tipos_transferencia"
                                                            required
                                                            readonly
                                                            autocomplete="off"
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Tipo de transferencia"
                                                        ></v-autocomplete>
                                                    </v-flex>

                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.area_origen_id"
                                                            :items="areas"
                                                            autocomplete="off"
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Área origen"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.area_destino_id"
                                                            :items="areas"
                                                            autocomplete="off"
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-menu
                                                            v-model="menu_fecha"
                                                            :close-on-content-click="true"
                                                            :nudge-right="40"
                                                            transition="scale-transition"
                                                            offset-y
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="item.fecha"
                                                                    label="Fecha de transferencia"
                                                                    prepend-icon="mdi-calendar-range"
                                                                    readonly
                                                                    v-on="on"
                                                                ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="item.fecha"
                                                                           @input="menu_fecha = false"></v-date-picker>
                                                        </v-menu>

                                                    </v-flex>

                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la transferencia</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <TransferenciaArticulos />
                                    </v-container>

                                </v-card>
                            </v-dialog>

                            <v-dialog v-model="dialogR" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                    <v-form v-model="valid" ref="form" @submit.prevent>
                                        <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="dialogR = false">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>Recibir artículos</v-toolbar-title>
                                            <div class="flex-grow-1"></div>
                                            <v-toolbar-items>
                                                <v-btn
                                                    dark text
                                                    :disabled="!valid"
                                                    @click="validate"
                                                    type="submit"
                                                    :loading="loading"
                                                >Guardar
                                                </v-btn>
                                            </v-toolbar-items>
                                        </v-toolbar>

                                        <v-card-text>
                                            <v-container grid-list-md pa-0>
                                                <v-layout wrap>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.tipo_transferencia_id"
                                                            :items="tipos_transferencia"
                                                            required
                                                            readonly
                                                            autocomplete="off"
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Tipo de transferencia"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.area_origen_id"
                                                            :items="areas"
                                                            autocomplete="off"
                                                            readonly
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Área origen"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                        <v-autocomplete
                                                            v-model="item.area_destino_id"
                                                            :items="areas"
                                                            readonly
                                                            autocomplete="off"
                                                            required
                                                            :rules="[v => !!v || 'Campo obligatorio']"
                                                            label="Área destino"
                                                        ></v-autocomplete>
                                                    </v-flex>
                                                    <v-flex xs12 sm4 md4>
                                                                <v-text-field
                                                                    v-model="item.fecha"
                                                                    label="Fecha de transferencia"
                                                                    prepend-icon="mdi-calendar-range"
                                                                    readonly
                                                                ></v-text-field>
                                                    </v-flex>

                                                    <v-flex xs12 sm4 md4>
                                                        <v-text-field v-model="item.observaciones"
                                                                      readonly
                                                                      label="Observaciones">
                                                        </v-text-field>
                                                    </v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-card-text>
                                    </v-form>
                                    <v-divider></v-divider>
                                    <v-list three-line subheader>
                                        <v-subheader>Detalles de la transferencia</v-subheader>
                                    </v-list>
                                    <v-container grid-list-md pa-0>
                                        <TransferenciaRecibirArticulos />
                                    </v-container>

                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    icon
                                    v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>
                                <v-list-item @click="openCambiarEstado(item, 2)" v-if="item.estado_transferencia_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-lock
                                    </v-icon> Cerrar captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 1)" v-if="item.estado_transferencia_id === 2
                                || item.estado_transferencia_id === 4">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-lock-open
                                    </v-icon> Reabrir captura
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 3)" v-if="item.estado_transferencia_id === 2">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-dolly
                                    </v-icon> Iniciar recepción
                                </v-list-item>
                                <v-list-item @click="recibirArticulos(item)" v-if="item.estado_transferencia_id === 3">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-store
                                    </v-icon> Recibir artículos
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 4)" v-if="item.estado_transferencia_id === 3">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-check
                                    </v-icon> Finalizar transferencia
                                </v-list-item>
                                <v-list-item @click="openCambiarEstado(item, 5)" v-if="item.estado_transferencia_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-close
                                    </v-icon> Cancelar transferencia
                                </v-list-item>
                                <v-list-item @click="report(item)">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-file-document-outline
                                    </v-icon> Reporte
                                </v-list-item>
                                <v-list-item @click="editItem(item)" v-if="item.estado_transferencia_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon> Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)" v-if="item.estado_transferencia_id === 1">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon> Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>
            <v-dialog v-model="dialogDelete" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogReporte" max-width="900" scrollable >
                <v-card class="reporte">
<!--                    <v-card-title>-->
<!--                        <v-btn dark @click="dialogReporte = false">Cerrar</v-btn>-->
<!--                    </v-card-title>-->
<!--                    <v-divider></v-divider>-->
                    <v-card-text class="pa-0" v-html="reporte">
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-btn color="blue darken-1" text @click="dialogReporte = false">Cerrar</v-btn>
                        <v-btn color="red darken-1" text :href="'/inventarios/transferencias/reporte/'+this.item.id" target="_blank">PDF</v-btn>
                        <v-btn color="green darken-1" text @click="dialogReporte = false">EXCEL</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="dialogCambiarEstado" persistent max-width="360">
                <v-card>
                    <v-card-title class="headline">Confirmar cambio de estado</v-card-title>
                    <v-card-text>Cambiar estado de la transferencia a: {{ messageCambioEstado }}</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogCambiarEstado = false">Cancelar</v-btn>
                        <v-btn color="success" @click="cambiarEstado()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import Api from '@/router/api/inventarios/transferencias.js'
    import TransferenciaArticulos from '@/components/Inventarios/Datatables/TransferenciaArticulos'
    import TransferenciaRecibirArticulos from '@/components/Inventarios/Datatables/TransferenciaRecibirArticulos'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {
            TransferenciaArticulos,
            TransferenciaRecibirArticulos
        },
        data: () => {
            return {
                search: '',
                valid: false,
                loading: false,
                validating: false,
                items: [],
                item: {
                    fecha: new Date().toISOString().substr(0, 10),
                    area_origen_id: 0,
                    tipo_transferencia_id: 1,
                    transferencia_solicitud: 0,
                },

                date: new Date().toISOString().substr(0, 10),
                menu_fecha: false,
                defaults: {},
                dialog: false,
                dialogR: false,
                dialogReporte: false,
                dialogDelete: false,
                dialogCambiarEstado: false,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Tipo', value: 'tipo_transferencia'},
                    // {text: 'Estado', value: 'estado_transferencia'},
                    {text: 'Área origen', value: 'area_origen'},
                    {text: 'Área Destino', value: 'area_destino'},
                    {text: 'Fecha', value: 'fecha'},
                    {text: '# Regs', value: 'numero_registros'},
                    {text: 'Observaciones', value: 'observaciones'},
                    {text: 'Estado', value: 'estado_transferencia'},
                    {text: 'Acciones', value: 'action', sortable: false},
                ],
                tipos_transferencia: [],
                tipos_insumo: [],
                proveedores: [],
                areas: [],
                editedIndex: -1,
                nuevoEstado: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                reporte: '',
                color: ''
            }
        },

        created() {

            this.init();

            Api.getTiposTransferencia()
                .then(({data}) => {
                    this.tipos_transferencia = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [tipos_transferencia]', 'error')
                })


            Api.getAreas()
                .then(({data}) => {
                    this.areas = data
                })
                .catch(error => {
                    this.notify('No se pudo cargar [areas]', 'error')
                })
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Registrar transferencia' : 'Editar transferencia'
            },
            messageCambioEstado() {
                let message = '';
                switch (this.nuevoEstado) {
                    case 1:
                        message = 'CREADA';
                        break;
                    case 2:
                        message = 'CAPTURADA';
                        break;
                    case 3:
                        message = 'EN RECEPCION';
                        break;
                    case 4:
                        message = 'FINALIZADA';
                        break;
                    case 5:
                        message = 'CANCELADA';
                        break;
                    default: message = '';
                }
                return message;
                //return this.nuevoEstado === 1 ? 'CREADA' : 'CAPTURADA'
            },
            transferenciaArticulos() {
                return this['inventarios/getTransferenciaArticulos']()
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
            dialogR(val) {
                val || this.close()
            },
            'item.area_origen_id' (newVal, oldVal){
                console.log(newVal, oldVal);

                if(newVal !== 0 && newVal !== oldVal){
                    this.setArticulos(newVal)
                    //this['inventarios/fetchTransferenciaOrigenId'](val.area_origen_id);
                }else{
                    //this['inventarios/fetchTransferenciaOrigenId'](0);
                }

            }
        },
        methods: {
            init(){
                Api.getByTipo(1)
                    .then(({data}) => {
                        this.items = data.data
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [gets]', 'error')
                    })
            },
            setArticulos(area_id)
            {
                Api.getArticulos({area_id})
                    .then(({data}) => {
                        this['inventarios/fetchArticulos'](data)
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [articulos]', 'error')
                    })
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde transferencias.vue')
                this['inventarios/fetchTransferenciaArticulos'](this.item.items);

                this.dialog = true
            },

            report(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                this['inventarios/fetchTransferenciaArticulos'](this.item.items);

                Api.reporte(this.item.id)
                    .then(({data}) => {
                        this.reporte = data
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar reporte', 'error')
                    })

                this.dialogReporte = true
            },

            recibirArticulos(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = Object.assign({}, item)
                console.log('seteando desde transferencias.vue')
                this['inventarios/fetchTransferenciaArticulos'](this.item.items);

                this.dialogR = true
            },
            openCambiarEstado(item, estado) {
                this.dialogCambiarEstado = true;
                this.nuevoEstado = estado;

                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },
            cambiarEstado() {
                let index = this.editedIndex;
                //Api.edit(this.item.id, this.item)

                let data = {'estado_transferencia_id':this.nuevoEstado};

                Api.cambiarEstado(this.editedId, data)
                    .then(({data}) => {
                        this.dialogCambiarEstado = false;
                        if(data.data) {
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento fue modificado correctamente', 'success')
                        }else{
                            this.notify(data.message, 'error');
                        }
                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogCambiarEstado = false;

                        this.notify('Ocurrio un error al cambiar el estado.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            deleteItem() {
                let index = this.editedIndex;

                Api.delete(this.editedId)
                    .then(() => {
                        this.items.splice(index, 1)
                        this.dialogDelete = false;

                        this.notify('El elemento fue eliminado correctamente', 'success')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
                    .catch((error) => {
                        this.dialogDelete = false;

                        this.notify('Ocurrio un error al eliminar.', 'error')

                        this.editedIndex = -1
                        this.editedId = -1
                    })
            },

            close() {

                this.dialog = false
                this.dialogR = false
                setTimeout(() => {
                    this.item = Object.assign({}, this.defaults)
                    this.editedIndex = -1
                    this['inventarios/fetchTransferenciaArticulos']([])
                    this.$refs.form.reset();
                }, 500)
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.editedId = item.id;
            },

            validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'
                    this.submit()
                }
            },

            submit() {
                console.log('submit')
                if (this.editedIndex > -1) {
                    console.log('editando transferencia')
                    Api.edit(this.item.id, this.item)
                        .then(({data}) => {
                            console.log('success')
                            console.log(data)
                            Object.assign(this.items[this.editedIndex], data.data);
                            this.notify('El elemento ha sido modificado con éxito',
                                'success');
                            this.loading = false
                            this.close()
                        })
                        .catch(response => {
                            console.log('response')
                            this.notify('Ha ocurrido un error en la edición',
                                'error')
                            this.loading = false
                        })
                } else {
                    // TRAER ITEMS DEL STORE
                    //let data = Object.assign({}, this.item, this.transferenciaArticulos)
                    this.item.items = this.transferenciaArticulos
                    //console.log(data)
                    console.log(this.item)

                    Api.add(this.item)
                        .then(({data}) => {
                            this.items.push(data.data)
                            this.notify('El elemento fue registrado correctamente',
                                'success')
                            this.loading = false
                            this.close()
                        })
                        .catch(response => {
                            this.notify('No se ha podido registrar', 'error')
                            this.loading = false
                        })
                }
                //this.close()
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },
            ...mapActions([
                'inventarios/fetchTransferenciaArticulos',
                'inventarios/fetchTransferenciaOrigenId',
                'inventarios/fetchArticulos'
            ]),
            ...mapGetters([
                'inventarios/getTransferenciaArticulos',
            ])
        }
    }
</script>
