<template>
    <v-icon @click="deleteMenu"
            class="mr-3"
            color="error"
            small
    >mdi-trash-can
    </v-icon>
</template>

<script>
    import EventBus from '../../event-bus'
    import {mapActions} from 'vuex'

    export default {
        name: 'DeleteMenu',
        components: {},
        props: {
            menu: {
                type: Object,
                required: true
            }
        },
        data() {
            return {}
        },
        methods: {
            async deleteMenu() {
                let confirm = await Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Si el menú contiene submenus también serán eliminados. ¡Esta acción no se puede deshacer!',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '¡Si, elmiminar!',
                    cancelButtonText: 'Cancelar'
                })

                if (confirm.value) {
                    try {
                        EventBus.$emit('DELETING_MENU')
                        if (this.menu.parent_id !== null) {
                            await this['administracion/deleteSubMenu'](this.menu)
                        } else {
                            await this['administracion/deleteMenu'](this.menu)
                        }
                        EventBus.$emit('DELETED_MENU')
                        Swal.fire(
                            '¡Eliminado!',
                            'El menú ha sido elminado',
                            'success'
                        )
                    } catch (e) {
                        console.log(e)
                        Swal.fire(
                            '¡Error!',
                            'Lo senitmos algo ha salido mal, intenta de nuevo',
                            'error'
                        )
                    }
                }

            },
            ...mapActions([
                'administracion/deleteMenu',
                'administracion/deleteSubMenu',
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
