<template>
    <v-dialog max-width="650"
              scrollable
              v-model="openDialog"
    >
        <template v-slot:activator="{on}">
            <v-icon small v-on="on">mdi-lan</v-icon>
        </template>
        <v-card :loading="loading">
            <v-card-title class="headline">
                Roles
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 300px;">
                <v-switch :key="role.name"
                          :label="role.name"
                          :value="role.id"
                          color="indigo"
                          v-for="role in roles"
                          v-model="selectedRoles"
                ></v-switch>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="openDialog = false"
                       color="primary"
                       text
                >
                    Cerrar
                </v-btn>
                <v-btn @click="save"
                       color="success"
                       text
                >
                    Guardar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import {Toast} from '../../mixins/toast'

    export default {
        name: 'MenuRole',
        mixins: [Toast],
        components: {},
        props: {
            sistema: {
                type: Object,
                required: true
            },
        },
        data() {
            return {
                openDialog: false,
                loading: false,
                selectedRoles: []
            }
        },
        created() {
            if (this.sistema.roles.length) {
                this.selectedRoles = this.sistema.roles.map(function (el) {
                    return el.id
                })
            }
        },
        methods: {
            async save() {
                try {
                    this.loading = true
                    await this['administracion/syncRoles']({sistema: this.sistema, roles: this.selectedRoles})
                    this.toastSuccess('Los roles se asignaron correctamente');
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo senitmos algo ha salido mal, intenta de nuevo');
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'ui/setSnackBar',
                'administracion/syncRoles'
            ])
        },
        computed: {
            ...mapState({
                roles: state => state.catalogos.roles
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
