<template>
    <div>
        <v-card :loading="loading"
                class="my-4"
        >
            <v-card-title>
                <span class="headline">Menús</span>
                <v-spacer></v-spacer>
                <v-text-field
                    append-icon="mdi-magnify"
                    class="mr-4"
                    clearable
                    hide-details
                    label="Buscar"
                    single-line
                    v-model="search"
                ></v-text-field>
                <create-sub-menu :parent-id="parentId"></create-sub-menu>
            </v-card-title>
            <v-card-text>
                <v-data-table :headers="headers"
                              :items="submenus"
                              :loading="loading"
                              :disable-pagination="true"
                              :search="search"
                              class="elevation-0"
                              hide-default-footer
                >
                    <template v-slot:item.edit="{item}">
                        <delete-menu :menu="item"></delete-menu>
                        <edit-sub-menu :item="item"></edit-sub-menu>
                    </template>
                    <template v-slot:item.activo="{item}">
                        <span>{{ item.activo | SiNo }}</span>
                    </template>
                </v-data-table>
            </v-card-text>
            <v-card-actions>

            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import {Toast} from '../../mixins/toast'

    const CreateSubMenu = () => import('../../views/administracion/menus/CreateSubMenu')
    const EditSubMenu = () => import('../../views/administracion/menus/EditSubMenu')
    const DeleteMenu = () => import('./DeleteMenu')

    export default {
        name: 'SubMenuExpandable',
        mixins: [Toast],
        components: {
            CreateSubMenu,
            EditSubMenu,
            DeleteMenu
        },
        props: {
            parentId: {
                type: Number,
                required: true
            },
            submenus: {
                type: Array,
                default: () => ([])
            }
        },
        data() {
            return {
                headers: [
                    {text: 'Editar', value: 'edit', sortable: false, filterable: false},
                    {text: 'Descripción', value: 'descripcion', sortable: true},
                    {text: 'Icono', value: 'icon', sortable: false, filterable: false},
                    {text: 'Ruta', value: 'path', sortable: false, filterable: false},
                    {text: 'Sistema', value: 'sistema.titulo', sortable: false, filterable: false},
                    {text: 'Orden', value: 'orden', sortable: false, align: 'end', filterable: false},
                    {text: 'Activo', value: 'activo', sortable: false, align: 'center', filterable: false},
                ],
                loading: false,
                search: null
            }
        },
        methods: {},
        watch: {},
        computed: {}
    }
</script>

<style scoped>

</style>
