<template>
    <router-view/>
</template>

<script>
    export default {
        name: 'Home',
        components: {},
        props: {},
        data() {
            return {
                isLoading: false,
            }
        },
        mounted() {
        },
        methods: {},
        watch: {},
        computed: {}
    }
</script>

<style scoped>

</style>
