<script>
    export default {
        name: 'Estatus',
        props: {
            config: {
                type: Object,
                required: true
            }
        },
        template: `<v-chip :class="config.color" small>{{ config.text }}</v-chip>`
    }
</script>
