<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-card class="d-flex align-center"
                        style="height: 75vh"
                >
                    <v-card-text class="text-center">
                        <h1>No tienes permisos para acceder a esta sección.</h1>
                        <img alt="SESA"
                             class="mt-3"
                             src="/img/logo.jpg"
                             style="width: 30%"
                        >
                        <p class="ma-3">401 | Unauthorized</p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'Forbidden',
        components: {},
        props: {},
        data() {
            return {}
        },
        methods: {},
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
