<template>
    <v-card class="px-5 py-3">
        <div class="d-flex flex-wrap">
            <v-card :color="color"
                    class="white--text v-sheet--offset d-flex justify-center align-center"
                    style="position: absolute; width: 85px; height: 85px"
            >
                <font-awesome-icon :icon="icon" size="2x"/>
            </v-card>
            <v-card-text class="pa-0">
                <div class="text-right">
                    <p class="category grey--text font-weight-light ma-0" v-text="title"/>
                    <h3
                        class="title display-1 font-weight-light black--text"
                        style="font-size: 25px!important;"
                        ref="valor"
                    >
                        {{ valor }}
                        <small>{{ smallValue }}</small>
                    </h3>
                </div>
            </v-card-text>
        </div>
        <v-divider class="mt-5"/>
        <v-card-actions class="pa-0 pt-3">
            <font-awesome-icon :class="subIconColor" :icon="subIcon" class="mr-2"/>
            <span
                :class="subTextColor"
                class="caption font-weight-light"
                v-text="subText"
            />
        </v-card-actions>
    </v-card>
</template>

<script>
    import {Circ, TweenMax} from 'gsap'

    export default {
        name: 'StatsCard',
        components: {},
        props: {
            color: {
                type: String,
                default: 'secondary'
            },
            icon: {
                type: String,
                required: true
            },
            subIcon: {
                type: String,
                default: undefined
            },
            subIconColor: {
                type: String,
                default: undefined
            },
            subTextColor: {
                type: String,
                default: undefined
            },
            subText: {
                type: String,
                default: undefined
            },
            title: {
                type: String,
                default: undefined
            },
            value: {
                type: String,
                default: undefined
            },
            smallValue: {
                type: String,
                default: undefined
            }
        },
        data() {
            return {
                valor: 0
            }
        },
        mounted() {
            this.count()
        },
        methods: {
            count() {
                let counter = {var: 0};
                let that = this

                TweenMax.to(counter, 2, {
                    var: parseInt(that.value),
                    onUpdate: function () {
                        let number = Math.ceil(counter.var);

                        if (number !== 0) {
                            that.valor = number
                        }

                        if (number === counter.var) {
                            this.kill();
                        }
                    },
                    onComplete: function () {
                        that.count();
                    },
                    ease: Circ.easeOut
                });
            }
        },
        computed: {},
        watch: {
            value() {
                this.count()
            }
        }
    }
</script>

<style scoped>
    .v-card.red {
        background: linear-gradient(60deg, #ef5350, #e53935) !important;
        -webkit-box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2) !important;
        box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2) !important;
    }

    .v-card.orange {
        background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
        -webkit-box-shadow: 0 12px 20px -10px rgba(255, 152, 0, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(255, 152, 0, .2) !important;
        box-shadow: 0 12px 20px -10px rgba(255, 152, 0, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(255, 152, 0, .2) !important;
    }

    .v-card.green {
        background: linear-gradient(60deg, #66bb6a, #43a047) !important;
        -webkit-box-shadow: 0 12px 20px -10px rgba(76, 175, 80, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(76, 175, 80, .2) !important;
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(76, 175, 80, .2) !important;
    }

    .v-card.info {
        background: linear-gradient(60deg, #26c6da, #00acc1) !important;
        -webkit-box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, .2) !important;
        box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, .2) !important;
    }

    .title small {
        color: #999;
        font-size: 65%;
        line-height: 1;
        font-weight: 400;
    }
</style>
