<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" md="4" offset-md="4">
                <v-card :loading="loading">
                    <v-card-title>
                        <span class="headline">Nuevo usuario</span>
                    </v-card-title>
                    <v-card-text>
                        <user-form :action="'edit'"
                                   :populate-with="usuario"
                                   @save="save"></user-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'usuarios-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
    import {Toast} from '../../../mixins/toast'

    const UserForm = () => import('../../../components/administracion/forms/UserForm')

    export default {
        name: 'Edit',
        mixins: [Toast],
        components: {UserForm},
        props: {
            id: {
                type: [Number, String],
            }
        },
        data() {
            return {
                draft: {},
                loading: false
            }
        },
        async created() {
            try {
                this.loading = true
                await this['catalogos/fetchRoles']()
            } catch (e) {
                console.log(e)
                this.toastError('Error al cargar los datos')
            } finally {
                this.loading = false
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true
                    await this['administracion/updateUsuario']({id: draft.id, data: draft})
                    this.toastSuccess('El usuario se guardó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapGetters([
                'administracion/getUsuarioById',
            ]),
            ...mapActions([
                'administracion/updateUsuario',
                'catalogos/fetchRoles',
                'ui/setSnackBar'
            ])
        },
        watch: {},
        computed: {
            usuario() {
                let getUser = this['administracion/getUsuarioById']()

                return getUser(this.id)
            }
        }
    }
</script>

<style scoped>

</style>
