<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        <v-toolbar color="white" flat>
                            <v-toolbar-title>Usuarios</v-toolbar-title>
                            <v-divider class="mx-2"
                                       inset
                                       vertical>
                            </v-divider>
                            <v-text-field append-icon="mdi-magnify"
                                          class="mr-3"
                                          hide-details
                                          label="Buscar"
                                          single-line
                                          type="text"
                                          v-model="search"
                            ></v-text-field>
                            <div class="flex-grow-1"></div>
                            <router-link :to="{name: 'usuarios-create'}"
                                         v-slot="{ href, route, navigate, isActive, isExactActive }"
                            >
                                <v-btn :href="href"
                                       @click="navigate"
                                       color="primary"
                                >
                                    Nuevo usuario
                                </v-btn>
                            </router-link>
                        </v-toolbar>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="usuarios"
                                      :loading="loading"
                                      :search="search"
                        >
                            <template v-slot:item.roles_col="{item}">
                                <span>{{ item.roles.map(e => e.name).join(', ') }}</span>
                            </template>
                            <template v-slot:item.edit="{item}">
                                <router-link :to="{name: 'usuarios-edit', params:{id: item.id}}"
                                             style="text-decoration: none!important"
                                >
                                    <v-icon style="font-size: 16px">mdi-pencil</v-icon>
                                </router-link>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-card-actions>

                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        name: 'Index',
        components: {},
        props: {},
        data() {
            return {
                headers: [
                    {text: 'Editar', value: 'edit', sortable: false, filterable: false},
                    {text: 'Título', value: 'titulo'},
                    {text: 'Nombre', value: 'nombre_apellidos'},
                    {text: 'Email', value: 'email'},
                    {text: 'Role(s)', value: 'stringRoles'},
                ],
                loading: false,
                search: ''
            }
        },
        async created() {
            try {
                this.loading = true
                await this['administracion/fetchUsuarios']()
            } catch (e) {
                this.toastError('Error al cargar los datos')
            } finally {
                this.loading = false
            }
        },
        methods: {
            ...mapActions([
                'administracion/fetchUsuarios',
                'ui/setSnackBar'
            ])
        },
        watch: {},
        filters: {
            getRoles(val) {
                return val.map(e => e.name).join(', ')
            }
        },
        computed: {
            ...mapState({
                usuarios: state => state.administracion.usuarios
            })
        }
    }
</script>

<style scoped>

</style>
