<template>
    <form @submit.prevent="submit">
        <v-text-field :error-messages="errors.collect('draft.descripcion')"
                      data-vv-name="draft.descripcion"
                      label="Name"
                      type="text"
                      v-model="draft.descripcion"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field label="Icon"
                      type="text"
                      v-model="draft.icon"
        ></v-text-field>
        <v-text-field label="Name route"
                      type="text"
                      v-model="draft.path"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.orden')"
                      data-vv-name="draft.orden"
                      label="Order"
                      type="number"
                      v-model="draft.orden"
                      v-validate="'required'"
        ></v-text-field>
        <v-radio-group :error-messages="errors.collect('draft.sistema_id')"
                       :mandatory="false"
                       data-vv-name="draft.sistema_id"
                       v-model="draft.sistema_id"
                       v-validate="'required'">
            <v-radio :key="sistema.titulo"
                     :label="sistema.titulo"
                     :value="sistema.id"
                     v-for="sistema in sistemas"
            ></v-radio>
        </v-radio-group>

        <div class="d-flex pb-2">
            <v-spacer></v-spacer>
            <v-btn @click="cancelar"
                   class="mt-3"
                   color="primary"
                   text
            >
                Terminar
            </v-btn>
            <v-btn @click="submit"
                   class="mt-3"
                   color="success"
                   text
            >
                Guardar
            </v-btn>
        </div>
    </form>
</template>

<script>
    import {mapState} from 'vuex'
    import EventBus from '../../../event-bus'

    export default {
        name: 'MenuForm',
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    id: null,
                    descripcion: null,
                    parent_id: null,
                    icon: null,
                    path: null,
                    orden: null,
                    sistema_id: null,
                    activo: true,
                }
            }
        },
        created() {
            EventBus.$on('CLEAR_FORM', this.resetForm);
            if (!this.populateWith.empty) {
                this.draft = clone(this.populateWith)
            }
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validateAll()
                if (isValid) {
                    this.$emit('save', this.draft)
                }
            },
            cancelar() {
                //this.resetForm();
                EventBus.$emit('CLOSE_DIALOG');
            },
            resetForm() {
                for (let field in this.draft) {
                    this.draft[field] = null
                }
                this.draft.activo = true
                this.$validator.reset();
            }
        },
        watch: {},
        computed: {
            ...mapState({
                sistemas: state => state.administracion.sistemas,
            })
        }
    }
</script>

<style scoped>

</style>
