<template>
    <v-dialog max-width="500px" v-model="dialog">
        <template v-slot:activator="{on}">
            <v-btn color="primary" v-on="on">Nuevo módulo</v-btn>
        </template>
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Nuevo módulo</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <form @submit="save">
                                <v-text-field
                                    :error-messages="errors.collect('draft.titulo')"
                                    data-vv-name="draft.titulo"
                                    label="Título"
                                    type="text"
                                    v-model="draft.titulo"
                                    v-validate="'required'"
                                ></v-text-field>
                                <v-text-field
                                    :error-messages="errors.collect('draft.subtitulo')"
                                    data-vv-name="draft.subtitulo"
                                    label="Subtítulo"
                                    type="text"
                                    v-model="draft.subtitulo"
                                    v-validate="'required'"
                                ></v-text-field>
                            </form>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn @click="dialog = false" color="blue darken-1" text>Cerrar</v-btn>
                <v-btn @click="save" color="blue darken-1" text>Guardar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import {Toast} from '../../../mixins/toast'
    import {mapActions} from 'vuex'

    export default {
        name: 'ModuloForm',
        mixins: [Toast],
        components: {},
        props: {},
        data() {
            return {
                dialog: false,
                loading: false,
                draft: {
                    titulo: null,
                    subtitulo: null
                }
            }
        },
        methods: {
            async save() {
                try {
                    let isValid = await this.$validator.validateAll();
                    if (isValid) {
                        this.loading = true
                        try {
                            await this['administracion/storeSistema'](this.draft)
                            this.toastSuccess('El módulo se guardó correctamente')
                            for (let field in this.draft) {
                                this.draft[field] = null
                            }
                            await this.$validator.reset()
                        } catch (e) {
                            this.toastError('Lo sentimos ha ocurrido un error')
                        } finally {
                            this.loading = false
                        }
                    }
                } catch (e) {
                    this.toastError(e);
                }
            },
            ...mapActions([
                'administracion/storeSistema',
                'ui/setSnackBar',
            ])
        },
        watch: {},
        computed: {}
    }
</script>

<style scoped>

</style>
