<template>
    <form @submit="save">
        <v-container class="pa-0">
            <v-row>
                <v-col cols="12">
                    <v-text-field data-vv-name="draft.titulo"
                                  label="Título"
                                  type="text"
                                  v-model="draft.titulo"
                    ></v-text-field>
                    <v-text-field :error-messages="errors.collect('draft.name')"
                                  data-vv-name="draft.name"
                                  label="Nombre"
                                  type="text"
                                  v-model="draft.name"
                                  v-validate="'required'"
                    ></v-text-field>
                    <v-text-field :error-messages="errors.collect('draft.last_name')"
                                  data-vv-name="draft.last_name"
                                  label="Apellidos"
                                  type="text"
                                  v-model="draft.last_name"
                                  v-validate="'required'"
                    ></v-text-field>
                    <v-text-field :error-messages="errors.collect('draft.email')"
                                  data-vv-name="draft.email"
                                  label="Correo electrónico"
                                  type="email"
                                  v-model="draft.email"
                                  v-validate="'required'"
                    ></v-text-field>
                    <template v-if="action !== 'edit'">
                        <v-text-field :error-messages="errors.collect('draft.password')"
                                      autocomplete="new-password"
                                      data-vv-name="draft.password"
                                      label="Contraseña"
                                      type="password"
                                      v-model="draft.password"
                                      v-validate="'required'"
                        ></v-text-field>
                    </template>

                    <v-dialog fullscreen hide-overlay transition="dialog-bottom-transition" v-model="openRolesDialog">
                        <template v-slot:activator="{on}">
                            <v-btn :loading="loading"
                                   block
                                   class="mt-3"
                                   color="primary"
                                   dark
                                   v-on="on"
                            >
                                Configurar roles
                            </v-btn>
                        </template>
                        <v-card>
                            <v-toolbar color="primary" dark>
                                <v-btn @click="openRolesDialog = false" dark icon>
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-toolbar-title>Roles</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-btn @click="openRolesDialog = false" dark text>Aceptar</v-btn>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-card-text>
                                <v-list>
                                    <v-list-item-group :key="role.name"
                                                       multiple
                                                       v-for="role in roles"
                                                       v-model="draft.roles"
                                    >
                                        <v-list-item :value="role.name">
                                            <template v-slot:default="{active, toggle}">
                                                <v-list-item-action>
                                                    <v-checkbox :true-value="role.name"
                                                                @click="toggle"
                                                                color="primary"
                                                                v-model="active"
                                                    ></v-checkbox>
                                                </v-list-item-action>
                                                <v-list-item-content>
                                                    <v-list-item-title>{{ role.name }}</v-list-item-title>
                                                </v-list-item-content>
                                            </template>
                                        </v-list-item>
                                        <v-list style="padding-left: 4rem" subheader v-if="role.permissions.length">
                                            <v-subheader>Permisos</v-subheader>
                                            <v-list-item-group multiple
                                                               v-model="draft.permissions"
                                            >
                                                <template v-for="permission in role.permissions">
                                                    <v-list-item :value="permission.name">
                                                        <template v-slot:default="{active, toggle}">
                                                            <v-list-item-action>
                                                                <v-checkbox :true-value="permission.name"
                                                                            @click="toggle"
                                                                            color="primary"
                                                                            v-model="active"
                                                                ></v-checkbox>
                                                            </v-list-item-action>
                                                            <v-list-item-content>
                                                                <v-list-item-title>{{ permission.name }}</v-list-item-title>
                                                            </v-list-item-content>
                                                        </template>
                                                    </v-list-item>
                                                </template>
                                            </v-list-item-group>
                                        </v-list>
                                    </v-list-item-group>
                                </v-list>
                            </v-card-text>
                        </v-card>
                    </v-dialog>
                </v-col>
            </v-row>
        </v-container>

        <v-btn :loading="loading"
               @click="save"
               class="mt-3"
               color="success"
        >
            Guardar
        </v-btn>
    </form>
</template>

<script>
    import {mapState} from 'vuex'
    import {Toast} from '../../../mixins/toast'
    import EventBus from '../../../event-bus'

    export default {
        name: 'UserForm',
        mixins: [Toast],
        components: {},
        props: {
            action: {
                type: String,
                default: 'New'
            },
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    titulo: null,
                    name: null,
                    last_name: null,
                    email: null,
                    password: null,
                    roles: [],
                    permissions: []
                },
                loading: false,
                openRolesDialog: false,
                selectedRole: null,
                selectedPermissions: []
            }
        },
        created() {
            EventBus.$on('CLEAR_FORM', async () => {
                for (let field in this.draft) {
                    this.draft[field] = null
                    if (field === 'roles' || field === 'permissions') {
                        this.draft[field] = []
                    }
                }
                await this.$validator.reset();
            })
            if (!this.populateWith.empty) {
                this.draft = clone(this.populateWith)
            }
        },
        methods: {
            async save() {
                let isValid = await this.$validator.validateAll();
                if (isValid) {
                    this.$emit('save', this.draft)
                }
            },
        },
        watch: {},
        computed: {
            ...mapState({
                roles: state => state.catalogos.roles,
                permissions: state => state.catalogos.permissions
            })
        }
    }
</script>

<style scoped>

</style>
