<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card :loading="saving">
                    <v-card-title>
                        <span class="headline">Nuevo origen</span>
                    </v-card-title>
                    <v-card-text>
                        <origen-form @save="save"></origen-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'origenes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import EventBus from '../../../../event-bus'
    import {mapActions} from 'vuex'
    import {Toast} from '../../../../mixins/toast'

    const OrigenForm = () => import('../../../../components/sanitaria/forms/OrigenForm')

    export default {
        components: {
            OrigenForm
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                saving: false
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.saving = true;
                    EventBus.$emit('SAVING')
                    let result = await this['catalogos/storeOrigen'](draft)
                    this.toastSuccess('El origen se guardó correctamente')
                    await this.$router.push({name: 'origenes-edit', params: {id: result.data.item.id}})
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos, algo ha salido mal intenta de nuevo')
                } finally {
                    this.saving = false;
                    EventBus.$emit('END_SAVING')
                }

            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/storeOrigen',
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
