<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card :loading="saving">
                    <v-card-title>
                        <span class="headline">Editar origen</span>
                    </v-card-title>
                    <v-card-text v-if="ready">
                        <origen-form :populate-with="origen" @save="save"></origen-form>
                    </v-card-text>
                    <v-card-text v-else>
                        <p>Cargando datos... espere un momento...</p>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'origenes-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import EventBus from '../../../../event-bus'
    import {mapActions, mapGetters} from 'vuex'
    import {Toast} from '../../../../mixins/toast'

    const OrigenForm = () => import('../../../../components/sanitaria/forms/OrigenForm')

    export default {
        components: {
            OrigenForm
        },
        mixins: [Toast],
        props: {
            id: {
                type: [Number, String]
            }
        },
        data() {
            return {
                saving: false,
                ready: false,
                cloneId: null
            }
        },
        async created() {
            this.cloneId = parseInt(this.id)

            if (this.countOrigenes <= 0) {
                await this['catalogos/fetchOrigenes']()
            }
            this.ready = true
        },
        methods: {
            async save(draft) {
                try {
                    this.saving = true;
                    EventBus.$emit('SAVING')
                    let result = await axios.patch(route('api.v1.origenes.update', draft.id), draft)
                    this.toastSuccess('El origen se actualizó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos, algo ha salido mal intenta de nuevo')
                } finally {
                    this.saving = false;
                    EventBus.$emit('END_SAVING')
                }
            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/fetchOrigenes',
            ]),
            ...mapGetters([
                'catalogos/getOrigenById',
                'catalogos/countOrigenes',
            ])
        },
        computed: {
            origen() {
                let getOrigen = this['catalogos/getOrigenById']()

                return getOrigen(this.cloneId)
            },
            countOrigenes() {
                return this['catalogos/countOrigenes']()
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
