<template>
    <v-container class="pb-10" fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        <v-toolbar flat>
                            <v-toolbar-title>Origenes</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-text-field
                                append-icon="mdi-magnify"
                                hide-details
                                label="Search"
                                single-line
                                v-model="search"
                            ></v-text-field>
                        </v-toolbar>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="items"
                                      :loading="loading"
                                      :search="search"
                                      class="elevation-0"
                        >
                            <template v-slot:item.actions="{item}">
                                <v-icon @click="editOrigen(item)"
                                        class="mr-2"
                                        small
                                >
                                    mdi-pencil
                                </v-icon>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'origenes-create'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </router-link>
    </v-container>
</template>

<script>
    import {Toast} from '../../../../mixins/toast'
    import {mapActions, mapState} from 'vuex'

    export default {
        components: {},
        mixins: [Toast],
        props: {},
        data() {
            return {
                search: '',
                loading: false,
                headers: [
                    {text: 'Tipo', value: 'tipo', sortable: true},
                    {text: 'Clave', value: 'clave', sortable: false},
                    {text: 'Origen', value: 'origen', sortable: true},
                    {text: 'Telefono', value: 'telefono', sortable: false},
                    {text: 'Acciones', value: 'actions', sortable: false},
                ]
            }
        },
        async created() {
            try {
                this.loading = true
                await this['catalogos/fetchOrigenes']()
            } catch (e) {
                console.log(e)
                this.toastError('Error al cargar los datos')
            } finally {
                this.loading = false
            }
        },
        methods: {
            editOrigen(origen) {
                this.$router.push({name: 'origenes-edit', params: {id: origen.id}})
            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/fetchOrigenes'
            ])
        },
        computed: {
            ...mapState({
                items: state => state.catalogos.origenes
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
