<template>
    <v-container
        grid-list-xl>
        <v-layout wrap>
            <v-flex
                md12
                sm12
                lg12
            >
                <v-data-table
                    :headers="computedHeaders"
                    :items="items"
                    :loading="loading"
                    class="elevation-1"
                    :search="search"
                    dense
                >
                    <template v-slot:item.medio_soporte="{ item }">
                        <v-chip
                            outlined
                            :ripple="false"
                            small
                            v-for="medio in item.medio_soporte"
                            :key="medio"
                            color="gray">
                            {{ medio }}
                        </v-chip>
                    </template>
                    <template v-slot:item.medio_proteccion="{ item }">
                        <v-chip
                            outlined
                            :ripple="false"
                            small
                            v-for="medio in item.medio_proteccion"
                            :key="medio"
                            color="gray">
                            {{ medio }}
                        </v-chip>
                    </template>
                    <template v-slot:item.medio_almacenamiento="{ item }">
                        <v-chip
                            outlined
                            :ripple="false"
                            small
                            v-for="medio in item.medio_almacenamiento"
                            :key="medio"
                            color="gray">
                            {{ medio }}
                        </v-chip>
                    </template>
                    <template v-slot:item.medio_recuperacion="{ item }">
                        <v-chip
                            outlined
                            :ripple="false"
                            small
                            v-for="medio in item.medio_recuperacion"
                            :key="medio"
                            color="gray">
                            {{ medio }}
                        </v-chip>
                    </template>
                    <template v-slot:item.medio_disposicion="{ item }">
                        <v-chip
                            outlined
                            :ripple="false"
                            small
                            v-for="medio in item.medio_disposicion"
                            :key="medio"
                            color="gray">
                            {{ medio }}
                        </v-chip>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    icon
                                    v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list dense>
                                <v-list-item @click="evidencias(item)">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-file-document
                                    </v-icon>
                                    Evidencias
                                </v-list-item>
                                <v-list-item @click="editItem(item)">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-pencil-outline
                                    </v-icon>
                                    Editar
                                </v-list-item>
                                <v-list-item @click="openDeleteItem(item)">
                                    <v-icon
                                        small
                                        class="mr-2"
                                    >
                                        mdi-delete
                                    </v-icon>
                                    Eliminar
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </template>
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Reporte de no conformidades</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <div class="flex-grow-1"></div>
                            <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Filtrar"
                                single-line
                                hide-details
                            ></v-text-field>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" scrollable fullscreen hide-overlay transition="dialog-bottom-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn v-on="on" color="teal" tile outlined class="ma-2">
                                        <v-icon left>mdi-plus</v-icon>
                                        Nuevo documento
                                    </v-btn>
                                </template>
                                <Form :populate-with="item" @submit="submit"/>
                            </v-dialog>
                            <v-dialog v-model="dialogEvidencias" max-width="720" transition="dialog-bottom-transition">
                                <Evidencias/>
                            </v-dialog>

                            <v-dialog v-model="dialogDelete" persistent max-width="290">
                                <v-card>
                                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                                    <v-card-actions>
                                        <div class="flex-grow-1"></div>
                                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                            <v-spacer></v-spacer>
                            <template>
                                <div class="text-center">
                                    <v-menu
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        :nudge-width="100"
                                        offset-x
                                    >
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                color="indigo"
                                                dark
                                                small
                                                v-on="on"
                                            >
                                                Columnas ocultas
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-list dense>
                                                <v-list-item
                                                    v-for="column in headers"
                                                    :key="column.text"
                                                    v-if="column.text !== '#' && column.text !== 'Acciones'">
                                                    <v-list-item-action>
                                                        <v-switch v-model="column.hide" color="purple"></v-switch>
                                                    </v-list-item-action>
                                                    <v-list-item-title>
                                                        {{ column.text }}
                                                    </v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                            <v-card-actions>
                                                <div class="flex-grow-1"></div>
                                                <v-btn color="primary" text @click="menu = false">Cerrar</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-menu>
                                </div>
                            </template>

                        </v-toolbar>
                    </template>

                    <template v-slot:no-data>
                        <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                    </template>
                </v-data-table>
            </v-flex>
            <v-snackbar
                v-model="show"
                :color="color"
                :timeout="3000"
                :bottom="true"
                :right="true"
            >
                {{ message }}
                <v-icon
                    dark
                    text
                    @click="show = false"
                >
                    mdi-close
                </v-icon>
            </v-snackbar>

            <v-dialog v-model="dialogDelete" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Confirmar eliminación</v-card-title>
                    <v-card-text>Esta seguro de eliminar este elemento?</v-card-text>
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                        <v-btn color="gray darken-1" text @click="dialogDelete = false">Cancelar</v-btn>
                        <v-btn color="error" @click="deleteItem()">Confirmar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import Api from '@/router/api/calidad/no_conformidades.js'
    import Form from '@/components/Calidad/Forms/NoConformidadesForm'
    import Evidencias from '@/components/Calidad/Forms/Evidencias'
    import EventBus from '@/event-bus.js'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {
            Form, Evidencias
        },
        data: () => {

            return {
                search: '',
                loading: false,
                items: [],
                item: {},
                defaults: {
                    file: null,
                },

                dialog: false,
                menu: false,
                editedIndex: -1,
                editedId: -1,
                headers: [
                    {text: '#', value: 'id'},
                    {text: 'Clave', value: 'clave', width: 80, hide: true},
                    {text: 'Hallazgo/Recomendación', value: 'hallazgo'},
                    {text: 'Clasificación', value: 'clasificacion',},
                    {text: 'Fuente', value: 'fuente'},
                    {text: 'Depto', value: 'departamento'},
                    {text: 'Área', value: 'area'},
                    {text: 'Fecha detección', value: 'fecha_deteccion'},
                    {text: 'Resolución', value: 'resolucion'},
                    {text: 'Fecha cierre', value: 'fecha_cierre'},
                    {text: 'Opciones', value: 'action', sortable: false},
                ],
                /* Notification Settings */
                show: false,
                message: '',
                color: '',
                dialogDelete: false,
                dialogEvidencias: false,
            }
        },
        async created() {
            EventBus.$on('CLOSE_DIALOG_DOCS', () => {
                this.dialog = false
            })

            EventBus.$on('CLOSE_DIALOG_EVIDENCIAS', () => {
                this.dialogEvidencias = false
            })

            this.init();
        },

        computed: {
            computedHeaders() {
                let bp = this.$vuetify.breakpoint
                let vm = this
                return this.headers.filter(h => {
                    if (!h.hide) return true
                })
            },

        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            init() {

                this.loading = true;
                Api.gets()
                    .then(({data}) => {
                        this.items = data.data
                    })
                    .catch(error => {
                        this.notify('No se pudo cargar [gets]', 'error')
                    }).finally(() => {

                    this.loading = false;

                })
            },

            editItem(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = clone(item)
                this['calidad/fetchAccionesNc'](item.acciones);
                setTimeout(() => {
                    this.dialog = true
                }, 500)
            },

            evidencias(item) {
                this.editedIndex = this.items.indexOf(item)
                this.item = clone(item)
                this['calidad/fetchAccionesNc'](item.acciones);
                setTimeout(() => {
                    this.dialogEvidencias = true
                }, 500)
            },

            async submit(data) {
                if (this.editedIndex > -1) {
                    let id = this.item.id
                    //data.append('_method', 'put');

                    Api.edit(id, data)
                        .then(({data}) => {
                            this.notify('El elemento ha sido modificado con éxito',
                                'success');
                        })
                        .catch(response => {
                            this.notify('Ha ocurrido un error en la edición',
                                'error')
                        }).finally(() => {
                        this.loading = false
                        this.init();
                        this.close()
                    })
                } else {

                    Api.add(data)
                        .then(({data}) => {
                            console.log(data);
                            this.notify('El elemento fue registrado correctamente',
                                'success')
                        })
                        .catch(response => {
                            this.notify('No se ha podido registrar', 'error')

                        }).finally(() => {
                        this.loading = false
                        this.init();
                        this.close()
                    })
                }

            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    EventBus.$emit('CLEAR_FORM_DOCS');
                    this.item = clone(this.defaults)
                }, 500)
                this.editedIndex = -1
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            openDeleteItem(item) {
                this.dialogDelete = true;
                this.editedIndex = this.items.indexOf(item);
                this.item = Object.assign({}, item)
            },

            deleteItem() {
                let index = this.editedIndex;
                Api.delete(this.item.id)
                    .then(() => {
                        this.notify('El elemento fue eliminado correctamente', 'success')
                    })
                    .catch((error) => {
                        this.notify('Ocurrio un error al eliminar.', 'error')

                    }).finally(() => {
                    this.loading = false
                    this.editedIndex = -1
                    this.dialogDelete = false
                    this.init()
                })
            },

            ...mapActions([
                'calidad/fetchAccionesNc'
            ]),
            ...mapGetters([
                'calidad/getAccionesNc',
            ])

        }
    }
</script>
