<template>
    <form @submit.prevent="submit">
        <v-row>
            <v-col cols="2">
                <v-text-field :error-messages="errors.collect('draft.director_preposicion')"
                              data-vv-name="draft.director_preposicion"
                              label="Preposición"
                              type="text"
                              v-model="draft.director_preposicion"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
            <v-col cols="10">
                <v-text-field :error-messages="errors.collect('draft.director_nombre')"
                              data-vv-name="draft.director_nombre"
                              label="Nombre"
                              type="text"
                              v-model="draft.director_nombre"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="10">
                <v-text-field :error-messages="errors.collect('draft.director_direccion')"
                              data-vv-name="draft.director_direccion"
                              label="Dirección"
                              type="text"
                              v-model="draft.director_direccion"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
            <v-col cols="2">
                <v-text-field :error-messages="errors.collect('draft.director_telefono')"
                              data-vv-name="draft.director_telefono"
                              label="Teléfono"
                              type="text"
                              v-model="draft.director_telefono"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field :error-messages="errors.collect('draft.director_email')"
                              data-vv-name="draft.director_email"
                              label="Email"
                              type="text"
                              v-model="draft.director_email"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="4">
                <v-text-field :error-messages="errors.collect('draft.director_cargo')"
                              data-vv-name="draft.director_cargo"
                              label="Cargo"
                              type="text"
                              v-model="draft.director_cargo"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
            <v-col cols="4">
                <v-text-field :error-messages="errors.collect('draft.director_estado')"
                              data-vv-name="draft.director_estado"
                              label="Estado"
                              type="text"
                              v-model="draft.director_estado"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
            <v-col cols="4">
                <v-text-field :error-messages="errors.collect('draft.director_municipio')"
                              data-vv-name="draft.director_municipio"
                              label="Municipio"
                              type="text"
                              v-model="draft.director_municipio"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
        </v-row>
    </form>
</template>

<script>
    export default {
        components: {},
        inject: ['$validator'],
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    director_nombre: null,
                    director_direccion: null,
                    director_telefono: null,
                    director_email: null,
                    director_cargo: null,
                    director_preposicion: null,
                    director_estado: null,
                    director_municipio: null,
                }
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = this.populateWith
            }
        },
        methods: {
            submit() {
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
