<template>
    <form @submit.prevent="submit">
        <v-row>
            <v-col cols="10">
                <v-text-field :error-messages="errors.collect('draft.direccion')"
                              data-vv-name="draft.direccion"
                              label="Dirección"
                              type="text"
                              v-model="draft.direccion"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
            <v-col cols="2">
                <v-text-field :error-messages="errors.collect('draft.codigo_postal')"
                              data-vv-name="draft.codigo_postal"
                              label="Código postal"
                              type="text"
                              v-model="draft.codigo_postal"
                              v-validate="'required'"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-autocomplete
                    :error-messages="errors.collect('draft.cve_ent')"
                    :items="entidades"
                    data-vv-name="draft.cve_ent"
                    item-text="NOM_ENT"
                    item-value="CVE_ENT"
                    label="Entidad"
                    v-model="draft.cve_ent"
                    v-validate="'required'"
                ></v-autocomplete>
            </v-col>
            <v-col>
                <v-autocomplete
                    :error-messages="errors.collect('draft.cve_mun')"
                    :items="municipios"
                    :loading="loadingMunicipios"
                    data-vv-name="draft.cve_mun"
                    item-text="NOM_MUN"
                    item-value="CVE_MUN"
                    label="Municipio"
                    v-model="draft.cve_mun"
                    v-validate="'required'"
                ></v-autocomplete>
            </v-col>
        </v-row>
    </form>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        components: {},
        inject: ['$validator'],
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    direccion: null,
                    codigo_postal: null,
                    cve_ent: null,
                    nombre_entidad: null,
                    cve_mun: null,
                    nombre_municipio: null,
                },
                loadingMunicipios: false,
                preSelectedEstado: null,
                preSelectedMunicipio: null,
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = this.populateWith
                let {cve_ent, cve_mun} = this.populateWith
                this.preSelectedEstado = cve_ent
                this.preSelectedMunicipio = cve_mun
            }
        },
        methods: {
            submit() {
            },
            ...mapActions([
                'catalogos/fetchMunicipios',
            ])
        },
        computed: {
            entidadSelected() {
                return this.draft.cve_ent;
            },
            ...mapState({
                entidades: state => state.catalogos.entidades,
                municipios: state => state.catalogos.municipios,
            })
        },
        watch: {
            entidadSelected(val) {
                if (val) {
                    this.loadingMunicipios = true
                    this['catalogos/fetchMunicipios'](val)
                        .finally(res => {
                            this.loadingMunicipios = false
                            this.preSelectedEstado !== this.draft.cve_ent ? this.draft.cve_mun = null : this.draft.cve_mun = this.preSelectedMunicipio
                        })
                }
            },
        }
    }
</script>

<style scoped>

</style>
