<template>
    <form @submit.prevent="submit">
        <v-container>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.clave')"
                                  autofocus
                                  data-vv-name="draft.clave"
                                  label="Clave"
                                  type="text"
                                  v-model="draft.clave"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col>
                    <v-text-field label="Clave alterna"
                                  type="text"
                                  v-model="draft.clave_alterna"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <header>Formato</header>
                    <v-radio-group :error-messages="errors.collect('draft.formato')"
                                   :mandatory="false"
                                   data-vv-name="draft.formato"
                                   row
                                   v-model="draft.formato"
                                   v-validate="'required'"
                    >
                        <template v-for="formato in formatos">
                            <v-radio :label="formato" :value="formato"></v-radio>
                        </template>
                    </v-radio-group>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.descripcion')"
                                  data-vv-name="draft.descripcion"
                                  label="Estudio"
                                  type="text"
                                  v-model="draft.descripcion"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-textarea label="A. Cofepris"
                                v-model="draft.cofrepris"
                    ></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field label="Referencia"
                                  type="text"
                                  v-model="draft.referencia"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <header>Tipo de limite</header>
                    <v-radio-group :error-messages="errors.collect('draft.tipo_limite')"
                                   :mandatory="false"
                                   data-vv-name="draft.tipo_limite"
                                   row
                                   v-model="draft.tipo_limite"
                                   v-validate="'required'"
                    >
                        <template v-for="limite in limites">
                            <v-radio :label="limite" :value="limite"></v-radio>
                        </template>
                    </v-radio-group>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-autocomplete :error-messages="errors.collect('draft.laboratorio_id')"
                                    :items="laboratorios"
                                    data-vv-name="draft.laboratorio_id"
                                    item-text="descripcion"
                                    item-value="id"
                                    label="Laboratorio"
                                    v-model="draft.laboratorio_id"
                                    v-validate="'required'"
                    >
                        <template v-slot:item="data">
                            <v-list-item-content>
                                <v-list-item-title v-html="data.item.descripcion"></v-list-item-title>
                                <v-list-item-subtitle v-html="data.item.tipo"></v-list-item-subtitle>
                            </v-list-item-content>
                        </template>
                    </v-autocomplete>
                </v-col>
                <v-col>
                    <v-autocomplete :error-messages="errors.collect('draft.recipiente_id')"
                                    :items="recipientes"
                                    data-vv-name="draft.recipiente_id"
                                    item-text="descripcion"
                                    item-value="id"
                                    label="Recipiente"
                                    v-model="draft.recipiente_id"
                                    v-validate="'required'"
                    ></v-autocomplete>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <header>Semáforo</header>
                    <v-checkbox
                        label="Días naturales"
                        v-model="draft.dias_naturales"
                    ></v-checkbox>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.tiempo_proceso')"
                                  data-vv-name="draft.tiempo_proceso"
                                  label="Días proceso"
                                  type="number"
                                  v-model="draft.tiempo_proceso"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.tiempo_alerta')"
                                  data-vv-name="draft.tiempo_alerta"
                                  label="Días alerta"
                                  type="number"
                                  v-model="draft.tiempo_alerta"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-checkbox label="Validar resultado"
                                v-model="draft.validar_resultado"
                    ></v-checkbox>
                </v-col>
            </v-row>
            <v-btn @click="submit"
                   color="success"
            >
                Guardar
            </v-btn>
        </v-container>
    </form>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                formatos: ['GENERAL', 'ESPECIAL'],
                limites: ['CUANTITATIVO', 'CUALITATIVO'],
                draft: {
                    clave: null,
                    clave_alterna: null,
                    formato: null,
                    descripcion: null,
                    cofrepris: null,
                    referencia: null,
                    tipo_limite: null,
                    dias_naturales: false,
                    laboratorio_id: null,
                    recipiente_id: null,
                    tiempo_alerta: null,
                    tiempo_proceso: null,
                    validar_resultado: false,
                }
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = this.populateWith
            }
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validateAll()

                if (isValid) {
                    this.$emit('save', this.draft)
                }
            }
        },
        computed: {
            ...mapState({
                laboratorios: state => state.catalogos.laboratorios,
                recipientes: state => state.sanitaria.recipientes
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
