<template>
    <form @submit.prevent="submit">
        <v-container class="pt-0" fluid>
            <v-row style="align-items: flex-end">
                <v-col cols="12" md="2">
                    <estatus :config="statusMuestra"></estatus>
                </v-col>
                <v-col cols="6" md="2">
                    <v-checkbox hide-details
                                label="Subrogado"
                                v-model="draft.es_subrogado"></v-checkbox>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="4">
                    <v-text-field
                        type="text"
                        label="Número muestra"
                        disabled
                        v-model="draft.numero_muestra"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                    <v-text-field
                        :error-messages="errors.collect('draft.entrego')"
                        data-vv-name="draft.entrego"
                        label="Entregó"
                        type="text"
                        v-model="draft.entrego"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                    <v-text-field
                        :value="recibio"
                        disabled
                        hide-details
                        label="Recibió"
                        type="text"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="2" v-if="isAlim || isAgua">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="open_fecha_muestreo"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                slot="activator"
                                label="F. Muestreo"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="fecha_muestreo"
                                :error-messages="errors.collect('fecha_muestreo')"
                                data-vv-name="fecha_muestreo"
                                v-validate="'required'"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="open_fecha_muestreo = false"
                            locale="es-419"
                            v-model="fecha_muestreo"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="2" v-if="isAlim || isAgua">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="open_hora_muestreo"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="H. Muestreo"
                                prepend-icon="mdi-clock-outline"
                                readonly
                                v-model="hora_muestreo"
                                :error-messages="errors.collect('hora_muestreo')"
                                data-vv-name="hora_muestreo"
                                v-validate="'required'"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-time-picker
                            @input="open_hora_muestreo = false"
                            format="24hr"
                            locale="es-419"
                            v-model="hora_muestreo"
                        ></v-time-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="4" v-if="isAgua || isAlim">
                    <v-text-field
                        :error-messages="errors.collect('draft.punto_muestreo')"
                        data-vv-name="draft.punto_muestreo"
                        label="P. Muestreo"
                        type="text"
                        v-model="draft.punto_muestreo"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                    <v-autocomplete
                        :items="tipos_muestreo"
                        chips
                        :error-messages="errors.collect('draft.tipo_muestreo')"
                        v-validate="'required'"
                        data-vv-name="draft.tipo_muestreo"
                        label="Tipo muestreo"
                        multiple
                        small-chips
                        v-model="draft.tipo_muestreo"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" md="2" v-if="isBiol">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="openFechaRecoleccion"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="Fecha recolección"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="draft.fecha_recoleccion"
                                :error-messages="errors.collect('draft.fecha_recoleccion')"
                                data-vv-name="draft.fecha_recoleccion"
                                key="fecha_recoleccion"
                                v-validate="'required'"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="openFechaRecoleccion = false"
                            locale="es-419"
                            v-model="draft.fecha_recoleccion"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6" v-if="isAgua || isAlim">
                    <v-text-field
                        :error-messages="errors.collect('draft.lugar_muestreo')"
                        data-vv-name="draft.lugar_muestreo"
                        label="Lugar de muestreo"
                        type="text"
                        v-model="draft.lugar_muestreo"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" v-if="isAgua">
                    <v-radio-group :error-messages="errors.collect('draft.jurisdiccion')"
                                   :mandatory="false"
                                   data-vv-name="draft.jurisdiccion"
                                   row
                                   v-model="draft.jurisdiccion"
                                   v-validate="'required'"
                    >
                        <v-radio label="JURISDICCION 01" value="01"></v-radio>
                        <v-radio label="JURISDICCION 02" value="02"></v-radio>
                        <v-radio label="JURISDICCION 03" value="03"></v-radio>
                    </v-radio-group>
                </v-col>
            </v-row>
            <v-row v-if="isBiol">
                <v-col cols="12" md="4">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.paciente')"
                        :items="pacientes"
                        data-vv-name="draft.paciente"
                        item-text="nombre_apellidos"
                        item-value="id"
                        :no-filter="true"
                        label="Paciente"
                        v-model="draft.paciente"
                        :search-input.sync="searchPaciente"
                        v-validate="'required'"
                        return-object
                    >
                        <template v-slot:append-outer>
                            <v-btn color="deep-purple"
                                   dark
                                   depressed
                                   fab
                                   x-small
                            >
                                <v-icon :key="'x'"
                                        @click="hasPaciente ? editarPaciente : nuevoPaciente"
                                        v-text="hasPaciente ? 'mdi-pencil':'mdi-plus'"
                                ></v-icon>
                            </v-btn>

                        </template>
                    </v-autocomplete>
                </v-col>
                <template v-if="hasPaciente">
                    <v-col cols="12" md="2">
                        <v-text-field
                            :value="draft.paciente.edad"
                            label="Edad"
                            readonly
                            type="text"
                            disabled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="2">
                        <v-text-field
                            :value="draft.paciente.genero"
                            label="Sexo"
                            readonly
                            type="text"
                            disabled
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field
                            :value="draft.paciente.domicilio.direccion"
                            label="Domicilio"
                            readonly
                            type="text"
                            disabled
                        ></v-text-field>
                    </v-col>
                </template>
            </v-row>
            <v-row>
                <v-col cols="12" md="2">
                    <v-text-field
                        :error-messages="errors.collect('draft.temperatura')"
                        data-vv-name="draft.temperatura"
                        label="Temperatura"
                        type="text"
                        v-model="draft.temperatura"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="isAlim">
                    <v-text-field
                        :error-messages="errors.collect('draft.peso')"
                        data-vv-name="draft.peso"
                        label="Peso"
                        type="text"
                        v-model="draft.peso"
                        key="peso"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2">
                    <v-text-field
                        :error-messages="errors.collect('draft.volumen')"
                        data-vv-name="draft.volumen"
                        label="Volumen"
                        type="text"
                        v-model="draft.volumen"
                        v-validate="'required'"
                        key="volumen"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="isAlim || isAgua">
                    <v-text-field
                        :error-messages="errors.collect('draft.lote')"
                        data-vv-name="draft.lote"
                        label="Lote"
                        type="text"
                        v-model="draft.lote"
                        v-validate="'required'"
                        key="lote"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="isAgua">
                    <v-text-field
                        :error-messages="errors.collect('draft.tamano_lote')"
                        data-vv-name="draft.tamano_lote"
                        label="Tamaño lote"
                        type="text"
                        v-model="draft.tamano_lote"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.recipiente_id')"
                        :items="recipientes"
                        data-vv-name="draft.recipiente_id"
                        item-text="descripcion"
                        item-value="id"
                        label="T. Empaque"
                        v-model="draft.recipiente_id"
                        v-validate="'required'"
                    ></v-autocomplete>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="4" v-if="isAlim">
                    <v-text-field
                        :error-messages="errors.collect('draft.marca_comercial')"
                        data-vv-name="draft.marca_comercial"
                        label="Marca comercial"
                        type="text"
                        v-model="draft.marca_comercial"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="8">
                    <v-text-field
                        :error-messages="errors.collect('draft.descripcion_muestra')"
                        data-vv-name="draft.descripcion_muestra"
                        label="Descripción de la muestra"
                        type="text"
                        v-model="draft.descripcion_muestra"
                        key="descripcion_muestra"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="3">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.cve_ent')"
                        :items="entidades"
                        data-vv-name="draft.cve_ent"
                        item-text="NOM_ENT"
                        item-value="CVE_ENT"
                        label="Entidad"
                        v-model="draft.cve_ent"
                        v-validate="'required'"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" md="3">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.cve_mun')"
                        :items="municipios"
                        data-vv-name="draft.cve_mun"
                        :loading="loadingMunicipios"
                        item-text="NOM_MUN"
                        label="Municipio"
                        v-model="draft.cve_mun"
                        v-validate="'required'"
                        item-value="CVE_MUN"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" md="3">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.cve_loc')"
                        :items="localidades"
                        data-vv-name="draft.cve_loc"
                        :loading="loadingLocalidades"
                        item-text="NOM_LOC"
                        label="Localidad"
                        v-model="draft.cve_loc"
                        v-validate="'required'"
                        item-value="CVE_LOC"
                        key="localidad"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" md="3">
                    <v-text-field
                        :error-messages="errors.collect('draft.numero_acta')"
                        data-vv-name="draft.numero_acta"
                        label="No. Acta"
                        type="text"
                        v-model="draft.numero_acta"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="2" v-if="isAlim">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="open_fecha_caducidad"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="F. Caducidad"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="draft.caducidad"
                                :error-messages="errors.collect('draft.caducidad')"
                                data-vv-name="draft.caducidad"
                                v-validate="'required'"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="open_fecha_caducidad = false"
                            locale="es-419"
                            v-model="draft.caducidad"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="4" v-if="isAlim">
                    <v-text-field
                        :error-messages="errors.collect('draft.envasado_por')"
                        data-vv-name="draft.envasado_por"
                        label="Envasado por"
                        type="text"
                        v-model="draft.envasado_por"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="3">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.paquete')"
                        :items="paquetes"
                        data-vv-name="draft.paquete"
                        item-text="descripcion"
                        item-value="id"
                        label="Tipo análisis"
                        v-model="draft.paquete"
                        v-validate="'required'"
                        return-object
                    >
                        <template v-slot:no-data>
                            <v-list>
                                <v-list-item>No se encontró el paquete</v-list-item>
                            </v-list>
                        </template>
                        <template v-slot:item="data">
                            <v-list>
                                <v-list-item-content>
                                    <v-list-item-title>{{ data.item.descripcion }}</v-list-item-title>
                                    <v-list-item-subtitle>{{`Clave: ${data.item.clave} - Categoría: ${data.item.categoria.descripcion} - Estudios: ${data.item.estudios_count}`}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list>
                        </template>
                    </v-autocomplete>
                </v-col>
                <v-col cols="12" md="3">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.subcategoria_id')"
                        :items="subcategorias"
                        data-vv-name="draft.subcategoria_id"
                        item-text="descripcion"
                        item-value="id"
                        label="Subcategoría"
                        v-model="draft.subcategoria_id"
                        v-validate="'required'"
                    ></v-autocomplete>
                </v-col>
            </v-row>
            <v-row v-if="isAgua">
                <v-col cols="12" md="2">
                    <v-text-field
                        :error-messages="errors.collect('draft.ph')"
                        data-vv-name="draft.ph"
                        label="pH"
                        type="text"
                        v-model="draft.ph"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2">
                    <v-text-field
                        :error-messages="errors.collect('draft.cloro_residual')"
                        data-vv-name="draft.cloro_residual"
                        label="Cloro residual"
                        type="text"
                        v-model="draft.cloro_residual"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-textarea :error-messages="errors.collect('draft.observaciones')"
                                data-vv-name="draft.observaciones"
                                label="Observaciones"
                                v-model="draft.observaciones"
                    ></v-textarea>
                </v-col>
            </v-row>

            <template v-if="draft.paquete">
                <header>ESTUDIOS A LA MUESTRA</header>
                <v-row>
                    <v-col cols="12">
                        <estudios-muestra-table :paquete="draft.paquete"
                                                :populate-with="draft.estudios"
                                                :muestra-id="draft.id"
                                                @update:estudios="updateEstudios"
                        ></estudios-muestra-table>
                    </v-col>
                </v-row>
            </template>
            <v-btn @click="submit"
                   class="mt-3"
                   color="success"
                   :loading="savingMuestra"
                   v-if="!solicitudTerminada"
            >
                Guardar muestra
            </v-btn>
        </v-container>
    </form>
</template>

<script>
    import _ from 'lodash'
    import {mapActions, mapGetters, mapState} from 'vuex';
    import EventBus from '../../../event-bus'

    const Estatus = () => import ('../../Estatus')
    const EstudiosMuestraTable = () => import ('../EstudiosMuestraTable')

    export default {
        components: {
            EstudiosMuestraTable,
            Estatus
        },
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            },
            solicitudId: {
                type: Number,
                required: true,
            },
            muestras: {
                type: Array,
                default: () => ([])
            }
        },
        data() {
            return {
                draft: {
                    id: null,
                    es_subrogado: false,
                    solicitud_analisis_id: null,
                    numero_muestra: null,
                    recibio_id: null,
                    entrego: null,
                    fecha_muestreo: null,
                    marca_comercial: null,
                    descripcion_muestra: null,
                    recipiente_id: null,
                    temperatura: null,
                    peso: null,
                    volumen: null,
                    lote: null,
                    punto_muestreo: null,
                    cve_ent: '23',
                    cve_mun: null,
                    cve_loc: null,
                    nombre_entidad: null,
                    nombre_municipio: null,
                    nombre_localidad: null,
                    numero_acta: null,
                    tipo_muestreo: null,
                    caducidad: null,
                    envasado_por: null,
                    lugar_muestreo: null,
                    ph: null,
                    cloro_residual: null,
                    subcategoria_id: null,
                    paciente: null,
                    paciente_id: null,
                    paquete: null,
                    paquete_id: null,
                    observaciones: null,
                    jurisdiccion: null,
                    tamano_lote: null,
                    fecha_recoleccion: null,
                    estudios: []
                },
                open_fecha_muestreo: false,
                open_hora_muestreo: false,
                open_fecha_caducidad: false,
                loadingMunicipios: false,
                loadingLocalidades: false,
                openFechaRecoleccion: false,
                searchPaciente: null,
                loadingNumeroMuestra: false,
                fecha_muestreo: null,
                hora_muestreo: null,
                disableWatchForEntMunLoc: false,
                savingMuestra: false,
            }
        },
        methods: {
            updateEstudios(estudios) {
                Vue.set(this.draft, 'estudios', estudios)
            },
            setData() {
                this.disableWatchForEntMunLoc = true;

                this.draft = clone(this.populateWith)

                this.fecha_muestreo = moment(this.draft.fecha_muestreo).format('YYYY-MM-DD');
                this.hora_muestreo = moment(this.draft.fecha_muestreo).format('HH:mm');

                this.draft.cve_ent = this.populateWith.cve_ent

                this.fetchMunicipios(this.draft.cve_ent)
                    .then(res => {
                        this.draft.cve_mun = this.populateWith.cve_mun
                        this.fetchLocalidades(this.draft.cve_ent, this.draft.cve_mun)
                            .then(res => {
                                this.draft.cve_loc = this.populateWith.cve_loc
                                this.disableWatchForEntMunLoc = false
                            })
                    })
            },
            async fetchMunicipios(cveEnt) {
                this.loadingMunicipios = true
                this['catalogos/fetchMunicipios'](cveEnt)
                    .then(res => {
                        this.loadingMunicipios = false
                    })
                    .catch(err => {
                        this.loadingMunicipios = false
                    });
            },
            async fetchLocalidades(cve_ent, cve_mun) {
                this.loadingLocalidades = true;
                this['catalogos/fetchLocalidades']({cve_ent, cve_mun})
                    .then(res => {
                        this.loadingLocalidades = false;
                    })
                    .catch(err => {
                        this.loadingLocalidades = false;
                    })
            },
            numeroMuestra() {
                this.loadingNumeroMuestra = true;
                axios.get(route('api.v1.numero.muestra.show'), {
                    params: {
                        year: moment().format('YYYY')
                    }
                })
                    .then(res => {
                        this.draft.numero_muestra = res.data.numero
                        this.loadingNumeroMuestra = false;
                    })
            },
            submit() {
                this.$validator.validateAll()
                    .then(isValid => {
                        if (isValid) {
                            EventBus.$emit('SAVE_MUESTRA_FORM');
                            let payload = {solicitud: this.solicitudId, data: this.draft}
                            this.savingMuestra = true

                            this['sanitaria/updateOrCreateMuestra'](payload)
                                .then(res => {
                                    this.savingMuestra = false
                                    this.$emit('updateMuestra', res)
                                })
                        }
                    })
            },
            editarPaciente() {
            },
            nuevoPaciente() {
            },
            queryPacientes: _.debounce(function (val) {
                this['catalogos/fetchPacientes']({nombreapellidos: val})
            }, 800),
            ...mapActions([
                'sanitaria/agregaMuestra',
                'sanitaria/updateOrCreateMuestra',
                'catalogos/fetchMunicipios',
                'catalogos/fetchLocalidades',
                'catalogos/fetchPacientes',
            ])
        },
        watch: {
            populateWith: {
                handler(val) {
                    if (!val.empty) {
                        this.setData()
                    } else {
                        this.numeroMuestra();
                    }
                },
                deep: true,
                immediate: true
            },
            pantallaSelected(val) {
                this.$validator.reset()
                    .then(res => {
                        this.draft.paciente = null
                    })
            },
            fecha_muestreo(val) {
                this.draft.fecha_muestreo = `${this.fecha_muestreo} ${this.hora_muestreo}`
            },
            hora_muestreo(val) {
                this.draft.fecha_muestreo = `${this.fecha_muestreo} ${this.hora_muestreo}`
            },
            searchPaciente(val) {
                this.queryPacientes(val);
            },
            entidadSelected(val) {
                if (val && !this.disableWatchForEntMunLoc) {
                    this.draft.cve_mun = null;
                    this.draft.cve_loc = null;
                    this.loadingMunicipios = true
                    this['catalogos/fetchMunicipios'](val)
                        .then(res => {
                            this.loadingMunicipios = false
                        })
                        .catch(err => {
                            this.loadingMunicipios = false
                        });
                }
            },
            municipioSelected(val) {
                if (val && !this.disableWatchForEntMunLoc) {
                    this.draft.cve_loc = null;
                    this.loadingLocalidades = true;
                    let cve_ent = this.entidadSelected;
                    this['catalogos/fetchLocalidades']({cve_ent, cve_mun: val})
                        .then(res => {
                            this.loadingLocalidades = false;
                        })
                        .catch(err => {
                            this.loadingLocalidades = false;
                        })
                }
            },
            paquete(val) {
                if (val !== null) {
                    this.draft.paquete_id = val.id
                }
            },
            paciente(val) {
                if (val !== null) {
                    this.draft.paciente_id = val.id
                }
            },
        },
        computed: {
            totalMuestras() {
                return this.muestras.length
            },
            paquete() {
                return this.draft.paquete
            },
            paciente() {
                return this.draft.paciente
            },
            statusMuestra() {
                return {
                    color: {
                        success: this.draft.id === null,
                        info: this.draft.id !== null,
                    },
                    text: this.draft.id === null ? 'NUEVA' : this.draft.status,
                }
            },
            recibio() {
                return this['auth/getUserName'];
            },
            hasPaciente() {
                return this.draft.paciente !== null
            },
            entidadSelected() {
                return this.draft.cve_ent;
            },
            municipioSelected() {
                return this.draft.cve_mun
            },
            isAlim() {
                return this.pantallaSelected === 'ALIM, BEB, JUG'
            },
            isAgua() {
                return this.pantallaSelected === 'CEP, AGUAS AMB Y PUCH'
            },
            isBiol() {
                return this.pantallaSelected === 'MTRS. BIOL. HUMANAS'
            },
            solicitudTerminada() {
                return this.solicitud.terminado
            },
            ...mapState({
                pantallaSelected: state => state.sanitaria.pantallaSelected,
                entidades: state => state.catalogos.entidades,
                municipios: state => state.catalogos.municipios,
                localidades: state => state.catalogos.localidades,
                paquetes: state => state.sanitaria.paquetes,
                recipientes: state => state.sanitaria.recipientes,
                subcategorias: state => state.sanitaria.subcategorias,
                pacientes: state => state.catalogos.pacientes,
                tipos_muestreo: state => state.sanitaria.tipos_muestreo,
                solicitud: state => state.sanitaria.solicitud
            }),
            ...mapGetters([
                'auth/getUserName',
            ])
        }
    }
</script>

<style scoped>

</style>
