<template>
    <form @submit.prevent="submit">
        <v-container>
            <v-row>
                <v-col cols="2">
                    <v-text-field :error-messages="errors.collect('draft.clave')"
                                  data-vv-name="draft.clave"
                                  label="Clave"
                                  type="text"
                                  v-model="draft.clave"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="10">
                    <v-radio-group :error-messages="errors.collect('draft.tipo')"
                                   :mandatory="false"
                                   data-vv-name="draft.tipo"
                                   row
                                   v-model="draft.tipo"
                                   v-validate="'required'"
                    >
                        <v-radio label="INSTITUCIONAL" value="INSTITUCIONAL"></v-radio>
                        <v-radio label="PARTICULAR" value="PARTICULAR"></v-radio>
                    </v-radio-group>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="9">
                    <v-text-field :error-messages="errors.collect('draft.origen')"
                                  data-vv-name="draft.origen"
                                  label="Origen"
                                  type="text"
                                  v-model="draft.origen"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="3">
                    <v-text-field :error-messages="errors.collect('draft.iniciales')"
                                  data-vv-name="draft.iniciales"
                                  label="Iniciales"
                                  type="text"
                                  v-model="draft.iniciales"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="9">
                    <v-text-field :error-messages="errors.collect('draft.razon_social')"
                                  data-vv-name="draft.razon_social"
                                  label="Razón social"
                                  type="text"
                                  v-model="draft.razon_social"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="3">
                    <v-text-field :error-messages="errors.collect('draft.telefono')"
                                  data-vv-name="draft.telefono"
                                  label="Teléfono"
                                  type="text"
                                  v-model="draft.telefono"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <header class="font-weight-bold">DOMICILIO</header>
            <domicilio-form :populate-with="draft.domicilio"></domicilio-form>
            <template v-if="draft.tipo === tipoFlag">
                <header class="font-weight-bold">DIRECTOR</header>
                <director-form :populate-with="draft"></director-form>
            </template>
            <v-row>
                <v-btn :loading="saving"
                       @click="submit"
                       color="success"
                >
                    Guardar
                </v-btn>
            </v-row>
        </v-container>
    </form>
</template>

<script>
    import EventBus from '../../../event-bus'

    const DomicilioForm = () => import('./DomicilioForm')
    const DirectorForm = () => import('./DirectorForm')

    export default {
        name: 'OrigenForm',
        components: {
            DirectorForm,
            DomicilioForm
        },
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                tipoFlag: 'INSTITUCIONAL',
                draft: {
                    id: null,
                    clave: null,
                    iniciales: null,
                    tipo: null,
                    origen: null,
                    razon_social: null,
                    telefono: null,
                    director_nombre: null,
                    director_direccion: null,
                    director_telefono: null,
                    director_email: null,
                    director_cargo: null,
                    director_preposicion: null,
                    director_estado: null,
                    director_municipio: null,
                    domicilio: {
                        direccion: null,
                        codigo_postal: null,
                        cve_ent: null,
                        nombre_entidad: null,
                        cve_mun: null,
                        nombre_municipio: null,
                    },
                    user: {
                        name: null,
                        last_name: null,
                        email: null,
                        password: null,
                    }
                },
                saving: false
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = this.populateWith
            }

            EventBus.$on('SAVING', () => {
                this.saving = true
            })

            EventBus.$on('END_SAVING', () => {
                this.saving = false
            })
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validateAll();
                if (isValid) {
                    this.$emit('save', this.draft)
                }
            }
        },
        watch: {
            origen(val) {
                if (val) {
                    this.draft.iniciales = val.split(' ')
                                              .map(function (el) {
                                                  return el[0]
                                              })
                                              .join('')
                }
            }
        },
        computed: {
            origen() {
                return this.draft.origen
            },
        }
    }
</script>

<style scoped>

</style>
