<template>
    <form @submit.prevent="submit">
        <v-container>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.nombre')"
                                  autofocus
                                  data-vv-name="draft.nombre"
                                  label="Nombre"
                                  type="text"
                                  v-model="draft.nombre"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.apellidos')"
                                  data-vv-name="draft.apellidos"
                                  label="Apellidos"
                                  type="text"
                                  v-model="draft.apellidos"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="openFechaNacimiento"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="Fecha nacimiento"
                                prepend-inner-icon="mdi-calendar"
                                readonly
                                v-model="draft.fecha_nacimiento"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="openFechaNacimiento = false"
                            locale="es-419"
                            v-model="draft.fecha_nacimiento"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="3">
                    <v-text-field disabled
                                  label="Edad"
                                  readonly
                                  type="text"
                                  v-model="draft.edad"
                    ></v-text-field>
                </v-col>
                <v-col>
                    <v-radio-group :error-messages="errors.collect('draft.genero')"
                                   :mandatory="false"
                                   data-vv-name="draft.genero"
                                   row
                                   v-model="draft.genero"
                                   v-validate="'required'"
                    >
                        <template v-for="genero in generos">
                            <v-radio :label="genero" :value="genero"></v-radio>
                        </template>
                    </v-radio-group>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.email')"
                                  data-vv-name="draft.email"
                                  label="Email"
                                  type="email"
                                  v-model="draft.email"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col>
                    <v-text-field :error-messages="errors.collect('draft.telefono')"
                                  data-vv-name="draft.telefono"
                                  label="Teléfono"
                                  type="text"
                                  v-model="draft.telefono"
                                  v-validate="'required'"
                    ></v-text-field>
                </v-col>
            </v-row>
            <header class="font-weight-bold">DOMICILIO</header>
            <v-row>
                <v-col>
                    <domicilio-form :populate-with="draft.domicilio"></domicilio-form>
                </v-col>
            </v-row>
            <v-row>
                <v-btn @click="submit"
                       color="success"
                >
                    Guardar
                </v-btn>
            </v-row>
        </v-container>
    </form>
</template>

<script>
    const DomicilioForm = () => import('./DomicilioForm');

    export default {
        components: {
            DomicilioForm
        },
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                openFechaNacimiento: false,
                generos: ['MASCULINO', 'FEMENINO', 'NO DEFINIDO'],
                draft: {
                    expediente_id: null,
                    nombre: null,
                    apellidos: null,
                    fecha_nacimiento: null,
                    genero: null,
                    telefono: null,
                    email: null,
                    edad: null,
                    domicilio: {
                        direccion: null,
                        codigo_postal: null,
                        cve_ent: null,
                        nombre_entidad: null,
                        cve_mun: null,
                        nombre_municipio: null,
                    }
                }
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = this.populateWith
            }
        },
        methods: {
            submit() {
                this.$emit('save', this.draft)
            }
        },
        computed: {
            fechaNacimiento() {
                return this.draft.fecha_nacimiento
            }
        },
        watch: {
            fechaNacimiento(val) {
                this.draft.edad = moment().diff(val, 'years', false);
            }
        }
    }
</script>

<style scoped>

</style>
