<template>
    <form @submit.prevent="ingresarResultados">
        <v-container class="pa-0" fluid>
            <v-row>
                <v-col class="py-0" cols="8">
                    <v-text-field :error-messages="errors.collect('draft.resultado')"
                                  :label="`Resultado de ${draft.estudio.descripcion} - ${draft.unidad.descripcion}`"
                                  data-vv-name="draft.resultado"
                                  type="text"
                                  prepend-icon="mdi-bacteria-outline"
                                  v-validate="'required'"
                                  v-model="draft.resultados"
                    ></v-text-field>
                </v-col>
                <v-col class="py-0 align-self-center" cols="4">
                    <span class="font-weight-bold black--text">{{ draft.norma }}</span>
                </v-col>
            </v-row>
            <v-row class="align-center">
                <v-col class="py-0" cols="12" md="3">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="openFechaAnalisis"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                :error-messages="errors.collect('draft.fecha_analisis')"
                                data-vv-name="draft.fecha_analisis"
                                label="Fecha análisis"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="draft.fecha_analisis"
                                v-on="on"
                                v-validate="'required'"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="openFechaAnalisis = false"
                            locale="es-419"
                            v-model="draft.fecha_analisis"
                            :min="draft.muestra.solicitud.fecha_recepcion"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col class="py-0" cols="12" md="3">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="openFechaResultado"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                :error-messages="errors.collect('draft.fecha_resultados')"
                                data-vv-name="draft.fecha_resultados"
                                label="Fecha resultado"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="draft.fecha_resultados"
                                v-on="on"
                                v-validate="'required'"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="openFechaResultado = false"
                            locale="es-419"
                            v-model="draft.fecha_resultados"
                            :min="draft.fecha_analisis"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
            </v-row>
            <v-row>
                <v-col class="py-0" cols="12">
                    <v-textarea data-vv-name="draft.observaciones"
                                label="Observaciones"
                                v-model="draft.observaciones"
                    ></v-textarea>
                </v-col>
            </v-row>
            <v-btn :loading="loading"
                   @click="ingresarResultados"
                   color="success"
            >
                Reportar
            </v-btn>
        </v-container>
    </form>
</template>

<script>
    import EventBus from '../../../event-bus'
    import {mapActions} from 'vuex'
    import {Toast} from '../../../mixins/toast'

    export default {
        name: 'ReportarForm',
        mixins: [Toast],
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                loading: false,
                openFechaAnalisis: false,
                openFechaResultado: false,
                draft: {
                    id: null,
                    muestra_sanitaria_id: null,
                    estudio_id: null,
                    unidad_id: null,
                    norma: null,
                    limite_permisible: null,
                    orden_impresion: null,
                    fecha_analisis: null,
                    fecha_resultados: null,
                    resultados: null,
                    observaciones: null,
                    estudio: {},
                    muestra: {},
                    status: {},
                    unidad: {}
                },
            }
        },
        created() {
            EventBus.$on('asignarResultados', formData => {
                this.draft.resultados = formData.resultados
                this.draft.fecha_analisis = formData.fechaAnalisis
                this.draft.fecha_resultados = formData.fechaResultados
                this.draft.observaciones = formData.observaciones
            })

            if (!this.populateWith.empty) {
                this.draft = this.populateWith
            }
        },
        methods: {
            async ingresarResultados() {
                let isValid = await this.$validator.validateAll();

                if (isValid) {
                    this.loading = true
                    let data = this.populateWith
                    try {
                        let result = await axios.patch(route('api.v1.muestras.sanitarias.estudios.reportar', this.populateWith.id), data)
                        this.toastSuccess('Los resultados se guardaron correctamente')
                    } catch (e) {
                        console.log(e)
                        this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                    } finally {
                        this.loading = false
                    }

                }
            },
            ...mapActions([
                'ui/setSnackBar'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
