<template>
    <v-layout class="align-center" wrap>
        <v-flex class="pr-2" md3 xs12>
            <v-text-field :error-messages="errors.collect('form.resultados')"
                          data-vv-name="form.resultados"
                          label="Resultado"
                          prepend-icon="mdi-bacteria-outline"
                          type="text"
                          v-model="form.resultados"
                          v-validate="'required'"
            ></v-text-field>
        </v-flex>
        <v-flex class="pr-2" md2 xs6>
            <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                min-width="290px"
                offset-y
                transition="scale-transition"
                v-model="openFechaAnalisis"
            >
                <template v-slot:activator="{ on }">
                    <v-text-field
                        :error-messages="errors.collect('form.fechaAnalisis')"
                        data-vv-name="form.fechaAnalisis"
                        label="Fecha análisis"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-model="form.fechaAnalisis"
                        v-on="on"
                        v-validate="'required'"
                    ></v-text-field>
                </template>
                <v-date-picker
                    @input="openFechaAnalisis = false"
                    locale="es-419"
                    v-model="form.fechaAnalisis"
                ></v-date-picker>
            </v-menu>
        </v-flex>
        <v-flex class="pr-2" md2 xs6>
            <v-menu
                :close-on-content-click="false"
                :nudge-right="40"
                min-width="290px"
                offset-y
                transition="scale-transition"
                v-model="openFechaResultado"
            >
                <template v-slot:activator="{ on }">
                    <v-text-field
                        :error-messages="errors.collect('form.fechaResultados')"
                        data-vv-name="form.fechaResultados"
                        label="Fecha resultado"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-model="form.fechaResultados"
                        v-on="on"
                        v-validate="'required'"
                    ></v-text-field>
                </template>
                <v-date-picker
                    :min="form.fechaAnalisis"
                    @input="openFechaResultado = false"
                    locale="es-419"
                    v-model="form.fechaResultados"
                ></v-date-picker>
            </v-menu>
        </v-flex>
        <v-flex class="pr-2" md4 xs12>
            <v-text-field :error-messages="errors.collect('form.observaciones')"
                          data-vv-name="form.observaciones"
                          label="Observaciones"
                          type="text"
                          v-model="form.observaciones"
                          v-validate="'required'"
            ></v-text-field>
        </v-flex>
        <v-flex md1 xs12>
            <v-btn @click="submit"
                   block
                   color="success"
            >
                Reportar
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    import EventBus from '../../../event-bus'

    export default {
        name: 'ReportarResultadosGlobalesForm',
        components: {},
        props: {},
        data() {
            return {
                form: {
                    resultados: '',
                    fechaAnalisis: null,
                    fechaResultados: null,
                    observaciones: ''
                },
                openFechaAnalisis: false,
                openFechaResultado: false
            }
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validateAll();

                if (isValid) {
                    EventBus.$emit('asignarResultados', this.form)
                }
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
