<template>
    <form @submit.prevent="submit">
        <v-container fluid>
            <v-row>
                <v-col cols="12" md="2">
                    <v-text-field
                        :error-messages="errors.collect('folio')"
                        data-vv-name="folio"
                        disabled
                        label="Folio"
                        readonly
                        type="text"
                        v-model="draft.folio"
                        v-validate="'required'"
                    ></v-text-field>
                </v-col>
                <v-col cols="12" md="2">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="open_fecha_recepcion"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="Fecha recepcion"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-model="fecha_recepcion"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @input="open_fecha_recepcion = false"
                            locale="es-419"
                            v-model="fecha_recepcion"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="2">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="hora_recepcion"
                        min-width="290px"
                        offset-y
                        ref="menu"
                        transition="scale-transition"
                        v-model="open_hora_recepcion"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                label="Hora recepción"
                                prepend-icon="mdi-clock-outline"
                                readonly
                                v-model="hora_recepcion"
                                v-on="on"
                            ></v-text-field>
                        </template>
                        <v-time-picker
                            @click:minute="$refs.menu.save(hora_recepcion)"
                            format="24hr"
                            v-if="open_hora_recepcion"
                            v-model="hora_recepcion"
                        ></v-time-picker>
                    </v-menu>
                </v-col>
                <v-col cols="12" md="6">
                    <v-select
                        :error-messages="errors.collect('draft.pantalla_recepcion')"
                        :items="pantallas"
                        data-vv-name="draft.pantalla_recepcion"
                        label="Pantalla de recepción"
                        v-model="draft.pantalla_recepcion"
                        v-validate="'required'"
                        :disabled="totalMuestras > 0"
                    ></v-select>

                </v-col>
            </v-row>
            <header>
                <h2>DATOS DEL ORIGEN</h2>
            </header>
            <v-row>
                <v-col cols="4">
                    <v-radio-group :error-messages="errors.collect('tipoOrigenSelected')"
                                   :mandatory="false"
                                   data-vv-name="tipoOrigenSelected"
                                   hide-details
                                   row
                                   v-model="tipoOrigenSelected"
                                   v-validate="'required'"
                    >
                        <v-radio label="INSTITUCIONAL" value="INSTITUCIONAL"></v-radio>
                        <v-radio label="PARTICULAR" value="PARTICULAR"></v-radio>
                    </v-radio-group>
                </v-col>
                <v-col cols="6">
                    <v-checkbox
                        hide-details
                        label="CONVENIO"
                        v-if="tipoOrigenSelected === 'INSTITUCIONAL'"
                        v-model="draft.es_convenio"
                    ></v-checkbox>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="6">
                    <v-autocomplete
                        :error-messages="errors.collect('draft.origen')"
                        :items="origenes"
                        data-vv-name="draft.origen"
                        item-text="origen"
                        item-value="id"
                        label="Origen"
                        return-object
                        v-model="draft.origen"
                        v-validate="'required'"
                    >
                        <template v-slot:append-outer>
                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn @click="openOrigenForm = true"
                                           color="deep-purple"
                                           dark
                                           depressed
                                           fab
                                           v-on="on"
                                           x-small
                                    >
                                        <v-icon :key="'x'"
                                                @click="nuevoOrigen"
                                                v-text="'mdi-plus'"
                                        ></v-icon>
                                    </v-btn>
                                </template>
                                <span>Agregar nuevo origen</span>
                            </v-tooltip>
                        </template>
                    </v-autocomplete>
                </v-col>
                <template v-if="hasOrigen">

                    <v-col cols="12" md="6">
                        <v-text-field
                            disabled
                            label="Dirección"
                            readonly
                            type="text"
                            v-model="draft.origen.domicilio.direccion"
                        ></v-text-field>
                    </v-col>
                    <template v-if="tipoOrigenSelected === 'INSTITUCIONAL'">
                        <v-col cols="12" md="6">
                            <v-text-field
                                disabled
                                label="Director"
                                readonly
                                type="text"
                                v-model="draft.origen.director_nombre"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                disabled
                                label="Municipio"
                                type="text"
                                v-model="draft.origen.director_municipio"
                            ></v-text-field>
                        </v-col>
                    </template>
                    <template v-else>
                        <v-col cols="12" md="6">
                            <v-text-field
                                disabled
                                label="Razón social"
                                type="text"
                                v-model="draft.origen.razon_social"
                            ></v-text-field>
                        </v-col>
                    </template>
                </template>
            </v-row>
            <v-btn class="mt-3 mr-3"
                   @click="submit"
                   color="success"
                   v-if="!isTerminado"
                   :loading="saving"
            >
                Guardar solicitud
            </v-btn>
            <v-btn class="mt-3"
                   color="primary"
                   v-if="totalMuestras>0 && !isTerminado"
                   :loading="saving"
                   @click="terminarFolio"
            >
                Terminar folio
            </v-btn>

            <v-row justify="center">
                <v-dialog persistent
                          v-model="openOrigenForm"
                          width="850"
                >
                    <v-card :loading="savingOrigen">
                        <v-card-title>
                            <span class="headline">Origen</span>
                            <v-spacer></v-spacer>
                            <v-btn @click="openOrigenForm = false" color="blue darken-1" text>Cerrar</v-btn>
                        </v-card-title>
                        <v-card-text>
                            <origen-form @save="saveOrigen"></origen-form>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </form>
</template>

<script>
    import EventBus from '../../../event-bus'
    import {Toast} from '../../../mixins/toast'
    import {mapActions, mapGetters, mapState} from 'vuex'

    const OrigenForm = () => import('./OrigenForm')

    export default {
        name: 'SolicitudForm',
        components: {OrigenForm},
        mixins: [Toast],
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            },
        },
        data() {
            return {
                draft: {
                    id: null,
                    year: null,
                    numero: null,
                    folio: null,
                    fecha_recepcion: null,
                    origen: null,
                    origen_id: null,
                    pantalla_recepcion: null,
                    terminado: false,
                    muestras: [],
                    estatus: 'PENDIENTE',
                    es_convenio: false,
                },
                origenes: [],
                fecha_recepcion: moment().format('YYYY-MM-DD'),
                hora_recepcion: moment().format('HH:mm'),
                open_fecha_recepcion: false,
                open_hora_recepcion: false,
                tipoOrigenSelected: null,
                saving: false,
                openOrigenForm: false,
                savingOrigen: false
            }
        },
        created() {
            EventBus.$on('ADD_MUESTRA', (data) => {
                this.draft.muestras.push(data)
            })
        },
        mounted() {
            if (this.populateWith.empty) {
                this.draft.fecha_recepcion = `${this.fecha_recepcion} ${this.hora_recepcion}`
                this.draft.folio = `${moment().format('YY')}${moment().format('MM')}${moment().format('DD')}${moment().format('HH')}${moment().format('mm')}${moment().format('ss')}`
                this.draft.year = moment().format('YYYY')
            } else {
                this.draft = clone(this.populateWith)
                this.fecha_recepcion = moment(this.draft.fecha_recepcion).format('YYYY-MM-DD')
                this.hora_recepcion = moment(this.draft.fecha_recepcion).format('HH:MM')
                this.setTipoOrigen()
                    .then(res => {
                        Vue.set(this.draft, 'origen', this.populateWith.origen)
                    })
            }
        },
        methods: {
            async saveOrigen(draft) {
                try {
                    this.savingOrigen = true
                    await this['sanitaria/storeOrigen'](draft)
                    this.toastSuccess('El origen se guardó correctamente')
                    this.openOrigenForm = false
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos, algo ha salido mal intenta de nuevo')
                } finally {
                    this.savingOrigen = false
                }
            },
            terminarFolio() {
                this.saving = true
                this['sanitaria/terminarFolio'](this.draft.id)
                    .then(res => {
                        this.saving = false
                        this.draft.terminado = true
                        this['ui/setSnackBar']({text: 'El folio se terminó correctamente', color: 'success', show: true})
                    })
                    .catch(reason => {
                        this.saving = false
                        this['ui/setSnackBar']({text: 'Lo sentimos algo ha salido mal, intente de nuevo', color: 'error', show: true})
                    })
            },
            submit() {
                this.$validator.validate()
                    .then(isValid => {
                        if (isValid) {
                            this.saving = true
                            this['sanitaria/updateOrCreateSolicitud'](this.draft)
                                .then(res => {
                                    this.saving = false
                                    this.$emit('submited')
                                })
                                .catch(err => {
                                    console.log(err.response)
                                    if (err.response.status === 406) {
                                        this.toastError('No puedes crear otro folio si tienes un folio sin finalizar.')
                                    }
                                    this.saving = false
                                })
                        }
                    })
            },
            editarOrigen() {
            },
            nuevoOrigen() {
            },
            async setTipoOrigen(origen) {
                this.tipoOrigenSelected = this.draft.origen.tipo
            },
            ...mapActions([
                'sanitaria/setPantallaRecepcion',
                'sanitaria/updateOrCreateSolicitud',
                'sanitaria/terminarFolio',
                'sanitaria/storeOrigen',
                'ui/setSnackBar'
            ])
        },
        watch: {
            origen(val) {
                if (val !== null) {
                    this.draft.origen_id = val.id
                }
            },
            fecha_recepcion(val) {
                this.draft.fecha_recepcion = `${this.fecha_recepcion} ${this.hora_recepcion}`
            },
            hora_recepcion(val) {
                this.draft.fecha_recepcion = `${this.fecha_recepcion} ${this.hora_recepcion}`
            },
            tipoOrigenSelected(val) {
                this.draft.origen = null
                this.origenes = this['sanitaria/getOrigenesByTipo'](val);
            },
            pantallaSelected(val) {
                this['sanitaria/setPantallaRecepcion'](val)
            }
        },
        computed: {
            origen() {
                return this.draft.origen;
            },
            isTerminado() {
                return this.draft.terminado
            },
            totalMuestras() {
                return this.draft.muestras.length;
            },
            pantallaSelected() {
                return this.draft.pantalla_recepcion
            },
            hasOrigen() {
                return this.draft.origen !== null;
            },
            ...mapState({
                pantallas: state => state.sanitaria.pantallas,
            }),
            ...mapGetters([
                'sanitaria/getOrigenesByTipo'
            ])
        }
    }
</script>

<style scoped>

</style>
