<template>
</template>

<script>
    export default {
        name: 'Dashboard',
        components: {},
        props: {},
        data() {
            return {}
        },
        methods: {},
        watch: {},
        computed: {}
    }
</script>

<style scoped>

</style>
