<template>
    <v-card>
        <v-form v-model="valid" ref="form_docs" @submit.prevent>
            <v-toolbar dark color="teal">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>EVIDENCIAS</v-toolbar-title>
                <div class="flex-grow-1"></div>
            </v-toolbar>
        </v-form>

        <v-spacer></v-spacer>
        <v-container grid-list-md pa-0>
            <v-data-table
                :headers="headers"
                :items="items"
                class="elevation-1"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Acciones</v-toolbar-title>
                        <v-divider
                            class="mx-2"
                            inset
                            vertical>
                        </v-divider>
                        <div class="flex-grow-1"></div>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Filtrar"
                            single-line
                            hide-details
                        ></v-text-field>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                </template>
                <v-spacer></v-spacer>
                <template v-slot:item.action="{ item }">
                    <v-file-input
                        id="files"
                        label="Cargar archivo"
                        v-model="item.files"
                        outlined dense
                        chips
                        show-size counter multiple
                        ref="files"
                        @change="handleFilesUpload()"
                    ></v-file-input>
                    <v-btn @click="subirArchivos(item)" text icon color="pink">
                        <v-icon>mdi-upload</v-icon>
                    </v-btn>

                </template>
                <template v-slot:item.evidencias="{ item }" v-if="item.files">
                    <v-icon
                        small
                        class="mr-2"
                    >
                        mdi-file
                    </v-icon>
                    Archivos ({{ item.files.length }})

                </template>


                <template v-slot:no-data>
                    <!--<v-btn color="primary" @click="initialize">Reset</v-btn>-->
                </template>
            </v-data-table>
        </v-container>
    </v-card>
</template>

<script>
    import Api from '@/router/api/calidad/no_conformidades.js'
    import EventBus from '@/event-bus.js'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'Form',

        data() {
            return {
                headers: [
                    // {text: '#', value: 'id'},
                    {text: 'Acciones', value: 'acciones'},
                    {text: 'Fecha acciones', value: 'fecha_acciones'},
                    {text: 'Observaciones', value: 'observaciones'},
                    // {text: 'Evidencias', value: 'evidencias'},
                    {text: 'Opciones', value: 'action', sortable: false},
                ],
                items: [],
                item: {},
                search: '',
                info: true,
                file: null,
                files: [],
                defaults: {},
                valid: false,
                menu_fecha: false,
                menu_fecha_acciones: false,
                menu_fecha_cierre: false,
                areas: [],
                clasificaciones: [],
                fuentes: [],
                loading: false,
                validating: false,
                editedIndex: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: '',
                itemDefault: {
                    clave: '',
                    nombre: '',
                },
                resoluciones: ['EFICAZ', 'INEFICAZ'],
            }
        },
        async created() {
            EventBus.$on('CLEAR_FORM_DOCS', this.resetFormDocs);
            this.loading = true;
            Api.getSources()
                .then(({data}) => {
                    this.clasificaciones = data.clasificaciones
                    this.fuentes = data.fuentes
                    this.areas = data.areas
                })
                .catch(error => {
                    this.notify('No se pudo cargar [sources]', 'error')
                }).finally(() => {
                this.loading = false;
            })
            this.items = this.accionesNc

        },
        methods: {
            handleFilesUpload(){
                this.files = this.$refs.files.files;
            },
            subirArchivos(item) {
                console.log('Subiendo')
                let formData = new FormData();
                formData.append('evidencia', item.id)
                for( var i = 0; i < this.files.length; i++ ){
                    let file = this.files[i];

                    formData.append('files[' + i + ']', file);
                }

                Api.subirEvidencias(formData)
                    .then(({data}) => {
                        console.log(data);
                        this.notify('El elemento fue registrado correctamente',
                            'success')
                    })
                    .catch(response => {
                        this.notify('No se ha podido registrar', 'error')
                        console.log(response);
                    }).finally(() => {
                    this.loading = false
                    // this.close()
                })
            },
            close() {
                EventBus.$emit('CLOSE_DIALOG_EVIDENCIAS');
                setTimeout(() => {
                    this.resetFormDocs()
                    this.editedIndex = -1
                }, 500)
            },
            async validate() {
                if (this.$refs.form_docs.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'

                    this.item.acciones = this.accionesNc
                    this.$emit('submit', this.item)
                }
            },
            resetFormDocs() {
                this.info = true
                if (this.$refs.form_docs !== undefined) {
                    this['calidad/fetchAccionesNc']([]);
                    this.$refs.form_docs.reset();
                }
                this.loading = false
            },

            notify(message, color) {
                this.message = message
                this.color = color
                this.show = true
            },

            ...mapActions([
                'calidad/fetchAccionesNc'
            ]),
            ...mapGetters([
                'calidad/getAccionesNc',
            ])
        },
        watch: {

            dialogEvidencias(val) {
                val || this.close()
            },
            items(val) {
                this['calidad/fetchAccionesNc'](val);
            },
            accionesNc(val) {
                this.items = val;
            }
        },

        computed: {

            accionesNc() {
                return this['calidad/getAccionesNc']()
                /*if (!this.populateWith.empty) {
                    //this['calidad/fetchAccionesNc'](this.populateWith.acciones);
                    //this.$emit('SET_ACCIONES', this.populateWith.acciones)
                    //return true;
                    return this.populateWith.acciones
                }*/

            },
        }
    }
</script>

<style scoped>

</style>
