<template>
    <v-card>
        <v-form v-model="valid" ref="form_docs" @submit.prevent>
            <v-toolbar dark color="teal">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DE LA NO CONFORMIDAD</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                        dark text
                        :disabled="!valid"
                        @click="validate"
                        type="submit"
                        :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-layout wrap>
                        <v-col cols="12" sm="3">
                            <v-text-field v-model="item.clave"
                                          label="Clave (si aplica)">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="5">
                            <v-text-field v-model="item.hallazgo"
                                          required
                                          :rules="[v => !!v || 'Hallazgo/Recomendación es requerido']"
                                          label="* Hallazgo/Recomendación">
                            </v-text-field>
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.clasificacion_id"
                                :items="clasificaciones"
                                label="Clasificación"
                                hint="Selecciona una opción"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.fuente_id"
                                :items="fuentes"
                                label="Fuente"
                                hint="Selecciona una opción"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.departamento_id"
                                :items="areas"
                                label="Departamento"
                                hint="Selecciona una opción"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.area_id"
                                :items="areas"
                                label="Área"
                                hint="Selecciona una opción"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-menu
                                v-model="menu_fecha"
                                :close-on-content-click="true"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="item.fecha_deteccion"
                                        label="Fecha detección"
                                        prepend-icon="mdi-calendar-range"
                                        readonly
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="item.fecha_deteccion"
                                               @input="menu_fecha = false"></v-date-picker>
                            </v-menu>

                        </v-col>
                        <!--
                        <v-col cols="12" sm="4">
                            <v-text-field v-model="item.acciones"
                                          label="Acciones">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-menu
                                v-model="menu_fecha_acciones"
                                :close-on-content-click="true"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="item.fecha_acciones"
                                        label="Fecha de acciones"
                                        prepend-icon="mdi-calendar-range"
                                        readonly
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="item.fecha_acciones"
                                               @input="menu_fecha_acciones = false"></v-date-picker>
                            </v-menu>

                        </v-col>


                        <v-col cols="12" sm="4">
                            <v-text-field v-model="item.observaciones"
                                          label="Observaciones">
                            </v-text-field>
                        </v-col>
                        -->

                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.resolucion"
                                :items="resoluciones"
                                label="Resolución"
                                hint="Selecciona una opción"
                            ></v-select>
                        </v-col>

                        <v-col cols="12" sm="4">
                            <v-menu
                                v-model="menu_fecha_cierre"
                                :close-on-content-click="true"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-model="item.fecha_cierre"
                                        label="Fecha de cierre"
                                        prepend-icon="mdi-calendar-range"
                                        readonly
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker v-model="item.fecha_cierre"
                                               @input="menu_fecha_cierre = false"></v-date-picker>
                            </v-menu>
                        </v-col>

                        <!--
                        <v-col
                            class="text-center mx-auto"
                            cols="4"
                        >
                            <v-file-input
                                show-size
                                id="file"
                                label="Cargar archivo"
                                v-model="file"
                                outlined dense
                                ref="file"
                            ></v-file-input>
                        </v-col>
                        <v-row align="center" justify="center" v-if="item.file">
                            <v-card
                                elevation="5"
                                class="mx-auto"
                                :style="'margin-bottom:80px;'"
                                color="#F9F9F9"
                                max-width="500"
                            >
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-list-item-title class="">{{ item.file.filename }}</v-list-item-title>
                                        <v-list-item-subtitle>clave documento: {{ item.clave }}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>

                                <v-card-text class="py-0">
                                    <v-row align="center">
                                        <v-col class="" cols="5">
                                            {{ parseFloat(item.file.size) | prettyBytes }}
                                        </v-col>
                                        <v-col cols="7">
                                            <v-icon>mdi-file-pdf-outline</v-icon>
                                            {{ item.file.mime }}
                                        </v-col>
                                    </v-row>
                                </v-card-text>

                                <v-list-item dense>
                                    <v-list-item-icon>
                                        <v-icon>mdi-file-tree</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-subtitle>{{ item.file.folder }}</v-list-item-subtitle>
                                </v-list-item>

                                <v-divider></v-divider>
                                <v-card-actions>

                                    <v-btn text tile :href="'/file/'+item.file.id" target="_blank">
                                        <v-icon left>mdi-cloud-download</v-icon>
                                        Descargar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-row>
                        -->
                    </v-layout>

                    <v-snackbar
                        v-model="show"
                        :color="color"
                        :timeout="3000"
                        :bottom="true"
                        :right="true"
                    >
                        {{ message }}
                        <v-icon
                            dark
                            text
                            @click="show = false"
                        >
                            mdi-close
                        </v-icon>
                    </v-snackbar>
                </v-container>
            </v-card-text>
        </v-form>


        <v-spacer></v-spacer>
        <v-container grid-list-md pa-0>
            <Acciones/>
        </v-container>
        <v-spacer></v-spacer>
        <v-footer

            class="font-weight-thin pa-0"
        >
            <v-col
                class="text-center mx-auto"
                cols="4"
            >
                <v-alert
                    class="overline ma-0"
                    dense
                    outlined

                    type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>
    import Api from '@/router/api/calidad/no_conformidades.js'
    import EventBus from '@/event-bus.js'
    import Acciones from '@/components/Calidad/Datatables/Acciones'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'Form',
        components: {
            Acciones
        },
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                info: true,
                file: null,
                defaults: {},
                valid: false,
                menu_fecha: false,
                menu_fecha_acciones: false,
                menu_fecha_cierre: false,
                areas: [],
                clasificaciones: [],
                fuentes: [],
                loading: false,
                validating: false,
                editedIndex: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: '',
                itemDefault: {
                    clave: '',
                    nombre: '',
                },
                resoluciones: ['EFICAZ', 'INEFICAZ'],
            }
        },
        async created() {
            EventBus.$on('CLEAR_FORM_DOCS', this.resetFormDocs);
            this.loading = true;
            Api.getSources()
                .then(({data}) => {
                    this.clasificaciones = data.clasificaciones
                    this.fuentes = data.fuentes
                    this.areas = data.areas
                })
                .catch(error => {
                    this.notify('No se pudo cargar [sources]', 'error')
                }).finally(() => {
                this.loading = false;
            })

        },
        methods: {
            close() {
                EventBus.$emit('CLOSE_DIALOG_DOCS');
                setTimeout(() => {
                    this.resetFormDocs()
                    this.editedIndex = -1
                }, 500)
            },
            async validate() {
                if (this.$refs.form_docs.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'

                    this.item.acciones = this.accionesNc
                    this.$emit('submit', this.item)
                }
            },
            resetFormDocs() {
                this.info = true
                if(this.$refs.form_docs !== undefined){
                    this['calidad/fetchAccionesNc']([]);
                    this.$refs.form_docs.reset();
                }
                this.loading = false
            },
            ...mapActions([
                'calidad/fetchAccionesNc'
            ]),
            ...mapGetters([
                'calidad/getAccionesNc',
            ])
        },
        watch: {
            accionesNc(val){
                this['calidad/fetchAccionesNc'](val);
            },
            /*
            'populateWith.acciones'(newVal, oldVal){
                if(newVal !== 0 && newVal !== oldVal){
                        this['calidad/fetchAccionesNc'](newVal);
                    }

            }*/
        },
        computed: {
            item() {
                if (!this.populateWith.empty) {
                    return clone(this.populateWith)
                }
                return this.itemDefault
            },
            accionesNc() {
                return this['calidad/getAccionesNc']()
                /*if (!this.populateWith.empty) {
                    //this['calidad/fetchAccionesNc'](this.populateWith.acciones);
                    //this.$emit('SET_ACCIONES', this.populateWith.acciones)
                    //return true;
                    return this.populateWith.acciones
                }*/

            },
        }
    }
</script>

<style scoped>

</style>
