<template>
    <v-card>
        <v-form v-model="valid" ref="form" @submit.prevent>
            <v-toolbar dark color="teal">
                <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>INFORMACIÓN DEL REGISTRO</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-toolbar-items>
                    <v-btn
                        dark text
                        :disabled="!valid"
                        @click="validate"
                        type="submit"
                        :loading="loading"
                    >Guardar
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md pa-0>
                    <v-row>
                        <v-col
                            class="text-center mx-auto"
                            cols="6"
                        >
                            <v-alert
                                v-model="info"
                                border="top"
                                colored-border
                                type="info"
                                dismissible
                                elevation="2"
                            >
                                Completa la información solicitada, puedes adjuntar un archivo asociado al registro
                            </v-alert>
                        </v-col>
                    </v-row>
                    <v-layout wrap>
                        <v-flex xs12 sm4 md4>
                            <v-text-field v-model="item.clave"
                                          required
                                          :rules="[v => !!v || 'Clave es requerida']"
                                          label="* Clave del registro">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4 md4>
                            <v-text-field v-model="item.nombre"
                                          required
                                          :rules="[v => !!v || 'Nombre es requerido']"
                                          label="* Nombre del registro">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4 md4>
                            <v-text-field v-model="item.version"

                                          label="Versión">
                            </v-text-field>
                        </v-flex>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.medio_soporte"
                                :items="medios_soporte"
                                label="Medio de soporte"
                                multiple
                                chips
                                hint="Selecciona una o varias opciones"
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.medio_proteccion"
                                :items="medios_proteccion"
                                label="Medio de protección"
                                multiple
                                chips
                                hint="Selecciona una o varias opciones"
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.medio_almacenamiento"
                                :items="medios_almacenamiento"
                                label="Medio de almacenamiento"
                                multiple
                                chips
                                hint="Selecciona una o varias opciones"
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.medio_recuperacion"
                                :items="medios_recuperacion"
                                label="Medio de recuperación"
                                multiple
                                chips
                                hint="Selecciona una o varias opciones"
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-select
                                v-model="item.medio_disposicion"
                                :items="medios_disposicion"
                                label="Medio de disposicón"
                                multiple
                                chips
                                hint="Selecciona una o varias opciones"
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field :style="'margin-top:14px;'" v-model="item.observaciones"
                                          label="Observaciones adicionales">
                            </v-text-field>
                        </v-col>
                        <v-flex xs12 sm4 md4>
                            <v-text-field v-model="item.responsable"
                                          required
                                          :rules="[v => !!v || 'Responsable es requerida']"
                                          label="* Responsable de custodio">
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4 md4>
                            <v-text-field v-model="item.tiempo_retencion"
                                          required
                                          :rules="[v => !!v || 'Tiempo de retención es requerida']"
                                          label="* Tiempo de retención">
                            </v-text-field>
                        </v-flex>
                        <v-col
                            class="text-center mx-auto"
                            cols="4"
                        >
                            <v-file-input
                                show-size
                                id="file"
                                label="Cargar archivo"
                                v-model="file"
                                outlined dense
                                ref="file"
                            ></v-file-input>
                        </v-col>
                        <v-row align="center" justify="center" v-if="item.file">
                            <v-card
                                elevation="5"
                                class="mx-auto"
                                :style="'margin-bottom:80px;'"
                                color="#F9F9F9"
                                max-width="500"
                            >
                                <v-list-item two-line>
                                    <v-list-item-content>
                                        <v-list-item-title class="">{{ item.file.filename }}</v-list-item-title>
                                        <v-list-item-subtitle>clave registro: {{ item.clave }}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>

                                <v-card-text class="py-0">
                                    <v-row align="center">
                                        <v-col class="" cols="5">
                                            {{ parseFloat(item.file.size) | prettyBytes }}
                                        </v-col>
                                        <v-col cols="7">
                                            <v-icon>mdi-file-pdf-outline</v-icon>
                                            {{ item.file.mime }}
                                        </v-col>
                                    </v-row>
                                </v-card-text>

                                <v-list-item dense>
                                    <v-list-item-icon>
                                        <v-icon>mdi-file-tree</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-subtitle>{{ item.file.folder }} </v-list-item-subtitle>
                                </v-list-item>

                                <v-divider></v-divider>
                                <v-card-actions>

                                    <v-btn text tile :href="'/file/'+item.file.id" target="_blank">
                                        <v-icon left>mdi-cloud-download</v-icon>
                                        Descargar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-row>
                    </v-layout>

                    <v-snackbar
                        v-model="show"
                        :color="color"
                        :timeout="3000"
                        :bottom="true"
                        :right="true"
                    >
                        {{ message }}
                        <v-icon
                            dark
                            text
                            @click="show = false"
                        >
                            mdi-close
                        </v-icon>
                    </v-snackbar>
                </v-container>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
            </v-card-text>
        </v-form>

        <v-footer
            absolute
            class="font-weight-thin"
        >
            <v-col
                class="text-center mx-auto"
                cols="4"
            >
                <v-alert
                    class="overline ma-0"
                    dense
                    outlined

                    type="error"
                >
                    Campos marcados con <strong>*</strong> son obligatorios
                </v-alert>
            </v-col>
        </v-footer>
    </v-card>
</template>

<script>
    import EventBus from '@/event-bus.js'

    export default {
        name: 'RegistrosForm',
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                info: true,
                file: null,
                defaults: {},
                valid: false,
                loading: false,
                validating: false,
                editedIndex: -1,
                editedId: -1,
                /* Notification Settings */
                show: false,
                message: '',
                color: '',
                itemDefault: {
                    clave: '',
                    nombre: '',
                },
                medios_soporte: ['IMPRESO', 'ELECTRÓNICO', 'FÍSICO'],
                medios_proteccion: ['MICA DE ACRÍLICO', 'FOLDER', 'CARPETA', 'ENGARGOLADO', 'DISCO COMPACTO', 'DVD', 'PROTECCIÓN CONTRA HUMEDAD', 'USUARIO Y CONTRASEÑA'],
                medios_almacenamiento: ['ARCHIVERO', 'GAVETA', 'MUEBLE', 'CPU', 'DISCO DURO', 'SERVIDOR DE BASE DE DATOS'],
                medios_recuperacion: ['CLAVE', 'NO DE FOLIO', 'FECHA'],
                medios_disposicion: ['ARCHIVO MUERTO', 'DESTRUCCIÓN', 'RECICLADO']
            }
        },
        async created() {
            EventBus.$on('CLEAR_FORM', this.resetForm);
        },
        methods: {
            close() {
                EventBus.$emit('CLOSE_DIALOG');
                setTimeout(() => {
                    this.resetForm()
                    this.editedIndex = -1
                }, 500)
            },
            async validate() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    this.show = true
                    this.color = ''
                    this.message = 'Procesando...'

                    // Crear el formData
                    let formData = new FormData();
                    for (let key in this.item) {
                        formData.append(key, this.item[key])
                    }
                    formData.append('file_upload', this.file);
                    console.log(formData);
                    this.$emit('submit', formData)
                }
            },
             resetForm() {
                this.info = true
                 if(this.$refs.form !== undefined)
                     this.$refs.form.reset();
                //this.$refs.form.reset();
                this.loading = false
            },
        },
        watch: {},
        computed: {
            item() {
                if (!this.populateWith.empty) {
                    return clone(this.populateWith)
                }
                return this.itemDefault
            }
        }
    }
</script>

<style scoped>

</style>
