<template>
    <div>
        <v-card>
            <v-sheet
                class="v-sheet--offset mx-auto pa-5"
                color="green"
                elevation="12"
                max-width="calc(100% - 32px)"
            >
                <line-chart :chart-data="chartData.data" :height="100" :options="chartData.options"/>
            </v-sheet>
            <v-card-text class="pt-0">
                <v-autocomplete :items="estudios"
                                label="Estudio"
                                v-model="selectedEstudio"
                />
            </v-card-text>
            <v-card-text class="pt-0">
                <div class="title font-weight-bold" style="font-size: 3rem">
                    <font-awesome-icon icon="microscope"/>
                    Estudios
                </div>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import EventBus from '../../event-bus'
    import {Utils} from '../../mixins/mixins'

    const LineChart = () => import('../charts/LineChart')

    export default {
        name: 'EstudiosLineChart',
        mixins: [Utils],
        components: {
            LineChart
        },
        props: {},
        data() {
            return {
                estudios: [
                    '*% ALCOHOL VOLUMEN',
                    'ACIDEZ (ÁCIDO LÁCTICO)',
                    'ALCOHOLES SUPERIORES',
                    'ALDEHÍDOS',
                    'ALDRIN Y DIELDRIN',
                    'AMEBA DE VIDA LIBRE',
                    'BUSQUEDA PATOGENOS',
                    'CLENBUTEROL',
                    'CLORDANO (TOTAL Ó ISÓMEROS)',
                    'CLORO RESIDUAL',
                    '*CLORUROS',
                    '*COLIFORMES FECALES',
                    '*COLIFORMES TOTALES',
                    'COLINESTERASA',
                    '*COLOR',
                    '*CONDUCTIVIDAD',
                    'DDT (TOTAL Ó ISÓMEROS)',
                    'DENSIDAD',
                    'DERIVADOS CLORADOS',
                    '*DUREZA TOTAL',
                    '*ESCHERICHIA COLI',
                    '*ENTEROCOCO',
                    'ESTERILIDAD COMERCIAL',
                    'EXANTEMA SUBITO',
                    '*FLUORUROS',
                    'FORMALDEHIDO',
                    'FURFURAL',
                    'GAMMA-HCH (LINDANO)',
                    '*GNATHOSTOMA',
                    'HEPTACLORO Y EPÓXIDO DE HEPTACLORO',
                    'HEXACLOROBENCENO',
                    '*HONGOS',
                    'HUMEDAD',
                    'DETERMINACIÓN POR PLAGUICIDAS',
                    'INVESTIGACIÓN DE VIBRIO CHOLERAE',
                    '*LEVADURAS',
                    'LISTERIA MONOCYTOGENES',
                    'MATERIA EXTRAÑA',
                    'METANOL',
                    'METOXICLORO',
                    'NITRATOS',
                    '*NITRITOS',
                    'NITRÓGENO AMONIACAL',
                    'NO ESPECIFICA',
                    'OXIDANTES',
                    '*PH',
                    'PLOMO EN SANGRE',
                    'SALES CUATERNARIAS DE AMONIO',
                    'SÓLIDOS SEDIMENTABLES',
                    'SÓLIDOS TOTALES',
                    'SULFATOS',
                    '*TURBIEDAD',
                    '*YODATOS',
                    'YODO',
                    '*MESOFILICOS AEROBIOS',
                    '*MESOFILICOS AEROBIOS',
                    '*MESOFILICOS ANAEROBIOS',
                    '*SALMONELLA',
                    '*STAPHYLOCOCCUS AUREUS',
                    '*TERMOFILICOS AEROBIOS',
                    '*TERMOFILICOS ANAEROBIOS',
                    '*VIBRIO PARAHAEMOLYTICUS',
                    '*VIBRIO CHOLERAE',
                    'FITOPLACTON',
                    '*COLIFORMES TOTALES',
                    '*FLÚOR',
                    '*GNATOSTOMA',
                    'LEGIONELLA',
                    '*GRADO ALCOHÓLICO',
                    '*HISTAMINA',
                    'BRUCELLA',
                    '*INHIBIDORES BACTERIANOS',
                    '*ENTEROTOXINA ESTAFILOCOCICA',
                    'LEGIONELLA',
                    '*CIGUATOXINA',

                ],
                selectedEstudio: null,
                chartData: {},
                chartType: 'week'
            }
        },
        beforeCreate() {
            Samples.srand(6)
        },
        mounted() {
            EventBus.$on('CHART_TYPE_CHANGE', (type) => {
                this.chartType = type
                this.setEstudiosChart()
            })
            this.selectedEstudio = '*% ALCOHOL VOLUMEN'
        },
        methods: {
            setEstudiosChart() {
                this.chartData = Object.assign({}, {
                    data: {
                        labels: this.chartType === 'week' ? Samples.days : Samples.months,
                        datasets: [
                            {
                                borderColor: 'rgba(255, 255, 255, 0.9)',
                                data: this.chartType === 'week' ? [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ] : [
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                    this.randomScaling(),
                                ],
                                fill: false
                            },
                        ]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            display: false,
                            position: 'bottom',
                            labels: {
                                fontColor: 'white',
                                fontSize: 16
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    fontColor: 'white',
                                    fontSize: 16,
                                }
                            }]
                        }
                    }
                })
            }
        },
        computed: {},
        watch: {
            selectedEstudio() {
                this.setEstudiosChart()
            }
        }
    }
</script>

<style scoped>

</style>
