<template>
	<v-container grid-list-xl >
		<v-layout wrap>
			<div>
				<ListDiagnosticoTable :dataComp="dataComp" ></ListDiagnosticoTable>
			</div>
		</v-layout>
	</v-container>
</template>

<script>
	import {Toast,mapActions,ListDiagnosticoTable} from '../../../components/epidemiologia/components';
    export default {
        name: 'Diagnosticos',
        components: {
        	ListDiagnosticoTable
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                dataComp:{
                    disabled:false,
                    items:[]
                }
            }
        },
        created(){
        },
        methods: {
        	...mapActions([
                'ui/setSnackBar'
            ]),
        	show(){
        		// this.toastError('Error al cargar los datos')
        	}
        },
        watch: {},
        computed: {
        }
    }
</script>