<template>
    <v-container grid-list-xl >
        <v-layout wrap>
            <v-flex md12 sm12 lg12>
                <v-data-table
                    :headers="headers"
                    :items="muestras"
                    :search="search"
                    :items-per-page="100"
                    hide-default-footer
                >
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Muestras</v-toolbar-title>
                            <v-divider
                                class="mx-2"
                                inset
                                vertical>
                            </v-divider>
                            <v-text-field
                              v-model="search"
                              label="Buscar"
                              single-line
                              hide-details
                            ></v-text-field>
                            <div class="flex-grow-1"></div>
                            <v-btn color="success" v-on:click.prevetn="addDialog = true;modalTittle='Alta de Muestra';editModal=false;cleanForm()">Nueva Muestra</v-btn>
                            <v-dialog v-model="addDialog" max-width="500px" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                     <v-form @submit.prevent="submit">
                                        <v-toolbar dark color="primary">
                                          <v-btn icon dark @click="addDialog = false">
                                            <v-icon>mdi-close</v-icon>
                                          </v-btn>
                                          <v-toolbar-title>{{modalTittle}}</v-toolbar-title>
                                          <div class="flex-grow-1"></div>
                                          <v-toolbar-items>
                                            <v-btn v-if="!editModal"  text @click="saveMuestra">Guardar</v-btn>
                                            <v-btn v-else  text @click="saveEdit">Guardar</v-btn>
                                          </v-toolbar-items>
                                        </v-toolbar>
                                         <v-card-text class="justify-lg-space-around">
                                            <v-container grid-list-md pa-0>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-select
                                                      autocomplete="off"
                                                      :error-messages="errors.collect('Jurisdiccion')"
                                                      data-vv-name="Jurisdiccion"
                                                      v-validate="'required'"
                                                      v-model="formFields.jurisdiccion"
                                                      :items="jurisdicciones"
                                                      label="Jurisdiccion"
                                                      item-text="nombre"
                                                      item-value="id"
                                                    ></v-select>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-autocomplete
                                                  autocomplete="off"
                                                  :error-messages="errors.collect('Unidad')"
                                                  data-vv-name="Unidad"
                                                  :loading="isLoadingJU"
                                                  v-validate="'required'"
                                                    v-model="formFields.unidad"
                                                      :items="unidades"
                                                      label="Unidad"
                                                      item-text="nombre"
                                                      item-value="id"
                                                    >
                                                    <template v-slot:item="data">
                                                        <template >
                                                          <v-list-item-content>
                                                            <v-list-item-title v-html="data.item.nombre"></v-list-item-title>
                                                            <v-list-item-subtitle v-html="data.item.direccion"></v-list-item-subtitle>
                                                          </v-list-item-content>
                                                        </template>
                                                      </template>
                                                    </v-autocomplete>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-autocomplete
                                                  autocomplete="off"
                                                  minimum="2"
                                                  :error-messages="errors.collect('Diagnostico')"
                                                  data-vv-name="Diagnostico"
                                                  v-validate="'required'"
                                                    v-model="formFields.diagnostico"
                                                      :items="diagnosticos"
                                                      :loading="isLoading"
                                                      :search-input.sync="searchDiagnostico"
                                                      hide-no-data
                                                      hide-selected
                                                      label="Diagnostico"
                                                      item-text="descripcion"
                                                      item-value="id"
                                                    >
                                                      <template v-slot:item="data">
                                                        <template >
                                                          <v-list-item-content>
                                                            <v-list-item-title v-html="data.item.descripcion"></v-list-item-title>
                                                            <!-- <v-list-item-subtitle v-html="data.item.parent"></v-list-item-subtitle> -->
                                                          </v-list-item-content>
                                                        </template>
                                                      </template>
                                                    </v-autocomplete>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-autocomplete
                                                    autocomplete="off"
                                                    minimum="3"
                                                    :error-messages="errors.collect('Metodo de Referencia')"
                                                    data-vv-name="Metodo de Referencia"
                                                    v-validate="'required'"
                                                    v-model="formFields.metodo_referencia"
                                                    :items="metreferencia"
                                                    :loading="isLoadingMet"
                                                    :search-input.sync="searchMetreferencia"
                                                    hide-no-data
                                                    hide-selected
                                                    label="Metodo de Referencia"
                                                    item-text="descripcion"
                                                    item-value="id"
                                                    multiple
                                                    >
                                                      <template v-slot:item="data">
                                                        <template >
                                                          <v-list-item-content>
                                                            <v-list-item-title v-html="data.item.descripcion"></v-list-item-title>
                                                            <!-- <v-list-item-subtitle v-html="data.item.parent"></v-list-item-subtitle> -->
                                                          </v-list-item-content>
                                                        </template>
                                                      </template>
                                                    </v-autocomplete>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-autocomplete
                                                      autocomplete="off"
                                                      minimum="3"
                                                      :error-messages="errors.collect('Tipo De Muestra')"
                                                      data-vv-name="Tipo De Muestra"
                                                      v-validate="'required'"
                                                      v-model="formFields.tip_muestra"
                                                      :items="tipomuestras"
                                                      :loading="isLoadingTip"
                                                      :search-input.sync="searchTipoMuestra"
                                                      hide-no-data
                                                      hide-selected
                                                      label="Tipo De Muestra"
                                                      item-text="descripcion"
                                                      item-value="id"
                                                    >
                                                      <template v-slot:item="data">
                                                        <template >
                                                          <v-list-item-content>
                                                            <v-list-item-title v-html="data.item.descripcion"></v-list-item-title>
                                                            <!-- <v-list-item-subtitle v-html="data.item.parent"></v-list-item-subtitle> -->
                                                          </v-list-item-content>
                                                        </template>
                                                      </template>
                                                    </v-autocomplete>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-select
                                                  autocomplete="off"
                                                  :error-messages="errors.collect('Analista')"
                                                  data-vv-name="Analista"
                                                  v-validate="'required'"
                                                    v-model="formFields.analista"
                                                      :items="analistas"
                                                      label="Analista"
                                                      item-text="nombre_completo"
                                                      item-value="id"
                                                    ></v-select>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <h3>Muestra</h3>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-menu
                                                    v-model="menu"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px"
                                                  >
                                                    <template v-slot:activator="{ on }">
                                                      <v-text-field
                                                      autocomplete="off"
                                                      :error-messages="errors.collect('Fecha De la Toma')"
                                                        data-vv-name="Fecha De la Toma"
                                                        v-validate="'required'"
                                                        v-model="formFields.fecha_toma"
                                                        label="Fecha de la toma de la muestra"
                                                        readonly
                                                        v-on="on"
                                                      ></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="formFields.fecha_toma" @input="menu = false"></v-date-picker>
                                                  </v-menu>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-menu
                                                    v-model="menu2"
                                                    :close-on-content-click="false"
                                                    :nudge-right="40"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="290px"
                                                  >
                                                    <template v-slot:activator="{ on }">
                                                      <v-text-field
                                                      autocomplete="off"
                                                      :error-messages="errors.collect('Fecha De Recepcion')"
                                                        data-vv-name="Fecha De Recepcion"
                                                        v-validate="'required'"
                                                        v-model="formFields.fecha_recepcion"
                                                        label="Fecha de recepcion de la muestra"
                                                        v-on="on"
                                                      ></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="formFields.fecha_recepcion" @input="menu2 = false"></v-date-picker>
                                                  </v-menu>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <h3>Paciente</h3>
                                                </v-col>
                                              </v-row>
                                              <v-row>
                                                <v-col md="4" offset-md="4">
                                                  <v-text-field
                                                    v-model="formFields.nombre_paciente"
                                                    label="Nombre"
                                                    :error-messages="errors.collect('Nombre')"
                                                    data-vv-name="Nombre"
                                                    v-validate="editRequired"
                                                    v-if="editPa"
                                                  >
                                                    <template v-slot:append-outer>
                                                        <v-slide-x-reverse-transition
                                                          mode="out-in"
                                                        >
                                                          <v-icon
                                                            :key="`icon-${editPa}`"
                                                            :color="'error'"
                                                            @click="editPa = !editPa"
                                                            v-text="'mdi-close-circle-outline'"
                                                          ></v-icon>
                                                        </v-slide-x-reverse-transition>
                                                      </template>
                                                  </v-text-field>
                                                  <v-autocomplete
                                                    autocomplete="off"
                                                    v-if="!editPa"
                                                    :hint="!editPa ? 'Click en el icono para agregar' : ''"
                                                    :error-messages="errors.collect('paciente')"
                                                    data-vv-name="paciente"
                                                    v-validate="'required'"
                                                      v-model="formFields.paciente"
                                                      :items="pacientes"
                                                      :loading="isLoadingPa"
                                                      :search-input.sync="searchPaciente"
                                                      hide-no-data
                                                      hide-selected
                                                      label="Nombre del Paciente"
                                                      item-text="nombre"
                                                      item-value="id"
                                                      persistent-hint
                                                    >
                                                      <template v-slot:append-outer>
                                                        <v-slide-x-reverse-transition
                                                          mode="out-in"
                                                        >
                                                          <v-icon
                                                            :key="`icon-${editPa}`"
                                                            :color="editPa ? 'success' : 'info'"
                                                            @click="editPa = !editPa"
                                                            v-text="editPa ? 'mdi-check-outline' : 'mdi-plus-circle-outline'"
                                                          ></v-icon>
                                                        </v-slide-x-reverse-transition>
                                                      </template>
                                                    </v-autocomplete>
                                                </v-col>
                                              </v-row>
                                              <template v-if="editPa">
                                                <v-row >
                                                  <v-col md="4" offset-md="4">
                                                    <v-text-field
                                                      v-model="formFields.ap"
                                                      :error-messages="errors.collect('Ape_pa')"
                                                      data-vv-name="Ape_pa"
                                                      v-validate="editRequired"
                                                      label="Apellidos"
                                                    ></v-text-field>
                                                  </v-col>
                                                </v-row>
                                                <v-row>
                                                  <v-col md="4" offset-md="4">
                                                    <v-select
                                                        :error-messages="errors.collect('Sexo')"
                                                        data-vv-name="Sexo"
                                                        v-validate="editRequired"
                                                        v-model="formFields.sexo"
                                                        :items="genero"
                                                        label="Sexo"
                                                        item-text="descripcion"
                                                        item-value="descripcion"
                                                        required
                                                      ></v-select>
                                                  </v-col>
                                                </v-row>
                                                <v-row>
                                                  <v-col md="4" offset-md="4">
                                                    <v-menu
                                                      v-model="menu3"
                                                      :close-on-content-click="false"
                                                      :nudge-right="40"
                                                      transition="scale-transition"
                                                      offset-y
                                                      min-width="290px"
                                                    >
                                                      <template v-slot:activator="{ on }">
                                                        <v-text-field
                                                          autocomplete="off"
                                                          v-model="formFields.fecha_nacimiento"
                                                          label="Fecha de Nacimiento"
                                                          :error-messages="errors.collect('Fecha de Nacimiento')"
                                                          data-vv-name="Fecha de Nacimiento"
                                                          v-validate="editRequired"
                                                          v-on="on"
                                                        ></v-text-field>
                                                      </template>
                                                      <v-date-picker v-model="formFields.fecha_nacimiento" @input="menu3 = false"></v-date-picker>
                                                    </v-menu>
                                                  </v-col>
                                                </v-row>
                                                <v-row >
                                                  <v-col md="4" offset-md="4">
                                                    <v-textarea
                                                      autocomplete="off"
                                                      v-model="formFields.direccion"
                                                      label="Direccion"
                                                      :error-messages="errors.collect('Direccion')"
                                                      data-vv-name="Direccion"
                                                      v-validate="editRequired"
                                                    ></v-textarea>
                                                  </v-col>

                                                </v-row>
                                                <v-row>
                                                  <v-col md="4" offset-md="4">
                                                    <v-text-field
                                                      v-model="formFields.cpp"
                                                      label="Codigo Postal"
                                                      :required="requiredPa"
                                                    ></v-text-field>
                                                  </v-col>
                                                </v-row>

                                              </template>
                                              <v-row>
                                                <v-col md="3" offset-md="4">
                                                  <v-btn v-if="!editModal"  :loading="disabled" class="mx-0 font-weight-light" color="success" @click="saveMuestra">
                                                      Guardar Muestra
                                                  </v-btn>
                                                  <v-btn  v-else :loading="disabled" class="mx-0 font-weight-light" color="success" @click="saveEdit">
                                                      Guardar Muestra
                                                  </v-btn>
                                                </v-col>
                                              </v-row>
                                            </v-container>
                                        </v-card-text>
                                     </v-form>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                        <v-card-text>
                          <v-container grid-list-md pa-0>
                            <v-row>
                              <v-col md="3">
                                <v-checkbox v-model="checkSolo" label="Solo mis capturas"></v-checkbox>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col md="2">
                                <v-menu
                                  v-model="menuFechIniSearch"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="searchFechini"
                                      autocomplete="off"
                                      label="Fecha de inicio"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker  v-model="searchFechini" @input="menuFechIniSearch = false"></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col md="2">
                                <v-menu
                                  v-model="menuFechfinSearch"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on }">
                                    <v-text-field
                                      v-model="searchFechfin"
                                      autocomplete="off"
                                      label="Fecha de fin"
                                      readonly
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker  v-model="searchFechfin" @input="menuFechfinSearch = false"></v-date-picker>
                                </v-menu>
                              </v-col>
                              <v-col md="3">
                                <v-btn   style="margin-top: 15px;" color="primary" v-on:click.prevetn="searchByDate">Buscar por fecha</v-btn>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                    </template>
                    <template v-slot:item.action="{ item }">
                      <v-icon v-if='item.estatus != "RECEPCIONADA" && item.edit' small class="mr-2">
                            mdi-pencil-outline
                        </v-icon>
                        <v-icon v-if='item.estatus == "RECEPCIONADA" && item.edit' small class="mr-2" @click="editItem(item)">
                            mdi-pencil-outline
                        </v-icon>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout>
         <v-dialog
          v-model="loadingLoading"
          hide-overlay
          persistent
          width="300"
        >
          <v-card
            color="primary"
            dark
          >
            <v-card-text>
              Por favor espere ...
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-snackbar
            v-model="snackbar"
            :color="color_nack"
            :timeout="3000"
            :bottom="true"
                >
            {{ message }}
            <v-icon
                dark
                text
                @click="snackbar = false"
            >
                mdi-close
            </v-icon>
        </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        name: 'MuestrasLab',
        components: {},
        props: {},
        data() {
            return {
              checkSolo:null,
              searchFechini:null,
              searchFechfin:null,
              menuFechIniSearch:null,
              menuFechfinSearch:null,
              loadingLoading:false,
              isLoadingJU:false,
              editModal:false,
              modalTittle:"Alta de Muestra",
              message:false,
              color_nack:'',
              snackbar:false,
              editRequired:'',
              descriptionLimit: 60,
              genero:[],
              pacientes:[],
              entries: [],
              editPa: false,
              disabled: false,
              isLoading: false,
              isLoadingPa: false,
              isLoadingMet:false,
              isLoadingTip:false,
              modelAuto: null,
              searchDiagnostico: null,
              searchMetreferencia: null,
              searchPaciente: null,
              searchTipoMuestra: null,
              search:"",
              addDialog:false,
              requiredPa:false,
              menu: false,
              menu2: false,
              menu3: false,
              formFields:{
                fecha_toma:new Date().toISOString().substr(0, 10),
                fecha_recepcion:new Date().toISOString().substr(0, 10),
              },
              jurisdicciones:[],
              unidades:[],
              analistas:[],
              diagnosticos:[],
              tipomuestras:[],
              metreferencia:[],
              headers: [
                  { text: 'N Muestra', value: 'numero_muestra' },
                  { text: 'Paciente', value: 'paciente' },
                  { text: 'Unidad Administrativa', value: 'unidad_administrativa' },
                  { text: 'Unidad Medica', value: 'unidad_medica' },
                  { text: 'Diagnostico', value: 'diagnosticos' },
                  { text: 'Estatus', value: 'estatus' },
                  { text: 'Fecha de Recepcion', value: 'fecha_recepcion' },
                  { text: 'Fecha de la Toma', value: 'fecha_toma' },
                  { text: 'Fecha de Resultado', value: 'fecha_resultados' },
                  { text: 'Acciones', value: 'action', sortable: false },
                ],
                muestras: []
            }
        },
        created(){
          this.getListData();
          this.getJuris();
          this.getGenero();
          this.getAnalistas();
        },
        methods: {
          cleanForm(){
            this.isLoading = true;
            this.isLoadingPa = true;
            this.$validator.reset();
             this.formFields = {
                fecha_toma:new Date().toISOString().substr(0, 10),
                fecha_recepcion:new Date().toISOString().substr(0, 10),
              }
            this.isLoading = false;
            this.isLoadingPa = false;

          },
          searchByDate(){
            if (this.searchFechini == null) {
              this.notify("La fecha de inicio es requerida","error");
              return false;
            }
            let fields = {date_start:this.searchFechini,date_end:this.searchFechfin,solo:this.checkSolo};
            axios.post('/api/epidemiologia/muestra/lisfilters',fields)
            .then(response => {
               this.muestras = response.data.data;
            }).catch(e => {
            });
          },
          searchBySolo(){
            // if (this.searchFechini == null || this.searchFechfin == null) {
            //   return false;
            // }
            let fields = {date_start:this.searchFechini,date_end:this.searchFechfin,solo:this.checkSolo};
            axios.post('/api/epidemiologia/muestra/lisfilters',fields)
            .then(response => {
               this.muestras = response.data.data;
            }).catch(e => {
            });
          },
          editItem(item){
            this.isLoading = true;
            this.isLoadingPa = true;
            this.cleanForm();
            this.loadingLoading = true;
            this.editModal = true;
            var id_item = item.id;
            axios.get('/api/epidemiologia/muestra/'+item.id)
            .then(response => {
              this.loadingLoading = false;
              this.modalTittle = "Edicion de la Muestra";
              this.getDiagnostico(response.data.diagnosticos.descripcion);
              this.getMetreferencia(response.data.diagnosticos.id);
              this.getTipMuestra(response.data.tipomuestra.descripcion);
              this.getUnidades(response.data.unidad_administrativa_id);
              this.getPacientes(response.data.pacientes.nombre_apellidos);
              this.formFields.jurisdiccion = response.data.unidad_administrativa_id;
              this.formFields.unidad = response.data.unidad_medica_id;
              this.formFields.diagnostico = response.data.diagnostico_id;
              this.formFields.metodo_referencia =  JSON.parse(response.data.metodo_referencia);
              this.formFields.tip_muestra = response.data.tipo_muestra_id;
              this.formFields.analista = response.data.analista_id;
              this.formFields.fecha_toma = response.data.fecha_toma;
              this.formFields.fecha_recepcion = response.data.fecha_recepcion;
              this.formFields.paciente = response.data.paciente_id;
              this.formFields.id = id_item;
              this.addDialog = true;
              this.isLoading = true;
              this.isLoadingPa = true;
              this.isLoadingMet = true;
              this.isLoadingTip = true;
              // this.muestras = response.data.data;
            }).catch(e => {
                console.log(e);
            });
          },
          saveEdit(){
            axios.put('/api/epidemiologia/muestra/'+this.formFields.id,this.formFields)
            .then(response => {
                if (response.data.meta.status == "success") {
                      this.snackbar = true;
                      this.message = "Muestra Actualizada correctamente";
                      this.addDialog = false;
                      this.cleanForm();
                      this.getListData();
                  }
            }).catch(e => {
              this.notify(e.response.data.meta.message,"error");
                console.log(e);
            });
            console.log("save edit");
          },
          getListData(){
            axios.get('/api/epidemiologia/muestra/')
            .then(response => {
              this.muestras = response.data.data;
            }).catch(e => {
                console.log(e);
            });
          },
          getJuris(){
            axios.get('/api/epidemiologia/muestra/jurisdicciones')
            .then(response => {
                this.jurisdicciones = response.data.data;
            }).catch(e => {
                console.log(e);
            });
          },
          getDiagnostico(search){
            axios.get('/api/epidemiologia/diagnostico/search/'+search)
            .then(response => {
                this.diagnosticos = response.data;
                this.isLoading = false
            }).catch(e => {
                console.log(e);
            });
          },
          getTipMuestra(search){
            axios.get('/api/epidemiologia/tipomuestra/search/'+search)
            .then(response => {
                this.tipomuestras = response.data;
                this.isLoadingTip = false
            }).catch(e => {
                console.log(e);
            });
          },
          getMetreferencia(search){
            axios.get('/api/epidemiologia/metodosferencia/searchdiag/'+search)
            .then(response => {
                this.metreferencia = response.data;
                this.isLoadingMet = false
            }).catch(e => {
                console.log(e);
            });
          },
          getPacientes(search){
            axios.get('/api/epidemiologia/muestra/pacientes/'+search)
            .then(response => {
                this.pacientes = response.data.data;
                this.isLoadingPa = false
            }).catch(e => {
                this.isLoadingPa = false
                console.log(e);
            });
          },
          getUnidades(cve_id){
            axios.get('/api/epidemiologia/muestra/unidades/'+cve_id)
            .then(response => {
                this.isLoadingJU = false;
                this.unidades = response.data.data;
            }).catch(e => {
                console.log(e);
            });
          },
          getAnalistas(){
            axios.get('/api/epidemiologia/muestra/analista')
            .then(response => {
                this.analistas = response.data;
            }).catch(e => {
                console.log(e);
            });
          },
          getGenero(){
            axios.get('/api/epidemiologia/muestra/genero')
            .then(response => {
                this.genero = response.data;
            }).catch(e => {
                console.log(e);
            });
          },
          saveMuestra(){
            this.$validator.validate()
              .then(isValid => {
                  if (isValid) {
                    this.save();
                  }
              })
          },
          save(){
            axios.post('/api/epidemiologia/muestra',this.formFields)
            .then(response => {
                if (response.data.meta.status == "success") {
                      this.getListData();
                      this.snackbar = true;
                      this.message = "Muestra guardada correctamente";
                      this.addDialog = false;
                      this.cleanForm();
                  }

            }).catch(e => {
              this.notify(e.response.data.meta.message,"error");
                console.log(e);
            });
          },
          notify(message, color) {
                this.message = message
                this.color_nack = color
                this.snackbar = true
            }
        },
        watch: {
          'formFields.diagnostico'(val){
            if (val == null) return;
            if (this.isLoadingMet) return
            this.isLoadingMet = true;
            this.getMetreferencia(val);
          },
          'formFields.jurisdiccion'(val){
            if (val == null) return;
            this.isLoadingJU = true;
            this.getUnidades(val);
          },
          searchDiagnostico (val) {
            if (val == null) return;
            if (val.length < 3) return;
            if (this.isLoading) return
            this.isLoading = true;
            this.getDiagnostico(val);
          },
          searchTipoMuestra (val) {
            if (val == null) return;
            if (val.length < 3) return;
            if (this.isLoadingTip) return
            this.isLoadingTip = true;
            this.getTipMuestra(val);
          },
          searchPaciente (val) {
            if (val == null) return;
            if (val.length < 4) return;
            if (this.isLoadingPa) return
            this.isLoadingPa = true;
            this.getPacientes(val);
          },
          editPa(val){
            this.editRequired = "required";
          },
          checkSolo(val){
            this.searchBySolo();
          }
        },
        computed: {
        }
    }
</script>
