<template>
	<v-data-table
        :headers="headers"
        :items="dataComp.items"
        :search="search"
        :items-per-page="100"
        :single-expand="true"
        :expanded.sync="expanded"
        item-key="id"
        hide-default-footer
        show-expand
    >
	    <template v-slot:top>
	        <v-toolbar flat color="white">
	            <v-toolbar-title>Lista de Muestras Responsable</v-toolbar-title>
	            <v-divider
	                class="mx-2"
	                inset
	                vertical>
	            </v-divider>
	            <v-text-field
	              v-model="search"
	              label="Buscar"
	              single-line
	              hide-details
	            ></v-text-field>
	            <div class="flex-grow-1"></div>
	        </v-toolbar>
	    </template>
      <template v-slot:expanded-item="{ item }">
          <td :colspan="headers.length">
            <template  v-if="item.estatus =='RESULTADOS' || item.estatus =='SUPERVISADA' || item.estatus =='RECHAZADA RESPONSABLE LAB' || item.estatus =='RECHAZADA JEFE LAB' || item.estatus =='VALIDADA'">
                <v-container>
                     <v-row>
                        <v-col cols="12" >
                            <h3>Resultado</h3>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.resultado" readonly label="Resultado"></v-text-field>
                        </v-col>
                         <v-col cols="12" >
                            <v-text-field v-model="formRe.diagnosticos.descripcion" readonly label="Diagnostico"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.referencia.descripcion" readonly label="Metodo/Referencia"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.fecha_analisis" readonly label="Fecha del analisis de la muestra"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.fecha_resultados" readonly label="Fecha del resultado"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.comentarios" readonly label="Comentarios"></v-text-field>
                        </v-col>
                        <v-col cols="6" v-if="item.estatus =='RESULTADOS'">
                          <v-btn :loading="dataComp.disabled"  @click="$emit('changeEstatus', item, 'RECHAZADA RESPONSABLE LAB')" class="mx-0 font-weight-light" color="error" >
                              Rechazar Muestra
                          </v-btn>
                           <v-btn :loading="dataComp.disabled"   @click="$emit('changeEstatus', item, 'SUPERVISADA')" class="mx-0 font-weight-light" color="success" >
                              Supervisar Resultado
                          </v-btn>
                        </v-col>


                     </v-row>
                </v-container>
            </template>
          </td>
      </template>
	</v-data-table>
</template>
<script>
    export default {
        name: 'ListResTable',
        props: ["dataComp"],
        mixins: [],
        data() {
            return {
            	search:'',
              expanded: [],
              formRe: {diagnosticos:{},referencia:{}},
            	items:[],
            	headers: [
                  { text: 'N Muestra', value: 'numero_muestra' },
                  { text: 'Paciente', value: 'paciente' },
                  { text: 'Unidad Administrativa', value: 'unidad_administrativa' },
                  { text: 'Unidad Medica', value: 'unidad_medica' },
                  { text: 'Diagnostico', value: 'diagnosticos' },
                  { text: 'Estatus', value: 'estatus' },
                  { text: 'Fecha de Recepcion', value: 'fecha_recepcion' },
                  { text: 'Fecha de la Toma', value: 'fecha_toma' },
                  { text: 'Fecha de Resultado', value: 'fecha_resultados' },
                ]
            }
        },
        created(){
        },
        methods: {
          getResultadosData(item){
              this.loadingLoading = true;
              axios.get('/api/epidemiologia/resultado/'+item.id)
              .then(response => {
                  this.formRe = response.data;
                  this.loadingLoading = false;
              }).catch(e => {
                  this.loadingLoading = false;
                  console.log(e);
              });
          }
        },
        watch: {
        expanded(val){
              if (val.length > 0) {
                  if (val[0].estatus == "RESULTADOS" || val[0].estatus =='SUPERVISADA' || val[0].estatus =='RECHAZADA RESPONSABLE LAB' || val[0].estatus =='RECHAZADA JEFE LAB' || val[0].estatus =='VALIDADA') {
                      this.getResultadosData(val[0]);
                  }
              }
          }
        },
        computed: {}
    }
</script>