<template>
	<v-data-table
        :headers="headers"
        :items="dataComp.items"
        :search="search"
        :items-per-page="100"
        :single-expand="true"
        :expanded.sync="expanded"
        item-key="id"
        hide-default-footer
        show-expand
    >
	    <template v-slot:top>
	        <v-toolbar flat color="white">
	            <v-toolbar-title>Lista de Muestras Jefe Laboratorio</v-toolbar-title>
	            <v-divider
	                class="mx-2"
	                inset
	                vertical>
	            </v-divider>
	            <v-text-field
	              v-model="search"
	              label="Buscar"
	              single-line
	              hide-details
	            ></v-text-field>
	            <div class="flex-grow-1"></div>
	        </v-toolbar>
          <v-card-text>
            <v-container grid-list-md pa-0>
              <v-row>
                <v-col md="2">
                  <v-menu
                    v-model="menuFechIniSearch"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="searchFechini"
                        autocomplete="off"
                        label="Fecha de inicio"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker  v-model="searchFechini" @input="menuFechIniSearch = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col md="2">
                  <v-menu
                    v-model="menuFechfinSearch"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="searchFechfin"
                        autocomplete="off"
                        label="Fecha de fin"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker  v-model="searchFechfin" @input="menuFechfinSearch = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col md="3">
                  <v-btn   style="margin-top: 15px;" color="primary" v-on:click.prevetn="validsearchByDate">Buscar por fecha</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-text>
            <v-container grid-list-md pa-0>
              <v-row>
                <v-col md="2">
                  <v-menu
                    v-model="menuFechAnio"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="searchFechanio"
                        autocomplete="off"
                        label="Fecha de inicio"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker type="year" v-model="searchFechanio" @input="menuFechAnio = false"></v-date-picker>
                  </v-menu>
                </v-col>
                 <v-col md="3">
                    <v-btn   style="margin-top: 15px;" color="primary" v-on:click.prevetn="searchByYear">Buscar por Año</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
	    </template>
      <template v-slot:expanded-item="{ item }">
          <td :colspan="headers.length">
            <template  v-if="item.estatus =='RESULTADOS' || item.estatus =='SUPERVISADA' || item.estatus =='RECHAZADA RESPONSABLE LAB' || item.estatus =='RECHAZADA JEFE LAB' || item.estatus =='VALIDADA'">
                <v-container>
                     <v-row>
                        <v-col cols="12" >
                            <h3>Resultado</h3>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.resultado" readonly label="Resultado"></v-text-field>
                        </v-col>
                         <v-col cols="12" >
                            <v-text-field v-model="formRe.diagnosticos.descripcion" readonly label="Diagnostico"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.referencia.descripcion" readonly label="Metodo/Referencia"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.fecha_analisis" readonly label="Fecha del analisis de la muestra"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.fecha_resultados" readonly label="Fecha del resultado"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-text-field v-model="formRe.comentarios" readonly label="Comentarios"></v-text-field>
                        </v-col>
                        <v-col cols="6" v-if="item.estatus =='SUPERVISADA'">
                          <v-btn :loading="dataComp.disabled"  @click="$emit('changeEstatus', item, 'RECHAZADA JEFE LAB')" class="mx-0 font-weight-light" color="error" >
                              Rechazar Muestra
                          </v-btn>
                           <v-btn :loading="dataComp.disabled"   @click="$emit('changeEstatus', item, 'VALIDADA')" class="mx-0 font-weight-light" color="success" >
                              Autorizar Resultado
                          </v-btn>
                        </v-col>


                     </v-row>
                </v-container>
            </template>
          </td>
      </template>
	</v-data-table>
</template>
<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../mixins/toast';
    export default {
        name: 'ListJefeTable',
        props: ["dataComp"],
        mixins: [Toast],
        data() {
            return {
            	search:'',
              disabled:false,
              menuFechIniSearch:null,
              searchFechini:null,
              searchFechanio:null,
              menuFechfinSearch:null,
              menuFechAnio:null,
              searchFechfin:null,
              expanded: [],
              formRe: {diagnosticos:{},referencia:{}},
            	items:[],
            	headers: [
                  { text: 'N Muestra', value: 'numero_muestra' },
                  { text: 'Paciente', value: 'paciente' },
                  { text: 'Unidad Administrativa', value: 'unidad_administrativa' },
                  { text: 'Unidad Medica', value: 'unidad_medica' },
                  { text: 'Diagnostico', value: 'diagnosticos' },
                  { text: 'Estatus', value: 'estatus' },
                  { text: 'Fecha de Recepcion', value: 'fecha_recepcion' },
                  { text: 'Fecha de la Toma', value: 'fecha_toma' },
                  { text: 'Fecha de Resultado', value: 'fecha_resultados' },
                ]
            }
        },
        created(){
        },
        methods: {
          validsearchByDate(){
            if (this.searchFechini == null || this.searchFechini == "") {
              this.toastError("La fecha de inicio es requerida")
              return false;
            }
            let fields = {date_start:this.searchFechini,date_end:this.searchFechfin,anio:this.searchFechanio};
            axios.post('/api/epidemiologia/jefe/search/date',fields)
            .then(response => {
               this.items = response.data.data;
            }).catch(e => {
              this.toastError("Ocurrio un error al obtener los resultados")
            });
          },
          searchByYear(){
              let fields = {anio:this.searchFechanio};
              axios.post('/api/epidemiologia/jefe/search/year',fields)
              .then(response => {
                 this.items = response.data.data;
              }).catch(e => {
                this.toastError("Ocurrio un error al obtener los resultados")
                  // this.notify("Ocurrio un error al obtener los resultados","error");
              });
          },
          getResultadosData(item){
              this.loadingLoading = true;
              axios.get('/api/epidemiologia/resultado/'+item.id)
              .then(response => {
                  this.formRe = response.data;
                  this.loadingLoading = false;
              }).catch(e => {
                  this.loadingLoading = false;
                  console.log(e);
              });
          },
          ...mapActions([
                'ui/setSnackBar'
            ])
        },
        watch: {
        expanded(val){
              if (val.length > 0) {
                  if (val[0].estatus == "RESULTADOS" || val[0].estatus =='SUPERVISADA' || val[0].estatus =='RECHAZADA RESPONSABLE LAB' || val[0].estatus =='RECHAZADA JEFE LAB' || val[0].estatus =='VALIDADA') {
                      this.getResultadosData(val[0]);
                  }
              }
          }
        },
        computed: {}
    }
</script>