<template>
	<v-data-table
        :headers="headers"
        :items="dataComp.items"
        :search="search"
        :items-per-page="100"
        item-key="id"
        hide-default-footer
    >
	    <template v-slot:top>
	        <v-toolbar flat color="white">
	            <v-toolbar-title>Lista Tipo de Muestras</v-toolbar-title>
	            <v-divider
	                class="mx-2"
	                inset
	                vertical>
	            </v-divider>
	            <v-text-field
	              v-model="search"
	              label="Buscar"
	              single-line
	              hide-details
	            ></v-text-field>
	            <div class="flex-grow-1"></div>
              <v-btn color="success"  v-on:click.prevetn="addDialog = true;modalTittle='Alta de Tipo de Muestra';editModal=false;cleanForm()">Nuevo Tipo de Muestra</v-btn>
              <v-dialog v-model="addDialog" max-width="500px" fullscreen hide-overlay transition="dialog-bottom-transition">
                  <v-card>
                       <v-form @submit.prevent="submit">
                          <v-toolbar dark color="primary">
                            <v-btn icon dark @click="addDialog = false">
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>{{modalTittle}}</v-toolbar-title>
                            <div class="flex-grow-1"></div>
                            <v-toolbar-items>
                              <v-btn v-if="!editModal"  text @click="saveMuestra">Guardar</v-btn>
                              <v-btn v-else  text @click="saveEdit">Guardar</v-btn>
                            </v-toolbar-items>
                          </v-toolbar>
                           <v-card-text class="justify-lg-space-around">
                            <v-container grid-list-md pa-0>
                              <v-row>
                                <v-col md="4" offset-md="4">
                                  <v-text-field
                                    v-model="formFields.descripcion"
                                    label="Descripcion"
                                    :error-messages="errors.collect('Descripcion')"
                                    v-validate="'required'"
                                    data-vv-name="Descripcion"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col md="4" offset-md="4">
                               <!--    <v-select
                                      :error-messages="errors.collect('Sexo')"
                                      data-vv-name="Sexo"
                                      v-validate="editRequired"
                                      v-model="formFields.sexo"
                                      :items="genero"
                                      label="Sexo"
                                      item-text="descripcion"  
                                      item-value="descripcion"
                                      required
                                    ></v-select> -->
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>
                       </v-form>
                  </v-card>
              </v-dialog>
	        </v-toolbar>
	    </template>
      <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil-outline
          </v-icon>
      </template>
	</v-data-table>
</template>
<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../mixins/toast';
    export default {
        name: 'ListTipMuestraTable',
        props: ["dataComp"],
        mixins: [Toast],
        data() {
            return {
            	search:'',
              addDialog:false,
              modalTittle:'',
              editModal:false,
              disabled:false,
              formFields:{},
              expanded: [],
              formRe: {diagnosticos:{},referencia:{}},
            	items:[],
            	headers: [
                  { text: 'N', value: 'num_id' },
                  { text: 'Descripción', value: 'descripcion' },
                  { text: 'Actions', value: 'action', sortable: false },
                ]
            }
        },
        created(){
          this.getTableData();
        },
        methods: {
          editItem(item) {
              this.edit_id = item.id;
              axios.get('/api/epidemiologia/tipomuestra/'+item.id)
              .then(response => {
                  let data = response.data;
                  this.modalTittle = "Editar Tipo de Muestra";
                  this.addDialog = true;
                  this.formFields.descripcion = data.descripcion;
                  this.editModal = true
              }).catch(e => {
                  console.log(e);
              });
          },
          getTableData(){
              axios.get('/api/epidemiologia/tipomuestra')
              .then(response => {
                console.log(response.data);
                  this.dataComp.items = response.data;
              }).catch(e => {
                  console.log(e);
              });
          },
          saveEdit(){
            axios.put('/api/epidemiologia/tipomuestra/'+this.edit_id,this.formFields)
            .then(response => {
                if (response.data.meta.status == "success") {
                      this.toastSuccess("Tipo de Muestra Actualizada Correctamente");
                      this.addDialog = false;
                      this.cleanForm();
                      this.getTableData();
                  }
            }).catch(e => {
              this.notify(e.response.data.meta.message,"error");
                console.log(e);
            });
            console.log("save edit");
          },
          save(){
            axios.post('/api/epidemiologia/tipomuestra',this.formFields)
            .then(response => {
                if (response.data.meta.status == "success") {
                      this.getTableData();
                      this.toastSuccess("Tipo de Muestra Guardado Correctamente");
                      this.addDialog = false;
                      this.cleanForm();
                  }

            }).catch(e => {
                this.toastError(e.response.data.meta.message)
                console.log(e);
            });
          },
          saveMuestra(){
            this.$validator.validate()
              .then(isValid => {
                  if (isValid) {
                    this.save();
                  }
              })
          },
          cleanForm(){
            this.$validator.reset();
            this.formFields = {};
          },
          ...mapActions([
                'ui/setSnackBar'
            ])
        },
        computed: {}
    }
</script>