<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card :loading="loading">
                    <v-card-title>
                        <span class="headline">Nuevo estudio</span>
                    </v-card-title>
                    <v-card-text>
                        <laboratorio-form @save="save"></laboratorio-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'estudios-index'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
        </router-link>

    </v-container>
</template>

<script>
    import {Toast} from '../../../../mixins/toast'
    import {mapActions} from 'vuex'

    const LaboratorioForm = () => import('../../../../components/sanitaria/forms/EstudioForm')

    export default {
        components: {
            LaboratorioForm
        },
        mixins: [Toast],
        props: {},
        data() {
            return {
                loading: false
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true

                    let estudio = await this['catalogos/storeEstudios'](draft)

                    this.toastSuccess('El estudio se guardó correctamente')

                    await this.$router.push({name: 'estudios-edit', params: {id: estudio.id}})
                } catch (e) {
                    console.error(e)

                    this.toastError('Lo sentimos, algo ha salido mal intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/storeEstudios'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
