<template>
    <v-container class="pb-10" fluid>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title>
                        <v-toolbar flat>
                            <v-toolbar-title>Estudios</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-text-field hide-details
                                          label="Buscar"
                                          prepend-inner-icon="mdi-magnify"
                                          single-line
                                          type="text"
                                          v-model="search"
                            ></v-text-field>
                        </v-toolbar>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="estudios"
                                      :loading="fetching"
                                      :search="search"
                                      class="elevation-0"
                        >
                            <template v-slot:item.actions="{item}">
                                <router-link :to="{name: 'estudios-edit', params: {id: item.id}}"
                                             v-slot="{ href, route, navigate, isActive, isExactActive }"
                                >
                                    <v-btn :to="href"
                                           icon
                                           link
                                    >
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                </router-link>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <router-link :to="{name: 'estudios-create'}"
                     v-slot="{ href, route, navigate, isActive, isExactActive }"
        >
            <v-btn :href="href"
                   @click="navigate"
                   bottom
                   color="deep-purple"
                   dark
                   fab
                   fixed
                   right
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </router-link>

    </v-container>
</template>

<script>
    import {Toast} from '../../../../mixins/toast'
    import {mapActions, mapGetters, mapState} from 'vuex'

    export default {
        components: {},
        mixins: [Toast],
        props: {},
        data() {
            return {
                fetching: false,
                search: null,
                headers: [
                    {text: 'Acciones', value: 'actions', sortable: false},
                    {text: 'Clave', value: 'clave'},
                    {text: 'Estudio', value: 'descripcion'},
                    {text: 'Laboratorio', value: 'laboratorio.descripcion'}
                ]
            }
        },
        created() {
            if (this.countEstudios <= 0) {
                this.fetchData()
            }
        },
        methods: {
            async fetchData() {
                this.fetching = true
                try {
                    await this['catalogos/fetchEstudios']()
                } catch (e) {
                    console.error(e)
                    this.toastError('Error al cargar los datos')
                } finally {
                    this.fetching = false
                }
            },
            ...mapActions([
                'ui/setSnackBar',
                'catalogos/fetchEstudios'
            ]),
            ...mapGetters([
                'catalogos/countEstudios'
            ])
        },
        computed: {
            countEstudios() {
                return this['catalogos/countEstudios']()
            },
            ...mapState({
                estudios: state => state.catalogos.estudios
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
