<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card :loading="loading">
                    <v-card-title class="mb-4">
                        Muestras
                        <v-spacer></v-spacer>
                        <v-select :items="estados"
                                  clearable
                                  hide-details
                                  label="Estatus"
                                  single-line
                                  style="max-width: 20%"
                                  v-model="statusSelected"
                        ></v-select>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="estudios"
                                      :loading="loading"
                                      class="elevation-0"
                                      item-key="id"
                                      show-select
                                      v-model="selectedEstudies"
                        >

                            <template v-slot:item.status.estatus="{ item }">
                                <template v-if="item.status.estatus === 'RESULTADOS' || item.status.estatus === 'VALIDADO' || item.status.estatus === 'AUTORIZADO'">
                                    <v-btn @click="openResultados(item)"
                                           color="success"
                                           dark
                                           text
                                    >
                                        <v-icon left>mdi-eye-outline</v-icon>
                                        {{ item.status.estatus }}
                                    </v-btn>
                                </template>
                                <template v-else>
                                    {{ item.status.estatus }}
                                </template>
                            </template>

                            <template v-slot:item.assign_to="{ item }">
                                <template v-if="item.status.estatus === 'PENDIENTE'">
                                    Asigar a mí
                                </template>
                                <template v-else>
                                    <span>{{ item.status.usuario_apertura.nombre_apellidos}}</span>
                                </template>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-divider></v-divider>

                    <!--Botones de accion-->
                    <v-card-actions v-role="'ANALISTA SANITARIA'">
                        <v-btn :disabled="pendientesCount <= 0"
                               @click="procesarEstudios"
                               class="mr-3"
                               color="success"
                        >{{ `Procesar ${pendientesCount}` }}
                        </v-btn>
                        <!--Formulario reportar resultados-->
                        <v-dialog :persistent="true"
                                  @keydown.esc="closeDialog"
                                  hide-overlay
                                  scrollable
                                  transition="dialog-bottom-transition"
                                  v-model="openResultadosModal"
                                  fullscreen
                        >
                            <template v-slot:activator="{ on }">
                                <v-btn :disabled="enProcesoCount <= 0"
                                       color="blue darken-3"
                                       dark
                                       v-on="on"
                                >{{ `Reportar ${enProcesoCount}` }}
                                </v-btn>
                            </template>
                            <v-card>
                                <v-toolbar color="primary" dark
                                           style="flex-basis:auto;flex-direction:row;flex-grow:0;flex-shrink:1;flex-wrap:nowrap;-webkit-box-flex:0;"
                                >
                                    <v-btn @click="closeDialog" dark icon>
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Reportar resultados</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-items>
                                        <v-btn @click="closeDialog" dark text>Cerrar</v-btn>
                                    </v-toolbar-items>
                                </v-toolbar>
                                <v-card-text style="padding-top: 20px">
                                    <template v-for="estudio in enProceso">
                                        <v-card class="mb-4">
                                            <v-card-title>
                                                <span class="headline">{{ `Número de muestra ${estudio.muestra.numero_muestra}` }}</span>
                                            </v-card-title>
                                            <v-divider></v-divider>
                                            <v-card-text class="grey lighten-3">
                                                <v-container class="pa-0" fluid>
                                                    <v-row>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.solicitud.fecha_recepcion|formatDateHour" label="Fecha/Hora de recepción" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.solicitud.es_convenio ? 'Si': 'No'" label="Convenio" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.es_subrogado ? 'Si':'No'" label="Subrogado" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <v-text-field :value="estudio.muestra.fecha_muestreo|formatDateHour" label="Fecha/Hora de muestreo" readonly></v-text-field>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-text-field :value="estudio.muestra.descripcion_muestra" label="Descripción de la muestra" readonly></v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col class="pt-0">
                                                            <v-text-field :value="estudio.muestra.observaciones" label="Observaciones" readonly></v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>


                                            </v-card-text>
                                            <v-card-text>
                                                <resultados-form :populate-with="estudio"></resultados-form>
                                            </v-card-text>
                                        </v-card>
                                    </template>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!--Formulario reportar resultados-->
                    </v-card-actions>
                    <v-card-actions v-role="'RESPONSABLE LABORATORIO SANITARIA'">
                        <v-btn :disabled="resultadosCount <= 0"
                               @click="validateMultipleResults"
                               color="success"
                        >
                            {{ `Validar ${resultadosCount}` }}
                        </v-btn>
                        <!--<v-btn :disabled="resultadosCount <= 0"
                               color="error"
                        >
                            {{ `Rechazar ${resultadosCount}` }}
                        </v-btn>-->
                    </v-card-actions>
                    <v-card-actions v-role="'JEFE DEPARTAMENTO SANITARIA'">
                        <v-btn :disabled="validadosCount <= 0"
                               @click="autorizarResultados"
                               color="success"
                        >
                            {{ `Autorizar ${validadosCount}` }}
                        </v-btn>
                        <!--<v-btn :disabled="validadosCount <= 0"
                               color="error"
                        >
                            {{ `Rechazar ${validadosCount}` }}
                        </v-btn>-->
                    </v-card-actions>
                    <!--End botones de accion-->
                </v-card>
            </v-col>
        </v-row>
        <v-dialog :persistent="true"
                  v-model="openShowResult"
                  width="600"
        >
            <v-card>
                <v-card-title class="headline grey lighten-2"
                              primary-title
                >
                    Resultados
                </v-card-title>
                <v-card-text v-if="!selectedResult.empty">
                    <v-text-field label="Fecha análisis"
                                  type="text"
                                  v-model="selectedResult.fecha_analisis"
                    ></v-text-field>
                    <v-text-field label="Fecha análisis"
                                  type="text"
                                  v-model="selectedResult.fecha_resultados"
                    ></v-text-field>
                    <v-text-field label="Fecha análisis"
                                  type="text"
                                  v-model="selectedResult.resultados"
                    ></v-text-field>
                    <v-textarea label="Observaciones"
                                v-model="selectedResult.observaciones"
                    ></v-textarea>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="closeResultados" text>Cerrar</v-btn>
                    <!--<v-btn
                        @click="validateSingleResult"
                        color="success"
                        text
                        v-role="'RESPONSABLE LABORATORIO SANITARIA'"
                    >
                        Validar
                    </v-btn>
                    <v-btn
                        @click="closeResultados"
                        color="error"
                        text
                        v-role="'RESPONSABLE LABORATORIO SANITARIA'"
                    >
                        Rechazar
                    </v-btn>-->
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../../mixins/toast'

    const ResultadosForm = () => import('../../../components/sanitaria/forms/ReportarForm')

    export default {
        name: 'Index',
        mixins: [Toast],
        components: {
            ResultadosForm
        },
        props: {},
        data() {
            return {
                loading: false,
                estudios: [],
                selectedEstudies: [],
                selectedResult: {empty: true},
                headers: [
                    {text: 'Asiganado a', value: 'assign_to'},
                    {text: 'Estatus', value: 'status.estatus'},
                    {text: 'Clave', value: 'estudio.clave'},
                    {text: 'Estudio', value: 'estudio.descripcion'},
                    {text: 'Unidad', value: 'unidad.descripcion'},
                    {text: 'Solicitud', value: 'muestra.solicitud.folio'},
                    {text: 'Núm. muestra', value: 'muestra.numero_muestra'},
                    {text: 'Fecha recepción', value: 'created_at'},
                    {text: 'Descripción de la muestra', value: 'muestra.descripcion_muestra'}
                ],
                openFechaAnalisis: false,
                openFechaResultado: false,
                openResultadosModal: false,
                openShowResult: false,
                estados: ['EN PROCESO', 'VALIDADO', 'RESULTADOS', 'AUTORIZADO', 'PENDIENTE'],
                statusSelected: undefined
            }
        },
        async created() {
            this.setData();
        },
        methods: {
            async validateSingleResult() {
                this.selectedEstudies.push(this.selectedResult)
                await this.validateMultipleResults()
                this.closeResultados()
                /*try {
                    this.loading = true
                    let result = await axios.patch(route('api.v1.muestras.sanitarias.estudios.procesar'), {estudios: this.selectedResult})
                    await this.setData()
                    this.toastSuccess('El resultado se validó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }*/
            },
            async validateMultipleResults() {
                let ids = this.selectedEstudies.map(function (el) {
                    return el.id
                })

                try {
                    this.loading = true
                    let result = await axios.patch(route('api.v1.muestras.sanitarias.estudios.validar'), {estudios: ids})
                    await this.setData()
                    this.selectedEstudies = []
                    this.toastSuccess('Los estudios se validaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            openResultados(item) {
                this.selectedResult = item
                this.openShowResult = true
            },
            closeResultados() {
                this.selectedResult = {empty: true}
                this.openShowResult = false
            },
            async closeDialog() {
                this.setData()
                this.openResultadosModal = false
                this.selectedEstudies = []
            },
            async setData() {
                try {
                    this.loading = true
                    let res = await axios.get(route('api.v1.muestras.sanitarias.estudios.index'), {
                        params: {
                            estado: this.statusSelected
                        }
                    })
                    this.estudios = res.data.estudios
                } catch (e) {
                    console.error(e)
                    this.toastError('Error al cargar los datos')
                } finally {
                    this.loading = false
                }
            },
            async procesarEstudios() {
                try {
                    this.loading = true;
                    let ids = this.pendientes.map(function (el) {
                        return el.id
                    })
                    await axios.patch(route('api.v1.muestras.sanitarias.estudios.procesar'), {estudios: ids})
                    await this.setData()
                    this.selectedEstudies = []
                    this.toastSuccess('Los estudios se procesaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            async ingresarResultados() {
                try {
                    this.loading = true;
                    let ids = this.enProceso.map(function (el) {
                        return el.id
                    })
                    await axios.patch(route('api.v1.muestras.sanitarias.estudios.reportar'), {estudios: ids})
                    await this.setData()
                    this.selectedEstudies = []
                    this.toastSuccess('Los estudios se procesaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            async autorizarResultados() {
                let ids = this.selectedEstudies.map(function (el) {
                    return el.id
                })

                try {
                    this.loading = true
                    let result = await axios.patch(route('api.v1.muestras.sanitarias.estudios.autorizar'), {estudios: ids})
                    await this.setData()
                    this.selectedEstudies = []
                    this.toastSuccess('Los estudios se autorizaron correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'ui/setSnackBar'
            ])
        },
        computed: {
            resultados() {
                if (!this.selectedEstudies.length) {
                    return [];
                }

                return this.selectedEstudies.filter(function (el) {
                    return el.status.estatus === 'RESULTADOS'
                })
            },
            resultadosCount() {
                return this.resultados.length
            },
            pendientes() {
                if (!this.selectedEstudies.length) {
                    return [];
                }

                return this.selectedEstudies.filter(function (el) {
                    return el.status.estatus === 'PENDIENTE'
                })
            },
            enProceso() {
                if (!this.selectedEstudies.length) {
                    return [];
                }

                return this.selectedEstudies.filter(function (el) {
                    return el.status.estatus === 'EN PROCESO'
                })
            },
            pendientesCount() {
                return this.pendientes.length
            },
            enProcesoCount() {
                return this.enProceso.length
            },
            validados() {
                if (!this.selectedEstudies.length) {
                    return [];
                }

                return this.selectedEstudies.filter(function (el) {
                    return el.status.estatus === 'VALIDADO'
                })
            },
            validadosCount() {
                return this.validados.length
            }
        },
        watch: {
            statusSelected(val) {
                this.setData();
            }
        }
    }
</script>

<style>
    #puta-toolbar > .v-toolbar__content, .v-toolbar__extension {
        padding: 0 !important;
    }
</style>
