<template>
    <form @submit.prevent="submit">
        <v-text-field :error-messages="errors.collect('draft.titulo')"
                      autofocus
                      data-vv-name="draft.titulo"
                      label="Título"
                      type="text"
                      v-model="draft.titulo"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.name')"
                      data-vv-name="draft.name"
                      label="Nombre"
                      type="text"
                      v-model="draft.name"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.last_name')"
                      data-vv-name="draft.last_name"
                      label="Apellidos"
                      type="text"
                      v-model="draft.last_name"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.email')"
                      data-vv-name="draft.email"
                      label="Correo electrónico"
                      type="email"
                      v-model="draft.email"
                      v-validate="'required'"
        ></v-text-field>
        <v-btn :disabled="hasErrors"
               :loading="updating"
               @click="submit"
               block
               color="success"
               type="submit"
        >
            Guardar
        </v-btn>
    </form>
</template>

<script>
    import EventBus from '../../../event-bus'

    export default {
        name: 'ProfileForm',
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    titulo: null,
                    name: null,
                    last_name: null,
                    email: null,
                },
                updating: false,
            }
        },
        created() {
            EventBus.$on('updated', () => {
                this.updating = false
            })

            if (!this.populateWith.empty) {
                this.draft = clone(this.populateWith)
            }
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validate();
                if (isValid) {
                    this.updating = true
                    this.$emit('submit', this.draft)
                }
            }
        },
        computed: {
            hasErrors() {
                return this.errors.any()
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
