<template>
    <v-dialog max-width="600px" persistent v-model="openDialog">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Nuevo menú</v-btn>
        </template>
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Nuevo</span>
            </v-card-title>
            <v-card-text class="pb-0">
                <menu-form @save="save"></menu-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../../mixins/toast'
    import EventBus from '../../../event-bus'

    const MenuForm = () => import('../../../components/administracion/forms/MenuForm')

    export default {
        name: 'Create',
        mixins: [Toast],
        components: {MenuForm},
        props: {},
        data() {
            return {
                openDialog: false,
                loading: false,
            }
        },
        async created() {
            EventBus.$on('CLOSE_DIALOG', () => {
                this.openDialog = false
            })

            try {
                await this['administracion/fetchSistemas']()
            } catch (e) {
                console.log(e)
                this.toastError('Error al cargar los datos')
            } finally {
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true
                    await this['administracion/storeMenu'](draft)
                    EventBus.$emit('CLEAR_FORM');
                    this.toastSuccess('El menú se guardó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'administracion/fetchSistemas',
                'administracion/storeMenu',
                'ui/setSnackBar'
            ])
        },
        watch: {},
        computed: {}
    }
</script>

<style scoped>

</style>
