<template>
    <v-dialog max-width="600px" persistent v-model="openDialog">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Nuevo menú</v-btn>
        </template>
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Nuevo</span>
            </v-card-title>
            <v-card-text class="pb-0">
                <menu-form @save="save"></menu-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions} from 'vuex'
    import {Toast} from '../../../mixins/toast'
    import EventBus from '../../../event-bus'

    const MenuForm = () => import('../../../components/administracion/forms/MenuForm')

    export default {
        name: 'CreateSubMenu',
        mixins: [Toast],
        components: {
            MenuForm
        },
        props: {
            parentId: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                openDialog: false,
                loading: false,
            }
        },
        created() {
            EventBus.$on('CLOSE_DIALOG', () => {
                this.openDialog = false
            })
        },
        methods: {
            async save(draft) {
                try {
                    draft.parent_id = this.parentId
                    this.loading = true
                    await this['administracion/storeSubMenu'](draft)
                    EventBus.$emit('CLEAR_FORM');
                    this.toastSuccess('El menú se guardó correctamente')
                } catch (e) {
                    console.log(e)
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'administracion/storeSubMenu',
                'ui/setSnackBar'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
