<template>
    <v-dialog max-width="600px" persistent v-model="openDialog">
        <template v-slot:activator="{ on }">
            <v-icon small v-on="on">mdi-pencil</v-icon>
        </template>
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Editar</span>
            </v-card-title>
            <v-card-text class="pb-0">
                <menu-form :populate-with="item" @save="save"></menu-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import {Toast} from '../../../mixins/toast'
    import EventBus from '../../../event-bus'

    const MenuForm = () => import('../../../components/administracion/forms/MenuForm')

    export default {
        name: 'Edit',
        mixins: [Toast],
        components: {
            MenuForm
        },
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                loading: false,
                openDialog: false
            }
        },
        async created() {
            EventBus.$on('CLOSE_DIALOG', () => {
                this.openDialog = false
            })

            if (!this.sistemas.length) {
                try {
                    await this['administracion/fetchSistemas']()
                } catch (e) {
                    console.log(e)
                    this.toastError('Error al cargar los datos')
                } finally {
                }
            }
        },
        methods: {
            async save(draft) {
                try {
                    this.loading = true
                    await this['administracion/updateMenu']({id: draft.id, data: draft})
                    this.toastSuccess('El menú se guardó correctamente')
                } catch (e) {
                    console.log(e);
                    this.toastError('Lo sentimos algo ha salido mal, intente de nuevo')
                } finally {
                    this.loading = false
                }
            },
            ...mapActions([
                'administracion/fetchSistemas',
                'administracion/updateMenu',
                'ui/setSnackBar'
            ])
        },
        computed: {
            ...mapState({
                sistemas: state => state.administracion.sistemas
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
