<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-card>
                    <v-card-title>
                        <span class="headline">Menús</span>
                        <v-spacer></v-spacer>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Buscar"
                            class="mr-4"
                            single-line
                            hide-details
                            clearable
                        ></v-text-field>
                        <create-menu></create-menu>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="menus"
                                      :loading="loading"
                                      :single-expand="true"
                                      :disable-pagination="true"
                                      :search="search"
                                      class="elevation-0"
                                      show-expand
                                      hide-default-footer
                        >
                            <template v-slot:item.edit="{item}">
                                <delete-menu :menu="item"></delete-menu>
                                <edit-menu :item="item"></edit-menu>
                            </template>
                            <template v-slot:item.activo="{item}">
                                <span>{{ item.activo | SiNo }}</span>
                            </template>
                            <template v-slot:item.icon="{item}">
                                <v-icon>{{ item.icon }}</v-icon>
                            </template>
                            <template v-slot:expanded-item="{ headers, item }">
                                <td :colspan="headers.length">
                                    <sub-menu-expandable :parent-id="item.id"
                                                         :submenus="item.children_menu"
                                    ></sub-menu-expandable>
                                </td>
                            </template>
                        </v-data-table>
                    </v-card-text>
                    <v-card-actions>

                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import {Toast} from '../../../mixins/toast'
    import EventBus from '../../../event-bus'

    const CreateMenu = () => import('./Create')
    const EditMenu = () => import('./Edit')
    const SubMenuExpandable = () => import('../../../components/administracion/SubMenuExpandable')
    const DeleteMenu = () => import('../../../components/administracion/DeleteMenu')
    const MenuRole = () => import('../../../components/administracion/SistemaRole')

    export default {
        name: 'Index',
        mixins: [Toast],
        components: {
            SubMenuExpandable,
            CreateMenu,
            EditMenu,
            DeleteMenu,
            MenuRole
        },
        props: {},
        data() {
            return {
                headers: [
                    {text: 'Editar', value: 'edit', sortable: false, align: 'center', filterable: false},
                    {text: 'Descripción', value: 'descripcion', sortable: true},
                    {text: 'Icono', value: 'icon', sortable: false, filterable: false},
                    {text: 'Ruta', value: 'path', sortable: false},
                    {text: 'Sistema', value: 'sistema.titulo', sortable: true},
                    {text: 'Orden', value: 'orden', sortable: false, align: 'end', filterable: false},
                    {text: 'Activo', value: 'activo', sortable: false, align: 'center', filterable: false},
                    {text: 'Submenús', value: 'children_menu_count', sortable: false, align: 'end', filterable: false},
                    {text: '', value: 'data-table-expand', filterable: false},
                ],
                loading: false,
                roles: [],
                search: ''
            }
        },
        async created() {
            EventBus.$on('DELETING_MENU', () => {
                this.loading = true
            })

            EventBus.$on('DELETED_MENU', () => {
                this.loading = false
            })
            try {
                this.loading = true
                await this['administracion/fetchMenus']()
            } catch (e) {
                console.log(e)
                this.toastError('Error al cargar los datos')
            } finally {
                this.loading = false
            }
        },
        methods: {
            ...mapActions([
                'administracion/fetchMenus',
                'ui/setSnackBar',
            ])
        },
        computed: {
            ...mapState({
                menus: state => state.administracion.menus
            })
        },
        watch: {},
    }
</script>

<style scoped>

</style>
